// Form styles
// See form-items sub–folder for individuals
// ------------------------------------------------------------

.form {
	position: relative;
	&--support {
		padding: $internal-spacing;
		background: #fff;
		border: $default-border-width solid $default-border-color;
	}
	&--2up {
		padding: 0;
		border: none;
	}
}

// ------------------------------------------------------------
// Sections / fieldsets
// ------------------------------------------------------------

.form-group {
	.form--2up & {
		@extend %pie-clearfix;
		@include respond-to($c-vp) {
			@supports (display: grid) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: 50px;
				grid-auto-rows: minmax(min-content, max-content);
			}
			@supports (display: -ms-grid) {
				display: block;
			}
		}
		.form-field {
			@include respond-to($c-vp) {
				float: left;
				display: block;
				width: 47.5%;
				margin-left: 5%;
				&:first-child {
					margin-left: 0;
				}
				&:nth-child(2n) {
					margin-left: 0;
					clear: left;
					@supports (display: grid) {
						margin-left: 0;
					}
				}
				&:nth-child(3n) {
					margin-left: 5%;
					clear: none;
					margin-top: -95px;
					@supports (display: grid) {
						margin-left: 0;
						margin-top: 0;
					}
				}
				@supports (display: grid) {
					margin-left: 0;
					width: auto;
					align-items: start;
					&:nth-child(2n) {
						grid-area: 2 / 1 / 3 / 2;
					}
					&:nth-child(3n) {
						grid-area: 1 / 2 / 3 / 3;
						padding-top: 0;
					}
				}
				@supports (display: -ms-grid) {
					float: left;
					display: block;
					width: 47.5%;
					margin-left: 5%;
					&:first-child {
						margin-left: 0;
					}
					&:nth-child(2n) {
						margin-left: 0;
						clear: left;
					}
					&:nth-child(3n) {
						margin-left: 5%;
						clear: none;
						margin-top: -95px;
					}
				}
			}
		}
	}
}

.form-heading {
	@extend .type-l;
    @extend .heading;
    line-height: 1.3;
    margin-bottom: 0.75em;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 2em;
        height: 3px;
        background-color: $iati-air;
    }
}

// ------------------------------------------------------------
// Labels
// ------------------------------------------------------------
.form-label {
	@include font-size($form-label-size);
	margin-bottom: 0.25em;
	&.form-label--hidden {
		position: absolute !important;
	    clip: rect(1px, 1px, 1px, 1px);
	    padding: 0px;
	    border: 0 !important;
	    height: 1px !important;
	    width: 1px !important;
	    overflow: hidden;
	}
	.footer & {
		color: #fff;
		@include font-size($epsilon - 1);
	}
	.header-search & {
		color: #fff;
	}
}

// ------------------------------------------------------------
// Form fields
// ------------------------------------------------------------

.form-field {
	position: relative;
	@extend %pie-clearfix;
}

// Space the form field
.form-field--spaced {
	padding-top: $internal-spacing/1.5;
	.footer & {
		padding-top: $internal-spacing/3;
	}
}

.form-flex {
	@extend %l-flexbox;
}

// Standard form elements
.form-item {
	padding: 0 $form-padding/2;
	display: block;
	border: $default-border-width solid #909095;
	appearance: none;
	background-color: #fff;
	min-height: $form-item-height;
	font-size: 16px; // Stop IOS doing the zoom thing, the Git!
	&::focus-inner {
	    border: 0;
	    padding: 0;
	}
	&:focus {
		outline: none;
		border-color: $action;
	}
	.footer & {
		border: none;
		display: inline-block;
		width: 100%;
		@include respond-to($d-vp) {
			width: 70%;
			float: left;
		}
	}
}

.form-file {
	@include font-size($form-label-size);
}

// Turn off spinners for number input field, as flipping ugly
.form-item[type=number]::-webkit-inner-spin-button,
.form-item[type=number]::-webkit-outer-spin-button {
	appearance: none;
}

// Min height to text area
textarea.form-item {
	min-height: 150px;
	padding: $form-padding/2;
}

// ------------------------------------------------------------
// Radio and Checkboxes baseline style
// ------------------------------------------------------------

.form-field__radio-buttons,
.form-field__checkboxes {
	label {
		position: relative;
		top: 0;
		vertical-align: middle;
		&:after {
			clear: left;
			content: "";
			display: block;
			height: 0;
		}
	}
	input {
		float: left;
		margin-right: $internal-spacing-pixel/2;
		vertical-align: middle;
		&:after {
			clear: left;
			content: "";
			display: block;
			height: 0;
		}
	}
	input[type="radio"],
	input[type="checkbox"] {
		width: 16px;
		height: 16px;
		position: relative;
		top: -2px; // Usually needs a wiggle
	}
	input[type="radio"] {
		border-radius: 50%;
	}
}

// For enhanced style (off by default)
// @import "form-items/checkbox-radio";

// ------------------------------------------------------------
// Select baseline style
// ------------------------------------------------------------

.form-field__select-dropdown {
	@include font-size($para);
	background-color: #fff;
	select {
		width: 100%;
		display: block;
		height: $form-item-height;
		background-color: transparent;
		padding-left: $form-padding/2;
		padding-right: $form-padding/2;
		vertical-align: middle;
		border: $default-border-width solid transparent;
		appearance: none;
		background: url(../svg/png/sort-dark.png) #fff no-repeat right 50%;
		background: url(../svg/source/sort-dark.svg) #fff no-repeat right 50%;
		background-origin: content-box;
		background-color: #fff;
		background-size: 14px 14px;
		&:hover, &:focus {
			border-color: $action;
			cursor: pointer;
		}
		&:focus {
			outline: none;
		}
		&::-ms-expand {
			display: none;
		}
	}
}

// ------------------------------------------------------------
// Get individul items and additional styling
// Only add style for checks / radio if enhancing to this level
// ------------------------------------------------------------

@import "form-items/validation";
