// ------------------------------------------------------------
// Layout
// Defing layouts rather than using a set grid system
// Only define the scaffolding, not modules
// Prefix with 'l'
// ------------------------------------------------------------

%l {
	position: relative;
	display: block;
	@extend %pie-clearfix;
}

// For flexbox layouts
%l-flexbox {
	display: flex;
	flex-wrap: wrap;
}

// ------------------------------------------------------------
// Standard
// ------------------------------------------------------------

.l-standard {
	@extend %l;
	padding-bottom: 6em;
}

.l-error {
	@extend %l;
	padding: 6em 0;
}

// ------------------------------------------------------------
// Sidebar
// ------------------------------------------------------------

.l-sidebar {
	@extend %l;
	@include respond-to($sidebar-respond) {
		margin-bottom: 5em;
	}
	&__aside {
		margin-bottom: 5em;
		.l-sidebar--reverse &,
		.l-sidebar--mobile & {
			margin-bottom: 3em;
		}
		@include respond-to($sidebar-respond) {
			float: right;
			display: inline-block;
			width: $sidebar-aside-width;
			.l-sidebar--reverse & {
				float: left;
				margin-bottom: 0;
			}
			.l-sidebar--wide & {
				width: 30%;
			}
		}
	}
	&__body {
		margin-bottom: 5em;
		@include respond-to($sidebar-respond) {
			float: left;
			display: inline-block;
			width: $sidebar-body-width;
			padding-right: 5em;
			margin-bottom: 0;
			.l-sidebar--reverse & {
				float: right;
				padding-right: 0;
				padding-left: 5em;
				order: 1;
			}
			.l-sidebar--wide & {
				width: 70%;
			}
		}
	}
}

// ------------------------------------------------------------
// Offset
// ------------------------------------------------------------

.l-offset {
	@extend %l;
	&__col {
		margin-bottom: 2em;
		@include respond-to($c-vp) {
			margin-bottom: 0;
			width: 30%;
			margin-right: 5%;
			float: left;
			+ .l-offset__col {
				width: 65%;
				margin-right: 0;
			}
		}
	}
	&--reverse {
		.l-offset__col {
			@include respond-to($c-vp) {
				margin-bottom: 0;
				width: 65%;
				margin-right: 5%;
				float: left;
				+ .l-offset__col {
					width: 30%;
					margin-right: 0;
				}
			}
		}
	}
}

// ------------------------------------------------------------
// 3 column grid
// ------------------------------------------------------------

.l-3up {
	@extend %l;
	@include respond-to($c-vp) {
		@supports (display: grid) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: 25px;
		}
		@supports (display: -ms-grid) {
			display: block;
		}
	}
	&__col {
		margin-bottom: 3em;
		&--small {
			margin-bottom: 1.5em;
		}
		@include respond-to($c-vp) {
			float: left;
			display: block;
			width: 30%;
			margin-left: 5%;
			margin-bottom: 1em;
			&:nth-child(3n+1) {
				margin-left: 0;
				clear: left;
				@supports (display: grid) {
					margin-left: 0;
				}
			}
			@supports (display: grid) {
				margin-left: 0;
				width: auto;
			}
			@supports (display: -ms-grid) {
				float: left;
				display: block;
				width: 30%;
				margin-left: 5%;
				&:nth-child(3n+1) {
					margin-left: 0;
					clear: left;
				}
			}
		}
	}
}

// ------------------------------------------------------------
// 2 column grid
// ------------------------------------------------------------

.l-2up {
	@extend %l;
	@include respond-to($c-vp) {
		@supports (display: grid) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 50px;
		}
		@supports (display: -ms-grid) {
			display: block;
		}
		&--offset {
			@supports (display: grid) {
				display: grid;
				grid-template-columns: 2fr 1fr;
				grid-column-gap: 50px;
			}
		}
	}
	&__col, .card {
		margin-bottom: 3em;
		&--small {
			margin-bottom: 1.5em;
		}
		img {
			max-width: 100%;
			display: block;
		}
		@include respond-to($c-vp) {
			float: left;
			display: block;
			width: 47.5%;
			margin-left: 5%;
			&:nth-child(2n+1) {
				margin-left: 0;
				clear: left;
				@supports (display: grid) {
					margin-left: 0;
				}
			}
			&--small {
				margin-bottom: 0;
			}
			@supports (display: grid) {
				margin-left: 0;
				width: auto;
			}
			@supports (display: -ms-grid) {
				float: left;
				display: block;
				width: 47.5%;
				margin-left: 5%;
				&:nth-child(2n+1) {
					margin-left: 0;
					clear: left;
				}
			}
		}
	}
}

// ------------------------------------------------------------
// 4 column grid
// ------------------------------------------------------------

.l-4up {
	@extend %l;
	@include respond-to($c-vp) {
		@supports (display: grid) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-column-gap: 30px;
			.navigation-megamenu & {
				grid-column-gap: 25px;
				&:first-child {
					margin-bottom: 20px;
				}
			}
		}
		@supports (display: -ms-grid) {
			display: block;
		}
		&--double-right {
			@supports (display: grid) {
				grid-template-columns: 1fr 1fr 48.5%;
			}
		}
	}
	&__col {
		margin-bottom: 3em;
		@include respond-to($c-vp) {
			float: left;
			display: block;
			width: 21.25%;
			margin-left: 5%;
			margin-bottom: 1em;
			&:nth-child(4n+1) {
				margin-left: 0;
				clear: left;
				//background-color: red;
				@supports (display: grid) {
					margin-left: 0;
				}
			}
			@supports (display: grid) {
				margin-left: 0;
				width: auto;
				margin-bottom: 0;
			}
			@supports (display: -ms-grid) {
				float: left;
				display: block;
				width: 21.25%;
				margin-left: 5%;
				&:nth-child(4n+1) {
					margin-left: 0;
					clear: left;
				}
			}
		}
		&--double {
			@include respond-to($c-vp) {
				width: 47.5%;
				@supports (display: grid) {
					width: auto;
				}
				@supports (display: -ms-grid) {
					width: 47.5%;
				}
			}
		}
	}
}

// ------------------------------------------------------------
// Cards
// ------------------------------------------------------------

.l-cards {
	@extend %l;
	@include respond-to($c-vp) {
		@supports (display: grid) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: 50px;
			-ms-grid-columns: 30% 5% 30% 5% 30%;
		}
		@supports (display: -ms-grid) {
			display: block;
		}
		&--2up {
			@supports (display: grid) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: 50px;
			}
		}
	}
	.card {
		margin-bottom: 3em;
		@include respond-to($c-vp) {
			float: left;
			display: block;
			width: 30%;
			margin-left: 5%;
			&:nth-child(3n+1) {
				margin-left: 0;
				clear: left;
				@supports (display: grid) {
					margin-left: 0;
				}
			}
			@supports (display: grid) {
				margin-left: 0;
				width: auto;
			}
			@supports (display: -ms-grid) {
				float: left;
				display: block;
				width: 30%;
				margin-left: 5%;
				&:nth-child(3n+1) {
					margin-left: 0;
					clear: left;
				}
			}
			.l-cards--2up & {
				float: left;
				display: block;
				width: 47.5%;
				margin-left: 5%;
				margin-bottom: 0;
				&:nth-child(2n+1) {
					margin-left: 0;
					clear: left;
					@supports (display: grid) {
						margin-left: 0;
					}
				}
				@supports (display: grid) {
					margin-left: 0;
					width: auto;
				}
				@supports (display: -ms-grid) {
					float: left;
					display: block;
					width: 47.5%;
					margin-left: 5%;
					&:nth-child(2n+1) {
						margin-left: 0;
						clear: left;
					}
				}
			}
		}
	}
}

.l-cards-block {
	margin-top: 3em;
	.card {
		margin-bottom: 3em;
		display: block;
	}
}

.l-cards-offset {
	@extend %l;
	@include respond-to($c-vp) {
		@supports (display: flex) {
			display: flex;
			flex-wrap: wrap;
		}
	}
	.card {
		@include respond-to($c-vp) {
			float: left;
			display: block;
			width: 35%;
			+.card {
				width: 65%;
				float: right;
				margin-right: 0;
			}
		}
	}
}

// ------------------------------------------------------------
// Listings
// ------------------------------------------------------------

.l-listing {
	@extend %l;
}
