// ------------------------------------------------------------
// notice
// ------------------------------------------------------------

.body--message {
    // used to modify the body and absolutely positioned elements within
    // make the header relative
    .hero {
        @include respond-to-max($menu-respond) {
            margin-top: -13.5em;
            padding-top: 13.5em;
            &:before {
                height: 200%;
                top: -200%;
            }
        }
        @include respond-to($menu-respond) {
            margin-top: -15em;
        }
    }
}

.notice__wrapper {
    position: relative;
    display: block;
    width: 100%;
    z-index: 12;
    &--notice {
        background-color: $iati-air;
        border-bottom: 1px solid darken($iati-air, 10%);
    }
    &--alert {
        background-color: lighten($warning, 40%);
        border-bottom: 1px solid lighten($warning, 20%);
    }
    &--warning {
        background-color: lighten($error, 35%);
        border-bottom: 1px solid lighten($error, 25%);
    }
}

.notice__content {
    position: relative;
    padding: 20px 0;
    h1,h2,h3 {
        max-width: 900px;
        @include font-size($delta);
        @extend %font-heading;
    }
    p {
        max-width: 900px;
        @include font-size($epsilon);
        @extend %font-body;
    }
    a {
        text-decoration: underline;
    }
    .notice__wrapper--notice & {
        h1,h2,h3,p,a {
            color: $heading-color;
        }
    }
    .notice__wrapper--alert & {
        h1,h2,h3,p,a {
            color: darken($warning, 15%);
        }
    }
    .notice__wrapper--warning & {
        h1,h2,h3,p,a {
            color: darken($error, 15%);
        }
    }
}
.notice__button {
    position: absolute;
    right: 20px;
    @include respond-to-max($menu-respond) {
        right: 0;
    }
    top: 20px;
    @include font-size($delta);
    padding: 3px 10px 1px 10px;
    border-radius: 50%;
    .notice__wrapper--notice & {
        color: $heading-color;
        border: 2px solid $heading-color;
    }
    .notice__wrapper--alert & {
        color: darken($warning, 15%);
        border: 2px solid darken($warning, 15%);
    }
    .notice__wrapper--warning & {
        color: darken($error, 15%);
        border: 2px solid darken($error, 15%);
    }
    .no-js & {
        display: none;
    }
}
