// ------------------------------------------------------------
// Navigation
// ------------------------------------------------------------

// ------------------------------------------------------------
// Primary navigation Toggle
// ------------------------------------------------------------

.navigation-primary-toggle {
	display: none;
	overflow: hidden;
	width: 44px;
	height: 42px;
	position: absolute;
	top: 22px; // Tweak as needed
	right: $internal-spacing;
	&:before,
	&:after {
		content: "";
		display: block;
		overflow: hidden;
		height: 2px;
		width: 44px;
		background-color: $nav-toggle-color;
		position: absolute;
		top: 12px;
	}
	&:after {
		top: auto;
		bottom: 12px;
	}
	span {
		height: 2px;
		width: 44px;
		background-color: $nav-toggle-color;
		text-indent: -999em;
		display: block;
		position: relative;
	}
	@include respond-to-max($menu-respond) {
		html.js & {
			display: block;
		}
		&--active {
			&:before,
			&:after {
				display: none;
			}
			span {
				background-color: $nav-toggle-color-active;
			}
		}
	}
	@include respond-to($menu-respond) {
		display: none;
		html.js & {
			display: none;
		}
	}
}

.search-mobile {
    position: relative;
	margin: 2em 0 1em 0;
    @include respond-to($menu-respond) {
        display: none;
    }
    .form-item {
        @include font-size($para);
    }
    .button {
		position: absolute;
        top: 0;
        right: 0;
    }
}

// ------------------------------------------------------------
// Primary menu with mobile folding
// ------------------------------------------------------------

.navigation-primary {
	display: block;
	@include respond-to-max($menu-respond) {
		overflow: hidden;
		transition: max-height ease-out 0.35s;
		html.js & {
			display: none;
			max-height: 0;
		}
		&--active {
			html.js & {
				display: block;
				transition: max-height ease-out 0.5s;
				max-height: 1000px;
			}
		}
	}
	@include respond-to($menu-respond) {
		display: block;
		//float: right;
		margin-top: 2em;
		//margin-right: 1em;
		border-top: 1px solid $iati-ash;
		//padding-top: 2em;
		html.js & {
			display: block;
		}
	}
	&__item {
		@extend %pie-clearfix;
		@include font-size($zeta - 1);
		&:last-child a {
			border-bottom: none;
		}
		@include respond-to($menu-respond) {
			display: inline-block;
			float: left;
			// margin-left: 1em;
			// &:first-child {
			// 	margin-left: 0;
			// }
		}
		@include respond-to($d-vp) {
			@include font-size($zeta);
		}
		// @include respond-to($d-vp) {
			// margin-left: 2em;
			// &:first-child {
			// 	margin-left: 0;
			// }
		// }
		> a:not(.button) {
			display: block;
			position: relative;
			color: $heading-color;
			span {
				font-size: inherit;
				position: relative;
				z-index: 1;
			}
			@include respond-to-max($menu-respond) {
				padding: 0.75em 0;
				border-bottom: $default-border-width solid $heading-color;
			}
			@include respond-to($menu-respond) {
				//min-height: 40px;
				padding: 1em;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					transform: scaleX(0);
					height: 3px;
					bottom: 0;
					left: 0;
					background-color: $action-respond;
					transform-origin: bottom right;
					transition: transform 0.25s ease-out;
				}
			}
			@include link-active-styles {
				&:after {
					transform: scaleX(1);
  					transform-origin: bottom left;
				}
			}
		}
		&--active {
			> a:not(.button) {
				border-bottom-color: $action-respond;
				border-bottom-width: 3px;
			}
			@include respond-to($menu-respond) {
				> a:not(.button) {
					&:after {
						transform: scaleX(1);
	  					transform-origin: bottom left;
					}
				}
			}
		}
		&--ss-only {
			display: block;
			@include respond-to($menu-respond) {
				display: none;
			}
		}
	}
}

.navigation-primary__item--has-children {
	@include respond-to($menu-respond) {
		@include link-active-styles {
			> .navigation-megamenu {
				display: block;
			}
		}
		.navigation-primary__item--link {
			&.focus {
				+ .navigation-megamenu {
					display: block;
				}
			}
			@include link-active-styles {
				+ .navigation-megamenu {
					display: block;
				}
			}
		}
	}
}

// ------------------------------------------------------------
// Secondary navigation
// used for inpage nav
// ------------------------------------------------------------

.navigation-secondary-toggle {
	position: relative;
	padding: 1em;
	@include font-size($epsilon);
	background-color: #fff;
	display: block;
	width: 100%;
	color: $iati-sunrise;
	outline: none;
	&:before {
		content: "Show";
		margin-right: 5px;
	}
	.ico {
		position: absolute;
		top: 1em;
		right: 1em;
		transition: rotate, ease-out, 0.3s;
	}
	&--active {
		&:before {
			content: "Hide";
		}
		.ico {
			transform: rotate(45deg);
		}
	}
	@include respond-to-max($c-vp) {
		html.js & {
			display: block;
		}
	}
	@include respond-to($c-vp) {
		display: none;
		html.js & {
			display: none;
		}
	}
}

.navigation-secondary {
	display: block;
	border-top: 1px solid $iati-sunrise;
	@include respond-to-max($c-vp) {
		html.js & {
			display: none;
		}
		&--active {
			html.js & {
				display: block;
			}
		}
	}
	&__item {
		margin-top: 1px;
		@include font-size($epsilon);
		a {
			border-left: 2px solid $iati-sunrise;
			padding: 0.75em 1em;
			margin-top: 1px;
			color: $heading-color;
			background-color: #fff;
			display: block;
			transition: all, ease-in-out, 0.3s;
			&:hover {
				border-left-width: 4px;
			}
		}
		&.active a,
		&--active a {
			background-color: $iati-sunrise;
			border-left-width: 4px;
			color: #fff;
		}
		.navigation-secondary--reference & {
			position: relative;
			@include font-size($epsilon - 1);
			button {
				cursor: pointer;
				width: 46px;
				height: 45.5px;
				position: absolute;
				top: 0;
				left: 0;
				text-align: center;
				background-color: $iati-sunrise;
				background-image: url(../svg/source/plus.svg);
				background-position: center;
				background-repeat: no-repeat;
			}
			a {
				padding-left: 60px;
				border-left: 0;
				&:hover {
					text-decoration: underline;
				}
			}
			&.navigation-secondary__item.open {
				> button {
					background-image: url(../svg/source/minus.svg);
				}
			}
		}
	}
}

.navigation-secondary__child-list {
	display: none;
	&.open {
		display: block;
	}
}

.navigation-secondary__child {
	&__item {
		> a {
			background-color: lighten($iati-sunrise, 24%);
			border-left-width: 4px;
			padding-left: 1.5em;
			&:hover {
				border-left-width: 6px;
			}
		}
		&.active > a {
			background-color: lighten($iati-sunrise, 6%);
			border-left-color: lighten($iati-sunrise, 6%);
			color: #fff;
		}
		.navigation-secondary--reference & {
			> a {
				margin-left: 15px;
				width: calc(100% - 15px);
			}
			> button {
				left: 15px;
			}
		}
	}
}

@mixin nested-item($i) {
	$indent: (15 * $i);
	.navigation-secondary__child__item--#{$i} {
		> a {
			margin-left: #{$indent}px;
			width: calc(100% - #{$indent}px);
		}
		> button {
			left: #{$indent}px;
		}
	}
}

.navigation-secondary__child {
	&__item {
		a {
			background-color: lighten($iati-sunrise, 24%);
			border-left-width: 4px;
			color: $heading-color;
			padding-left: 1.5em;
			&:hover {
				border-left-width: 6px;
			}
		}
		&--active a {
			background-color: lighten($iati-sunrise, 6%);
			border-left-color: lighten($iati-sunrise, 6%);
			color: #fff;
		}
		.navigation-secondary--reference & {
			position: relative;
			background-color: #fff;
			a {
				background-color: #fff;
				color: $heading-color;
			}
			> a {
				background-color: #efefef;
				border-left-width: 6px;
				&:hover {
					border-left-width: 8px;
				}
			}
			&.active > a {
				border-left-width: 8px;
				background-color: lighten($iati-sunrise, 6%);
				border-left-color: lighten($iati-sunrise, 6%);
				color: #fff;
			}
			button {
				background-color: lighten($iati-sunrise, 6%);
				background-image: url(../svg/source/plus.svg);
			}
		}
		&.open {
			> button {
				background-image: url(../svg/source/minus.svg);
			}
		}
		@for $i from 1 through 20 {
			@include nested-item($i);
		}
	}
}

.navigation-secondary__third-child {
	&__item {
		a {
			border-left-width: 6px;
			padding-left: 2em;
			color: $heading-color;
			&:hover {
				border-left-width: 8px;
			}
		}
		&--active a {
			border-left-width: 8px;
		}
		&.navigation-secondary__child__item--active {
			a {
				color: #fff;
				background-color: lighten($iati-sunrise, 6%);
			}
		}
	}
}

// ------------------------------------------------------------
// Utility navigation
// ------------------------------------------------------------

.navigation-utility {
	@include respond-to($menu-respond) {
		overflow: hidden;
		display: inline-block;
		float: left;
		// position: absolute;
		// right: 11.5em;
		// top: 0;
		//background-color: $iati-ash;
		padding: 1em 2em 1em 2em;
		margin-right: 1em;
		margin-left: 0.75em;
		border-left: 1px solid $iati-ash;
		border-right: 1px solid $iati-ash;
	}
}

.navigation-utility__item {
	float: left;
	margin-left: 1.5em;
	@include font-size($zeta);
	&:first-child {
		margin-left: 0;
	}
	a {
		color: $heading-color;
		@include link-active-styles {
			border-bottom: 1px solid $action-respond;
		}
	}
	&--active a {
		border-bottom: 1px solid $action-respond;
	}
}


// ------------------------------------------------------------
// Language navigation
// ------------------------------------------------------------

.navigation-language {
	@extend %pie-clearfix;
	@include font-size($zeta);
	display: block;
	@include respond-to($menu-respond) {
		display: inline-block;
		position: relative;
		top: 12px;
		// right: 25em;
		float: left;
	}
	&__item {
		&:first-child {
			margin-right: 10px;
		}
		display: inline-block;
		float: left;
		a {
			background-color: transparent;
			//border: 1px solid $iati-ash;
			padding: 0.9em 0.75em 0.4em 0.75em;
			color: $heading-color;
			transition: all, ease-in-out, 0.3s;
			border-bottom: 3px solid transparent;
			@include link-active-styles {
				//background-color: $iati-air;
				border-bottom: 3px solid $iati-air;
			}
		}
		&--active a {
			//background-color: $iati-air;
			border-bottom: 3px solid $iati-air;
		}
	}
	&--mobile {
		margin-top: 0.5em;
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		.navigation-language__item {
			float: none;
			a {
				display: block;
			}
		}
		@include respond-to($menu-respond) {
			display: none;
		}
	}
}

// ------------------------------------------------------------
// Mega menu
// ------------------------------------------------------------

.navigation-megamenu {
	@extend %pie-clearfix;
	overflow: hidden;
	position: absolute;
	z-index: 200;
	left: 0;
	top: 139px;
	display: none;
	width: 100%;
	background-color: $body-color;
	padding: 2em;
	text-transform: none;
	letter-spacing: 0;
	box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
	@include respond-to-max($menu-respond) {
		display: none;
	}
	@include respond-to($menu-respond) {
		&--active, &.open {
			display: block;
		}
	}
	@include respond-to($d-vp) {
		top: 142px;
	}
	@include respond-to($e-vp) {
		top: 150px;
	}
	.button {
		@extend %font-sans;
		@include font-size($zeta);
		letter-spacing: 0;
		text-transform: none;
		margin-top: 1em;
	}
}

.navigation-megamenu__col {
	position: relative;
	z-index: 2;
	display: block;
	width: 35%;
	float: left;
	margin-right: 3%;
	&--border {
		.l-1up__col, .l-2up__col, .l-3up__col, .l-4up__col {
			border-left: 3px solid $iati-ocean;
			padding-left: 1em;
		}
	}
	&:last-child {
		margin-right: 0;
	}
	+ .navigation-megamenu__col {
		width: 62%;
	}
	&--small {
		width: 25%;
		+ .navigation-megamenu__col {
			width: 72%;
		}
	}
}

.navigation-megamenu__list {
	@include font-size($zeta);
	text-transform: none;
	letter-spacing: 0;
	@extend %font-sans;
	margin-bottom: 0.75em;
	padding-top: 0.75em;
	li {
		margin-bottom: 0.75em;
		line-height: 1.2;
		&:last-child {
			margin-bottom: 0;
		}
		a:not(.button) {
			color: $action;
			text-decoration: underline;
			display: inline-block;
			min-height: auto;
			font-size: inherit;
			&:after {
				content: none;
			}
			&:hover {
				text-decoration: none;
			}
		}
		ul {
			margin-top: 0.25em;
			margin-left: 1em;
		}
	}
}

.navigation-megamenu__list-title {
	@extend .m-highlight__heading;
}

.navigation-megamenu__block {
	margin-bottom: 1em;
	&__heading {
		@include font-size($zeta + 1);
		a:not(.button) {
			color: $action;
			text-decoration: underline;
			display: inline-block;
			min-height: auto;
			font-size: inherit;
			&:after {
				content: none;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__copy {
		@include font-size($zeta);
		margin-top: 0.5em;
	}
	&__link {
		@include font-size($zeta);
		color: $action !important;
		text-decoration: underline;
		margin-top: 0.5em;
		&:after {
			content: none !important;
		}
		&:hover {
			text-decoration: none;
		}
	}
}
