<article class="listing listing--article {% if item.archive == true %} listing--archived{% else %}{% endif %}">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="{{ global.assets_root }}/img/{{ item.image_name }}" alt="alt tag">
		</div>

		<h3 class="listing__location"><i role="presentation" aria-hidden="true" class="ico ico--14 ico-location-ocean"></i>{{ item.location }}</h3>

		{% if item.archive == true %}<span class="badge">Past event</span>{% else %}{% endif %}
	</aside>
	<div class="listing__body">
		<h2 class="listing__heading"><a href=""><span>{{ item.title }}</span></a></h2>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">
				{{ icons.icon('ico-calendar-ocean', '14') }}
				<span class="listing__metadata__date">25 Aug&ndash;28 Oct 2017</span>
			</li>
		</ul>
		<p class="listing__excerpt">{{ item.excerpt }}</p>
		<a href="#" class="button">More details</a>
	</div>
</article>