<article class="listing listing--article listing--people">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="{{ global.assets_root }}/img/portrait.png" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<header class="listing__header">
			<h2 class="listing__heading"><span>{{ item.title }}</span></h2>
			{% if item.logo == true %}
				<div class="listing__body-img {% if item.logo_text == true %}{% else %}listing__body-img--text{% endif %}">
					<img src="{{ global.assets_root }}/img/{{ item.image_name }}" alt="alt tag">
					<span>International Aid Transparency Initiative</span>
				</div>
			{% endif %}
			<ul class="listing__metadata">
				<li class="listing__metadata__item">{{ item.position }}</li>
				<li class="listing__metadata__item">{{ item.role}}</li>
			</ul>
		</header>
		<div class="listing__excerpt is-typeset">{{ item.excerpt }}</div>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">IATI Constituency: {{ item.constituency}}</li>
		</ul>
	</div>
</article>
