<div class="pagination">
    <ul class="pagination pagination__listing">
        <li class="pagination__item pagination__item--prev">
            <a class="pagination__item-prev-link" href="#none">Prev</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__item-link" href="#none">1</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__item-link pagination__item-link--active" href="#none">2</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__item-link" href="#none">3</a>
        </li>
        <li class="pagination__item pagination__item--next">
            <a class="pagination__item-next-link" href="">Next</a>
        </li>
    </ul>

    <div class="pagination pagination__count">
        <p class="pagination__item">3 pages</p>
    </div>
</div>