{% model 'navigation', as="navigation" %}

{# Place button button--small  where needed in the DOM. The might mean moving it from this include #}
<button role="button button--small" class="navigation-primary-toggle" id="navigation-primary-toggle"><span>Menu</span></button>

<nav class="navigation-primary" id="navigation-primary">
    <div class="search-mobile">
        <form action="">
            <label for="search-mobile" class="form-label form-label--hidden">Recherche</label>
    		<input class="form-item" type="text" name="query" placeholder="Search this site">
    		<button class="button" type="submit">Recherche</button>
        </form>
    </div>
    <ul class="navigation-language navigation-language--mobile">
        <li class="navigation-language__item">Lang:</li>
        <li class="navigation-language__item navigation-language__item--active"><a href="#">EN</a></li>
        <li class="navigation-language__item"><a href="#">FR</a></li>
    </ul>
    <ul class="navigation-primary__items">
    	{% for item in navigation.primary_fr %}
            {% if section == item.in_section %}
                <li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--active '><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% else %}
                <li id="section-{{ item.in_section }}" class='navigation-primary__item'><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endif %}
    	{% endfor %}

        {% for item in navigation.utility_fr %}
            {% if section == item.in_section %}
                <li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--ss-only navigation-primary__item--active '><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% else %}
                <li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--ss-only'><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
