{% model 'navigation', as="navigation" %}

{# Place button button--small  where needed in the DOM. The might mean moving it from this include #}
<button role="button button--small" class="navigation-primary-toggle" id="navigation-primary-toggle"><span>Menu</span></button>

<nav class="navigation-primary" id="navigation-primary">
    <ul class="navigation-primary__items">
    	{% for item in navigation.primary_extended %}
    		{% if not item.inactive %}
       			<li class="navigation-primary__item {% if section == item.in_section %}navigation-primary__item--active{% endif %} navigation-primary__item--has-children">
       				<a class="navigation-primary__item--link" href="{{ item.url }}">{{ item.label }}</a>
            		<div class="navigation-megamenu">
            			{% if item.highlight %}
            				 <div class="navigation-megamenu__col navigation-megamenu__col--teaser {{ item.highlight.class }}">
			                    <div class="m-highlight">
			                        <h2 class="m-highlight__heading">{{ item.highlight.heading }}</h2>
			                        <p class="m-highlight__copy">{{ item.highlight.content }}</p>
			                        <a href="http://iatistandard.org/" class="button button--small">Read more</a>
			                    </div>
            				 </div>
            			{% endif %}
            			{% if item.columns %}
                			<div class="{{ item.columns.class }}">
                				{% for col in item.columns.columns %}
                   	 				<div class="{{ col.class }}">
                   	 					{% for sub_col in col.columns %}
		                   	 				<div class="{{ col.column_class }} {{ sub_col.class }}">
	                   	 						{% if sub_col.case_study %}
						                            <article class="case-study">
						                                <div class="case-study__media background-cover" style="background-image: url({{ global.assets_root }}/img/{{ sub_col.image }}"></div>
						                                <div class="case-study__panel">
						                                    <h2 class="case-study__heading"><a href=""><span>{{ sub_col.heading }}</span></a></h2>
						                                    <p class="case-study__excerpt">{{ sub_col.excerpt }}</p>
						                                    <a href="#" class="button button--small">Read more</a>
                                                            <a href="#" class="case-study__text-link">View all case studies</a>
						                                </div>
						                            </article>
	                   	 						{% elif sub_col.highlight %}
						                            <div class="m-highlight {% if not sub_col.not_alt %}m-highlight--alt{% endif %}">
                                                        {% if sub_col.heading %}
                                                            <h3 class="m-highlight__heading">
    						                                	{% if sub_col.no_link_heading %}
    						                                		{{ sub_col.heading }}
    						                                	{% else %}
    						                                		<a href="http://iatistandard.org">{{ sub_col.heading }}</a>
    						                                	{% endif %}
    						                                </h3>
                                                        {% endif %}
						                                {% if sub_col.content %}
						                                	<p class="navigation-megamenu__block__copy">{{ sub_col.content }}</p>
						                                {% endif %}
						                                {% if sub_col.label %}
						                                	<a href="http://iatistandard.org" class="{{ sub_col.label_class|d('text-link') }}">{{ sub_col.label }}</a>
						                                {% endif %}
						                                {% if sub_col.list %}
							                                <ul class="navigation-megamenu__list">
							                                	{% for label in sub_col.list %}
							                                    	<li>
                                                                        {% if label.subcolumn %}
        	                                								{{ label.heading }}
        								                                    <ul>
        								                                    	{% for sub_label in label.column %}
        								                                        	<li><a href="http://iatistandard.org">{{ sub_label }}</a></li>
        								                                        {% endfor %}
        								                                    </ul>
        	                                							{% else %}
        	                                								<a href="http://iatistandard.org">{{ label }}</a>
        	                                							{% endif %}
                                                                    </li>
							                                    {% endfor %}
							                                </ul>
							                            {% endif %}
						                            </div>
	                   	 						{% else %}
	                   	 							<ul class="navigation-megamenu__list">
                                                        {% set loopindex = loop.index0 %}
	                                					{% for label in sub_col %}
	                                						<li class="{% if loop.first %}{{ col.column_title_class[loopindex] }}{% endif %}">
	                                							{% if label.subcolumn %}
	                                								{{ label.heading }}
								                                    <ul>
								                                    	{% for sub_label in label.column %}
								                                        	<li><a href="http://iatistandard.org">{{ sub_label }}</a></li>
								                                        {% endfor %}
								                                    </ul>
	                                							{% else %}
	                                								<a href="http://iatistandard.org">{{ label }}</a>
	                                							{% endif %}
	                                						</li>
	                                					{% endfor %}
	                                				</ul>
	                   	 						{% endif %}
		                   	 				</div>
		                   	 			{% endfor %}
                   	 				</div>
                				{% endfor %}
                			</div>
            			{% endif %}
            		</div>
            	</li>
    		{% endif %}
    	{% endfor %}

        {% for item in navigation.utility %}
            {% if section == item.in_section %}
                <li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--ss-only navigation-primary__item--active '><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% else %}
                <li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--ss-only'><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="search-mobile">
        <form action="">
            <label for="search-mobile" class="form-label form-label--hidden">Search this site</label>
    		<input class="form-item" type="text" name="query" placeholder="Search this site">
    		<button class="button" type="submit">Search</button>
        </form>
    </div>
    <ul class="navigation-language navigation-language--mobile">
        <li class="navigation-language__item">Lang:</li>
        <li class="navigation-language__item navigation-language__item--active"><a href="#">EN</a></li>
        <li class="navigation-language__item"><a href="#">FR</a></li>
    </ul>
</nav>
