{% load wagtailuserbar i18n %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>
            {% block title %}
                {% if self.seo_title %}
                    {{ self.seo_title }}
                {% else %}
                    {% if self.heading %}
                        {{ self.heading }}
                    {% else %}
                        {{ self.title }}
                    {% endif %}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% include 'partials/analytics.html' %}
        {% include 'partials/social-graph.html' %}

        {% block html_header %}
            {% include 'scaffold/header-assets.html' %}
        {% endblock %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="body--message {% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6488R2"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% wagtailuserbar %}
        <div class="ui-base">
		    <a href="#pagecontent" class="skiplink" data-js="skiplink">{% trans "Skip to main content" %}</a>
            {% include 'notices/global-notice.html' %}
            {% block header %}
                {% include 'scaffold/header.html' %}
            {% endblock %}

    		<!-- ID and -nofocus required for proper skiplink operation -->
    		<main id="pagecontent" class="pagecontent -nofocus" role="main" tabindex="-1">
                {% block hero %}{% endblock %}
                {% block content %}{% endblock %}
                {% block after_content %}{% endblock %}
            </main>

            {% block extra_js %}
                {# Override this in templates to add extra javascript #}
            {% endblock %}

            {% block footer %}
                {% include 'scaffold/footer.html' %}
            {% endblock %}
	    </div>
        {% include 'scaffold/footer-assets.html' %}
        {% block html_footer %}{% endblock %}
    </body>
</html>
