/* pagination */
.pagination__item a {
    display: inline !important;
}

.pagination__item-link--active {
    color: #155366 !important;
    border-bottom: 2px solid #155366 !important;
}

/* overrides google search box */
.gsc-search-box .gsc-search-box-tools table, tbody, tr, thead, td {
    background-color: #F6F6F6 !important;
    border: none !important;
}

/* overrides google search results */
.gsc-control-cse .gsc-control-cse-en {
    background-color: #F6F6F6 !important;
    border: none !important;
}

/* overrides results: bold title, hide text snippet */
.gsc-table-cell-snippet-close {
    display: none !important;
}

/* overrides empty resultset */
.gs-no-results-result .gs-snippet {
    background-color: #155366 !important;
    border: none !important;
}