{% load wagtailcore_tags wagtail_modeltranslation responsive i18n tool_utils %}

<div class="card card--tool">
    <div class="card__header">
        {% if item.logo %}
            <div class="card__logo card__logo--background">
                <a href="{% pageurl item %}">
                    {% responsiveimage item.logo width-60 srcset=global.tool_listing_logo_srcs sizes=global.tool_listing_logo_sizes alt=item.logo width='auto' height='auto' %}
                </a>
            </div>
        {% endif %}
        <h3 class="card__heading {% if not item.logo %}card__heading--full{% endif %}"><a href="{% pageurl item %}">{{ item.heading }}</a></h3>
    </div>
    <div class="with-leader is-typeset">
        {% if item.listing_description %}
            <p class="card__excerpt">{{ item.listing_description }}</p>
        {% endif %}
        <p><a href="{% pageurl item %}">{% trans 'Find out more' %}</a></p>
        {% if item.external_url %}
            <p><a href="{{ item.external_url }}">{% trans 'Visit the tool at' %} {{ item.external_url|nice_url }}</a></p>
        {% endif %}
    </div>
</div>
