{% extends "base.html" %}
{% load wagtailcore_tags iati_tags wagtailimages_tags i18n %}

{% block body_class %}body body--news-single{% endblock %}
{% block body_id %}body-news-single{% endblock %}

{% block content %}
    {% if page.feed_image %}
        {% image page.feed_image width-1400 as img %}
        <div class="hero hero--image" style="background-image: url({{ img.url }})">
    {% else %}
        <div class="hero hero--minor">
    {% endif %}
        <div class="row">
            <div class="max-meter">
                <div class="hero__caption">
                    <h1 class="hero__heading">{{ page.heading }}</h1> {% if page.date_start|haspassed %}
                    <span class="badge">{% trans "Past event" %}</span> {% endif %}
                    <p class="hero__subheading">{{ page.excerpt|default:"" }}</p>
                    <span class="hero__type">{{ page.event_type_concat }}</span>
                </div>
            </div>
        </div>
    </div>
    {% include "notices/page-notice.html" %}

    <div class="row">
        <div class="l-sidebar l-sidebar--mobile">
            <aside class="l-sidebar__aside">
                <div class="aside-m">
                    <div class="aside-m__header fill-sunset">
                        <h3 class="aside-m__heading">{% trans "Where &amp; when" %}</h3>
                    </div>
                    <ul class="aside-m__list">
                        {% if page.location %}
                            <li class="aside-m__list-item">
                                <div class="aside-m__list-item-block">
                                    <i role="presentation" aria-hidden="true" class="ico ico--24 ico-location-ocean"></i> {{ page.location }}
                                </div>
                            </li>
                        {% endif %}
                        {% with formatted_dates=page.date_start|twopartdate:page.date_end %}
                            <li class="aside-m__list-item">
                                <div class="aside-m__list-item-block"><i role="presentation" aria-hidden="true" class="ico ico--24 ico-calendar-ocean"></i> <span class="listing__metadata__date">{{ formatted_dates.part1 }}{% if not formatted_dates.part2_is_time %}&ndash;{{ formatted_dates.part2 }}{% endif %}</span></div>
                            </li>
                            {% if formatted_dates.part2_is_time and formatted_dates.part2 %}
                                <li class="aside-m__list-item">
                                    <div class="aside-m__list-item-block">
                                        <i role="presentation" aria-hidden="true" class="ico ico--24 ico-time-ocean"></i>
                                        <span class="listing__metadata__date">{{ formatted_dates.part2 }}</span>
                                    </div>
                                </li>
                            {% endif %}
                        {% endwith %}
                    </ul>
                </div>
                {% if page.registration_link %}
                    <div class="aside-m">
                        <a class="button button--large button--block" target="_blank" rel="noopener noreferrer" href="{{ page.registration_link }}">{% trans "Register your place" %}</a>
                    </div>
                {% endif %}
            </aside>
            <div class="l-sidebar__body">
                {% include 'partials/social-share.html' %}
                {% if page.content_editor %}
                    {% include "home/includes/streamfield.html" with content=page.content_editor %}
                {% endif %}
                {% if page.additional_information %}
                    <div class="m-additional fill-white">
                        <h2 class="m-additional__heading heading">{% trans "Additional information" %}</h2>
                        {% include "home/includes/streamfield.html" with content=page.additional_information %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
