{% load i18n %}

{% if form_success %}
    <div class="para para--typeset alert alert--success">
        <i role="presentation" aria-hidden="true" class="ico ico-success-success"></i>
        <p>{% blocktrans %}
            Query successfully submitted. Our technical team will be in contact with you as soon as possible.
        {% endblocktrans %}</p>
    </div>
{% elif form_submitted %}
    <div class="para para--typeset alert alert--error">
        <i role="presentation" aria-hidden="true" class="ico ico-error-error"></i>
        <p>{% blocktrans %}
        Sorry, something went wrong submitting your query. Please try again later.
        {% endblocktrans %}</p>
    </div>
{% else %}
    <div class="para para--typeset">
        <p>{% blocktrans %}
        Please complete the form below and our team will be able to help you
        {% endblocktrans %}</p>
    </div>
    <form class="form form--support" method="post" action="{{ page.url }}{{ fragment_id }}" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="l-2up">
            <div class="l-2up__col">
                {% include 'contact/includes/form-item.html' with field=form.name %}
                {% include 'contact/includes/form-item.html' with field=form.email spaced=True %}
            </div>
            <div class="l-2up__col">
                {% include 'contact/includes/form-item.html' with field=form.query %}
            </div>
        </div>
        <div class="form-field form-field--spaced">
            <button class="button">{% trans "Submit request" %}</button>
        </div>
    </form>
{% endif %}
