{% extends "base.html" %}

{% block body_class %}body body--home{% endblock %}
{% block body_id %}body-home{% endblock %}

{% block content %}

    <div class="hero {% if page.header_video %}hero--video{% endif %}">
        {% include "home/includes/hero_heading.html" %}
    </div>
    {% include "notices/page-notice.html" %}

    {% include 'home/modules/statistics.html' %}
    {% include 'home/modules/getting-started.html' %}
    {% include 'home/modules/about-iati.html' %}
    {% include 'home/modules/iati-in-action.html' %}
    {% include 'home/modules/iati-tools.html' %}
    {% include 'home/modules/news-tweets.html' %}

{% endblock %}
