{% extends "base.html" %}
{% load wagtail_modeltranslation wagtailimages_tags i18n static %}

{% load iati_tags %}
{% block body_class %}body body--home{% endblock %}
{% block body_id %}body-home{% endblock %}

{% block content %}
<div class="hero">
  {% include "home/includes/hero_heading.html" %}
</div>
<div class="hero-notice">
  <div class="row">
    <p class="hero-notice__copy"><i role="presentation" aria-hidden="true" class="ico ico--18 ico-warning-warning"></i>Important notice: Organisations involved in addressing the COVID-19 pandemic are encouraged to publish data on their spending and activities using the IATI Standard. <a href="https://iatistandard.org/en/news/publishing-data-covid-19-using-iati-standard/">See COVID-19 publishing guidance and read more information</a>.
    </p>
  </div>
</div>
    <div class="row">
        <div class="stats stats--standout">
            <div class="stat-quote fill-sunset">
                <div class="stat-quote__media">
                    <img class="stat-quote__img" src="{% static 'img/UNDP-Achim-Steiner.jpg' %}" alt="{% trans 'Photo of Achim Steiner, UNDP Administrator' %}">
                </div>
                <blockquote>
                    <p class="stat-quote__copy">{% trans "&ldquo;Transparency is a cornerstone of our work at UNDP.&rdquo;" %}</p>
                    <cite>{% trans "Achim Steiner, UNDP Administrator" %}<br />{% trans "IATI member" %}</cite>
                </blockquote>
            </div>
            <div class="stat stat--flex">
                <div class="stat__body stat__body--center">
                    <a class="stat__heading__cta" href="http://d-portal.org/ctrack.html?search&year_min=1960&year=1960#view=main">
                        <h2 class="stat__heading stat__heading--large" id="IATI-Website-Tests_num_iati_activities">{{ page.activities|intcomma }}</h2>
                        <p class="stat__copy">{% trans "Development and humanitarian activities published to the IATI Standard" %}</p>
                    </a>
                </div>

                <div class="stat__body stat__body--center">
                    <a class="stat__heading__cta" href="https://www.iatiregistry.org/publisher">
                        <h2 class="stat__heading stat__heading--large" id="IATI-Website-Tests_num_iati_organisations">{{ page.organisations|intcomma }}</h2>
                        <p class="stat__copy">{% trans "IATI publishers that contribute data for decision-making and accountability" %}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <h2 class="section__heading">{% trans "Getting started" %}</h2>
            <div class="l-3up">
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__header background-cover" style="background-image: url({% static 'img/help1.png' %})">
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">{% trans "Explore our data" %}</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <p class="help__body-copy">{% trans "Understand the ways you can access IATI data, what information you can find and the benefits of using it." %}</p>
                            <a class="button" href="{% default_page_url 'using_data' %}">{% trans "Explore IATI data" %}</a>
                        </div>
                    </div>
                </div>
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__header background-cover" style="background-image: url({% static 'img/help2.png' %})">
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">{% trans "Our publishing guide" %}</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <p class="help__body-copy">{% trans "Find out how to publish data to the IATI Standard and improve your data by using our publishing guidance." %}</p>
                            <a class="button" href="{% default_page_url 'guidance_and_support' %}">{% trans "Get started" %}</a>
                        </div>
                    </div>
                </div>
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__header background-cover" style="background-image: url({% static 'img/help3.png' %})">
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">{% trans "Discover the Standard" %}</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <p class="help__body-copy">{% trans "View IATI reference pages that contain the rules and technical framework for publishing and interpreting IATI data." %}</p>
                            <a class="button" href="{% default_page_url 'iati_standard' %}">{% trans "Find out more" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section-alt-top section-alt-bottom">
            <h2 class="section__heading">{% trans "About IATI" %}</h2>
            <div class="l-2up">
                <div class="l-2up__col">
                    <div class="is-typeset is-typeset--article">
                        <h3></h3>
                        <p>
                          {% blocktrans %}
                          IATI is a global initiative to improve the transparency of development and humanitarian resources and their results for addressing poverty and crises.
                          {% endblocktrans %}
                        </p>
                        <p>
                          {% blocktrans %}
                          IATI brings together governments, multilateral institutions, private sector and civil society organisations and others to increase the transparency of resources flowing into developing countries.
                          {% endblocktrans %}
                        </p>
                        <p>
                          {% blocktrans %}
                          We encourage all organisations that distribute or spend resources to publish information about their development and humanitarian activities using IATI’s data standard. This is a set of rules and guidance to ensure information is easy to access, understand and use.
                          {% endblocktrans %}
                        </p>
                        <a class="button" href="{% default_page_url 'about' %}">{% trans "Find out more about IATI" %}</a>
                    </div>
                </div>
                <div class="l-2up__col">
                    <div class="media-video-wrapper">
                        <iframe width="560" height="315" src="{% trans 'https://www.youtube.com/embed/PbwIUQwL_Jc' %}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if case_studies|length > 0 %}
    <div class="section section-alt-bottom">
        <div class="row">
            <h2 class="section__heading">{% trans "Case studies" %}</h2>

            <div class="max-meter is-typeset is-typeset--article">
                <p class="section__copy">
                  {% blocktrans %}
                  People all over the world use IATI to track the flow of aid, humanitarian and development resources. Some use IATI to publish their data, others access data to inform decision-making and hold authorities to account. Our case studies tell some of their stories.
                  {% endblocktrans %}
                </p>
            </div>
            <div class="l-2up">

              {% for case_study in case_studies %}
                {% if forloop.counter < 3 %}
                  <div class="l-2up__col">
                      <div class="help help--standout">
                        {% if case_study.feed_image %}
                          {% image case_study.feed_image width-600 as img %}
                          <div class="help__header help__header--big background-cover" style="background-image: url({{ img.url }})">
                        {% else %}
                          <div class="help__header help__header--big background-cover" style="background-image: url({% static 'img/image-placeholder.svg' %})">
                        {% endif %}

                              <div class="help__panel fill-sunset">
                                  <h3 class="help__heading">{{ case_study.heading }}</h3>
                                  <p>{{ case_study.excerpt|default:"" }}</p>
                                  <a href="{% slugurl_trans case_study.slug %}">{% trans "Read more" %}</a>
                              </div>
                          </div>
                      </div>
                  </div>
                {% endif %}
              {% endfor %}

            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="section-alt">
            <h2 class="section__heading">{% trans "Partners" %}</h2>
            <div class="l-2up">
                <div class="l-2up__col">
                    <article class="listing listing--article listing--people">
                        <aside class="listing__aside">
                            <div class="listing__media">
                                <img src="{% static 'img/Hillevi-Ekberg-sida.jpg' %}" alt="{% trans 'Photo of Hillevi Ekberg of Sida' %}">
                            </div>
                        </aside>
                        <div class="listing__body">
                            <blockquote class="as-blockquote listing-quote">
                                <p>{% blocktrans %}&ldquo;Transparency has driven us to strengthen data quality and improve our processes. Open data is a foundation for reinforcing trust and improving coordination with partners to achieve more effective aid.&rdquo;{% endblocktrans %}</p>

                                <cite class="heading">Hillevi Ekberg</cite>
                                <cite>{% trans "Sida - Swedish International Development Cooperation Agency" %}<br />{% trans "IATI member" %}</cite>
                            </blockquote>
                        </div>
                    </article>
                </div>
                <div class="l-2up__col">
                    <article class="listing listing--article listing--people">
                        <aside class="listing__aside">
                            <div class="listing__media">
                                <img src="{% static 'img/winnie-kamau.jpg' %}" alt="{% trans 'Photo of Winnie Kamau, Data Journalist' %}">
                            </div>
                        </aside>
                        <div class="listing__body">
                            <blockquote class="as-blockquote listing-quote">
                                <p>{% blocktrans %}&ldquo;IATI is key to ensuring the public knows where development and humanitarian spending goes and what impact it makes. Accessing this data is vital when telling stories and holding decision makers to account.&rdquo;{% endblocktrans %}</p>

                                <cite class="heading">Winnie Kamau</cite>
                                <cite>{% trans "Data Journalist" %}<br />{% trans "Association of Freelance Journalists" %}<br />{% trans "IATI member" %}</cite>
                            </blockquote>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
