language: python
sudo: required
addons:
  hosts:
    - iatistandard.org
python:
  - 3.6
services: postgresql

env:
  - DJANGO_SETTINGS_MODULE=iati.settings.test
install:
  - pip install -r requirements_dev.txt
  - psql -c "CREATE DATABASE travisci;" -U postgres  # Must match DB name in iati.settings.test
  - python manage.py makemigrations_translation
  - python manage.py migrate_translation --no-input
before_script:
  - python manage.py runserver &
script:
  - make test

stages:
  - strict lint
  - test

jobs:
  include:
    - stage: test
      script: make test
    - stage: strict lint
      env:
        - LINTER=flake8
        - DJANGO_SETTINGS_MODULE=iati.settings.test
      script: make flake8
      if: branch IN (master, dev)
    - stage: strict lint
      env:
        - LINTER=pydocstyle
        - DJANGO_SETTINGS_MODULE=iati.settings.test
      script: make pydocstyle
      if: branch IN (master, dev)
