-r requirements.txt
attrs==21.2.0
pytest==7.1.1
pytest-django==4.5.2
pytest-timeout==2.1.0
splinter==0.14.0
pytest-splinter==3.3.1
responses==0.13.3
flake8==3.9.2
pydocstyle==6.0.0
pylint==2.4.4
pylint-django==2.0.13
git+https://github.com/IATI/wagtail-factories.git@35e1bbe135acec42c47f9e0ddb73faf20f2cce32#egg=wagtail-factories
factory-boy==2.11.0
sqlparse==0.4.1
