Babel
beautifulsoup4
bleach
dj-database-url
django-compressor
django-extensions
django-import-export
django-haystack
django-modeltranslation
django-prettyjson
# Pull in a repo with a small fix to get Django 4.2 working
# See https://github.com/kbytesys/django-recaptcha3/issues/22#issuecomment-1848441795
django-recaptcha3 @ git+https://github.com/bartsanchez/django-recaptcha3.git@313509e40163ce381e7aa3decd1de1ed9f71d380
django-storages[azure]
django-widget-tweaks
Django>=4.2,<4.3
elasticsearch>=7,<8
gunicorn
opencensus-ext-azure
opencensus-ext-django
PyGithub
psycopg2-binary
requests
tzdata
wagtail-modeltranslation
wagtail>=5.2,<5.3
Wand
whitenoise
wrapt
sentry-sdk[django]
