-r requirements.txt
attrs
pytest
pytest-django
pytest-timeout
splinter
pytest-splinter
responses
flake8>3.9,<3.10
pydocstyle
pylint>2.4,<2.5
pylint-django>2.0,<2.1
wagtail-factories
factory-boy
sqlparse
django-debug-toolbar
