Babel
beautifulsoup4
bleach
dj-database-url
django-compressor
django-extensions
django-import-export
django-haystack
django-modeltranslation
django-prettyjson
django-recaptcha3
django-storages[azure]
django-widget-tweaks
Django>=3.2,<3.3
elasticsearch>=6.8,<7
gunicorn
opencensus-ext-azure
opencensus-ext-django
PyGithub
psycopg2-binary
requests
wagtail-modeltranslation
wagtail>=4.1,<4.2
Wand
whitenoise
wrapt
