Babel==2.8.0
beautifulsoup4==4.8.2
bleach==3.1.4
dj-database-url==0.5
django-extensions==2.2.9
django-import-export==2.0.2
django-haystack==2.8.1
django-modeltranslation==0.15
django-prettyjson==0.4.1
django-recaptcha3==0.2.0
django-storages[azure]==1.11.1
django-widget-tweaks==1.4.8
Django==2.2.13
elasticsearch==6.8.1
gevent==21.1.2
gunicorn==20.0.4
opencensus-ext-azure==1.0.7
opencensus-ext-django==0.7.4
PyGithub==1.43.8
psycopg2-binary==2.8.5
requests==2.25.0
wagtail-modeltranslation==0.10.13
wagtail==2.9.3
Wand==0.5.9
whitenoise==5.0.1
wrapt==1.11.*
