{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "news-single" %}
{% set section = "events" %}
{% set title = "Case study title" %}
{% set hero_image = "hero-news-article.jpg" %}


{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'events', as="events" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
    {% include 'heroes/hero-image.html' %}
{% endblock %}


{% block body %}
    <div class="sections">
        <div class="row">
            <div class="section-border">
                <div class="l-2up">
                    <div class="l-2up__col">
                        <div class="is-typeset is-typeset--no-trailing is-typeset--article">
                            <h2>The outcomes</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum venenatis sollicitudin. Donec a scelerisque ex, at semper magna. Proin mauris sapien, pharetra eget ullamcorper ac, semper quis elit.</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean fermentum ut ex id porttitor. Etiam vel enim elit. Praesent libero arcu, imperdiet non nisi quis, pulvinar posuere mauris. Mauris egestas maximus faucibus. Ut suscipit velit id est aliquam elementum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum venenatis sollicitudin.</p>
                        </div>
                    </div>

                    <div class="l-2up__col">
                        <div class="media-figure">
                            <div class="m-placeholder"></div>

                            <p class="media-figure__caption">Chart name, <a href="#none">original can be found at d-portal</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-border">
                <div class="l-2up">
                    <div class="l-2up__col">
                        <div class="is-typeset is-typeset--no-trailing is-typeset--article">
                            <h2>What happened</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum venenatis sollicitudin. Donec a scelerisque ex, at semper magna. Proin mauris sapien, pharetra eget ullamcorper ac, semper quis elit.</p>

                            <h3>Step 1</h3>

                            <p>Aenean fermentum ut ex id porttitor. Etiam vel enim elit. Praesent libero arcu, imperdiet non nisi quis, pulvinar posuere mauris.</p>

                            <h3>Step 2</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum venenatis sollicitudin. Donec a scelerisque ex, at semper magna. Proin mauris sapien, pharetra eget ullamcorper ac, semper quis elit.</p>
                        </div>
                    </div>

                    <div class="l-2up__col">
                        <div class="m-quote">
                            <div class="m-quote__img"></div>

                            <blockquote class="m-quote__quote as-blockquote">
                                <p>“Vestibulum facilisis venenatis laoreet”</p>
                                <cite>Source</cite>
                            </blockquote>
                        </div>

                        <div class="stats stats--grid">
                            <div class="l-2up">
                                <div class="l-2up__col l-2up__col--small">
                                    <div class="stat">
                                        <h4 class="stat__heading type-m heading">Projects</h4>
                                        <span class="type-s">1024</span>
                                    </div>
                                </div>
                                <div class="l-2up__col l-2up__col--small">
                                    <div class="stat">
                                        <h4 class="stat__heading type-m heading">Category</h4>
                                        <span class="type-s">824</span>
                                    </div>
                                </div>
                            </div>
                            <div class="l-3up">
                                <div class="l-3up__col l-3up__col--small">
                                    <div class="stat">
                                        <h4 class="stat__heading type-s heading">Other</h4>
                                        <span class="type-xs">1024</span>
                                    </div>
                                </div>
                                <div class="l-3up__col l-3up__col--small">
                                    <div class="stat">
                                        <h4 class="stat__heading type-s heading">Projects</h4>
                                        <span class="type-xs">1024</span>
                                    </div>
                                </div>
                                <div class="l-3up__col l-3up__col--small">
                                    <div class="stat">
                                        <h4 class="stat__heading type-s heading">Stats</h4>
                                        <span class="type-xs">622</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% include 'content/downloads.html' %}
        </div>

        <div class="row">
            <ul class="pagination">
                <li class="pagination__item pagination__item--big pagination__item--prev"><a href="#">Previous</a><li>
                <li class="pagination__item pagination__item--big pagination__item--next"><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
