{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "support" %}
{% set section = "support" %}
{% set title = "Activity information" %}
{% set hero_copy = "" %}
{% set hero_image = "" %}


{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'guidance', as="guidance" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
    {% include 'heroes/hero-minor.html' %}
{% endblock %}

{% block body %}
    <div class="l-standard">
        <div class="row">
            {% include 'partials/breadcrumb.html' %}
            <div class="is-typeset max-meter">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <h2 class="type-m type-m--trailer heading">In this section:</h2>
            <div class="l-cards">
                {% for item in guidance.related_guidance %}
                    {% include 'partials/card-guidance.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
