{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'sidebar.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "events" %}
{% set section = "events" %}
{% set title = "IATI Events" %}
{% set hero_copy = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. " %}
{% set hero_image = "hero1.jpg" %}


{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'events', as="events" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
    {% include 'heroes/hero.html' %}
{% endblock %}

{% block aside %}
    <div class="aside-m">
        <div class="aside-m__header fill-sunset">
            <h3 class="aside-m__heading">Past events</h3>
        </div>
        <div class="aside-m__body">
            <p class="aside-m__copy">[short piece of text explaining your past events]</p>
            <a class="button" href="#support">View past events</a>
        </div>
    </div>
    <div class="aside-m">
        <div class="aside-m__header fill-land">
            <h3 class="aside-m__heading">Event types</h3>
        </div>
        <ul class="aside-m__list">
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
        </ul>
    </div>
{% endblock %}

{% block main %}
    <div class="section-header-link">
        <h2 class="section__heading">Showing "event type" events</h2>
        <a href="#" class="section-header-link__action">Show all events</a>
    </div>
	<div class="l-listing l-listing--events">
		{% for item in events.event_list %}
			{% include 'listings/events.html' %}
		{% endfor %}
	</div>
    {% include 'partials/pagination.html' %}
{% endblock %}
