{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'sidebar-after.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "data" %}
{% set section = "data" %}
{% set title = "Tools and resources" %}
{% set hero_copy = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. " %}
{% set hero_image = "" %}


{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
    {% include 'heroes/hero-minor.html' %}
{% endblock %}

{% block aside %}
    {% include 'asides/cta-support.html' %}
{% endblock %}

{% block main %}
    <div class="is-typeset">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
{% endblock %}

{% block after %}
    <div class="space-section-bottom">
        <div class="row">
            <div class="l-cards l-cards--2up">
                <div class="card card--alt">
                    <h2 class="card__heading">Non-technical tools and resources</h2>
                    <ul class="card__list card__list--alt">
                        <li>Built by IATI</li>
                        <li><a href="#">d-portal</a></li>
                        <li><a href="#">CSV Query Builder</a></li>
                    </ul>
                    <ul class="card__list card__list--alt">
                        <li>Third-party non-technical tools:</li>
                        <li><a href="#">Third-party tools and services for data use</a></li>
                    </ul>
                    <ul class="card__list card__list--alt">
                        <li>Information on importing IATI data onto government Aid Information Managemnet Systems (AIMS)</li>
                        <li><a href="#">IATI-AIMS import</a></li>
                    </ul>
                </div>
                <div class="card card--alt">
                    <h2 class="card__heading">Technical tools and resources</h2>
                    <ul class="card__list card__list--alt">
                        <li>Built by IATI</li>
                        <li><a href="#">IATI Registry</a></li>
                        <li><a href="#">IATI Datasore</a></li>
                    </ul>
                    <ul class="card__list card__list--alt">
                        <li>Third-party non-technical tools:</li>
                        <li><a href="#">Third-party tools and services for data use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
