{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'sidebar-standard.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "standard" %}
{% set section = "standard" %}
{% set title = "" %}
{% set hero_copy = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %}


{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'reference', as="reference" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}
{% import 'macros/alert.html' as alerts %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
    {% include 'heroes/hero-standard.html' %}
{% endblock %}

{% block aside %}
    <div class="aside-m">
        <div class="aside-m__header fill-sunrise">
            <h3 class="aside-m__heading">Reference</h3>
        </div>
        {% include 'navigation/reference.html' %}
    </div>
{% endblock %}

{% block main %}
    <section>
        <div class="is-typeset is-typeset--data">
            {% include 'ssot/div.line-block.html' %}
            {% include 'ssot/div.toctree-wrapper.compound.html' %}
            {% include 'ssot/div.highlight-xml.html' %}
            {% include 'ssot/div.code.highlight-default.html' %}
            {% include 'ssot/p.first.html' %}
            {% include 'ssot/ul.simple.html' %}
            {% include 'ssot/ul.first.last.html' %}
            {% include 'ssot/span.underline.html' %}
            {% include 'ssot/span.xref.std.std-doc.html' %}
            {% include 'ssot/span.caption-text.html' %}
            {% include 'ssot/span.xref.std.std-ref.html' %}
            {% include 'ssot/span.mf.html' %}
            {% include 'ssot/span.s2.html' %}
            {% include 'ssot/span.std.std-ref.html' %}
            {% include 'ssot/span.problematic.html' %}
            {% include 'ssot/ol.arabic.simple.html' %}
            {% include 'ssot/table.docutils.html' %}
            {% include 'ssot/tr.withdrawn.row-even.html' %}
            {% include 'ssot/tbody.withdrawn.html' %}
        </div>
    </section>

    <section class="space-section-top">
        {% include 'asides/cta-contact.html' %}
    </section>
{% endblock %}

{% block html_footer %}
    {% include 'ssot/syntax-highlight.html' %}
{% endblock %}
