{% extends 'default.html' %}
{% set id = "error" %}
{% set section = "error" %}

{# --------------------------------------- #}
{# Over-rides #}
{# --------------------------------------- #}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}
<div class="l-error">
	<div class="row">
		<h1 class="type-xl type-xl--trailer heading">500 error</h1>
		<p class="para">Something technical has gone wrong. It's not your fault. We've been notified and this page will be back soon.</p>
	</div>
</div>
{% endblock %}