{% extends "base.html" %}

{% block body_class %}body body--news{% endblock %}
{% block body_id %}body-news{% endblock %}

{% block content %}
<div class="hero">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">Latest IATI News</h1>

                    <p class="hero__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

            </div>
            <div class="hero__emblem">
                <img class="hero__emblem__mask" src="/static/assets/img/hero1.jpg" alt="alt tag">
            </div>
        </div>
    </div>


<div class="row">
	<div class="l-sidebar">
		<div class="l-sidebar__body">

	<div class="l-listing">

			<article class="listing listing--featured">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/content-image3.jpg" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<h2 class="listing__heading"><a href=""><span>São Tomé and Príncipe is IATI’s first Portuguese-speaking Member</span></a></h2>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">
				<i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-ocean"></i> <span class="listing__metadata__date">27 Feb 2018</span>
			</li>

		</ul>
		<div class="listing__excerpt">São Tomé and Príncipe has become the first Portuguese-speaking country to join IATI. They join 86 members of the initiative</div>
		<a href="#" class="button">Read more</a>
	</div>
</article>



			<article class="listing listing--article">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/content-image.jpg" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<h2 class="listing__heading"><a href=""><span>Donec ex tortor, convallis eu leo eget, sodales bibendum dolor.</span></a></h2>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">
				<i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-ocean"></i> <span class="listing__metadata__date">27 Feb 2018</span>
			</li>

		</ul>
		<div class="listing__excerpt">Nam et semper tellus. Vestibulum ultricies, est sed fringilla porttitor, sem eros mollis urna, in facilisis mauris nibh at leo. Nam volutpat vestibulum malesuada. </div>
		<a href="#" class="button">Read more</a>
	</div>
</article>


<article class="listing listing--article">
<aside class="listing__aside">
<div class="listing__media">
<img src="/static/assets/img/content-image.jpg" alt="alt tag">
</div>
</aside>
<div class="listing__body">
<h2 class="listing__heading"><a href=""><span>Donec ex tortor, convallis eu leo eget, sodales bibendum dolor.</span></a></h2>
<ul class="listing__metadata">
<li class="listing__metadata__item">
  <i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-ocean"></i> <span class="listing__metadata__date">27 Feb 2018</span>
</li>

</ul>
<div class="listing__excerpt">Nam et semper tellus. Vestibulum ultricies, est sed fringilla porttitor, sem eros mollis urna, in facilisis mauris nibh at leo. Nam volutpat vestibulum malesuada. </div>
<a href="#" class="button">Read more</a>
</div>
</article>


<article class="listing listing--article">
<aside class="listing__aside">
<div class="listing__media">
<img src="/static/assets/img/content-image.jpg" alt="alt tag">
</div>
</aside>
<div class="listing__body">
<h2 class="listing__heading"><a href=""><span>Donec ex tortor, convallis eu leo eget, sodales bibendum dolor.</span></a></h2>
<ul class="listing__metadata">
<li class="listing__metadata__item">
  <i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-ocean"></i> <span class="listing__metadata__date">27 Feb 2018</span>
</li>

</ul>
<div class="listing__excerpt">Nam et semper tellus. Vestibulum ultricies, est sed fringilla porttitor, sem eros mollis urna, in facilisis mauris nibh at leo. Nam volutpat vestibulum malesuada. </div>
<a href="#" class="button">Read more</a>
</div>
</article>


	</div>
    <div class="pagination">
   <a href="#" class="pagination__item pagination__item--prev">Previous</a>
   <a href="#" class="pagination__item pagination__item--next">Next</a>
</div>


		</div>
		<aside class="l-sidebar__aside">


	<div class="aside-m">
        <div class="aside-m__header fill-land">
            <h3 class="aside-m__heading">Categories</h3>
        </div>
        <ul class="aside-m__list">
            <li class="aside-m__list-item"><a href="#">Category name</a></li>
            <li class="aside-m__list-item"><a href="#">Category name</a></li>
            <li class="aside-m__list-item"><a href="#">Category name</a></li>
            <li class="aside-m__list-item"><a href="#">Category name</a></li>
            <li class="aside-m__list-item"><a href="#">Category name</a></li>
            <li class="aside-m__list-item"><a href="#">Category name</a></li>
        </ul>
    </div>

		</aside>
	</div>
</div>
{% endblock %}
