{% extends "base.html" %}
{% load static wagtailcore_tags wagtail_modeltranslation i18n %}
{% block body_class %}template-searchresults{% endblock %}
{% block title %}{% trans "Search" %}{% endblock %}
{% block content %}
<div class="hero hero--minor">
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__heading">{% trans "Search iatistandard.org" %}</h1>
        </div>
    </div>
</div>

{% include 'home/includes/search_bar.html' %}

    <div class="row">
        <div class="l-sidebar">
            <div class="l-sidebar__body">
                {% if search_results %}
                <h2 class="type-l type-l--trailer heading">{% blocktrans %}Showing {{ search_results.start_index }}–{{ search_results.end_index }} of {{ paginator.count }} results{% endblocktrans %}</h2>

                <div class="l-cards-block">

                    {% for result in search_results %}

                    <div class="card card--knowledge card--block">
                        <h2 class="card__heading"><a href="{{ result.url }}"><span>{{ result.title }}</span></a></h2>
                    </div>

                    {% endfor %}
                </div>

                {% include 'home/includes/pagination_links.html' with children=search_results %}

                {% elif search_query %}
                <div class="alert alert--notice">
                    <h3 class="type-s type-s--trailer">{% trans "No results found" %}</h3>
                    <p>{% trans "Your search did not return any results, please try again" %}</p>
                </div>
                {% endif %}

            </div>

            <aside class="l-sidebar__aside">
                <div class="aside-m">
                    <div class="aside-m__header fill-sunset">
                        <h3 class="aside-m__heading">{% trans "Contact support" %}</h3>
                    </div>
                    <div class="aside-m__body">
                        <p class="aside-m__copy">{% trans "Our technical team are ready to help you." %}</p>
                        <a class="button js-move" data-target="support" href="#support">{% trans "Get help" %}</a>
                    </div>
                </div>
            </aside>

        </div>

    </div>
{% endblock %}
