{% extends "base.html" %}
{% load static wagtailcore_tags wagtail_modeltranslation i18n %}
{% block body_class %}template-searchresults{% endblock %}
{% block title %}{% trans "Search" %}{% endblock %}
{% block content %}
<div class="hero hero--minor">
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__heading">{% trans "Search iatistandard.org" %}</h1>
        </div>
    </div>
</div>

{% include 'home/includes/search_bar.html' %}

    <div class="row">
        <div class="l-sidebar">
            <div class="l-sidebar__body">
                <gcse:searchresults></gcse:searchresults>
            </div>

            <aside class="l-sidebar__aside">
                <div class="aside-m">
                    <div class="aside-m__header fill-sunset">
                        <h3 class="aside-m__heading">{% trans "Contact support" %}</h3>
                    </div>
                    <div class="aside-m__body">
                        <p class="aside-m__copy">{% trans "Our technical team are ready to help you." %}</p>
                        <a class="button js-move" data-target="support" href="#support">{% trans "Get help" %}</a>
                    </div>
                </div>
            </aside>

        </div>

    </div>
{% endblock %}
