<!doctype html>
<!--[if IE 9]> <html lang="en-GB" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Twitter https://dev.twitter.com/cards/types/summary -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@IATI_aid" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="Example description of the text that will come up when this page is shared on Twitter, or displayed in search listings internally">
    <meta name="twitter:image" content="http://styles.iatistandard.org/assets/img/hero-news-article.jpg">

    <!--Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://iatistandard.org/{{ section }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="Example description of the text that will come up when this page is shared on Facebook, or displayed in search listings internally" />
    <meta property="og:site_name" content="IATI Standard" />
    <meta property="og:image" content="http://styles.iatistandard.org/assets/img/hero-news-article.jpg" />
    <meta property="og:image:width" content=1080>

	<title>{% block title %}{{ global.site_name }}{% endblock %}</title>
    {% block html_header %}
    	{% include 'scaffold/header-assets.html' %}
    {% endblock %}
</head>
<body class="body body--{{ id }} body--message" id="body-{{ id }}">
	<div class="ui-base">
		<a href="#pagecontent" class="skiplink" data-js="skiplink">Skip to main content</a>
		{% include 'partials/message.html' %}
		{% block header %}
			{% if id == 'about' %}
				{% include 'scaffold/header-fr.html' %}
			{% else %}
				{% include 'scaffold/header.html' %}
			{% endif %}
		{% endblock %}
		<!-- ID and -nofocus required for proper skiplink operation -->
		<main id="pagecontent" class="pagecontent -nofocus" role="main" tabindex="-1">
			{% block hero %}{% endblock %}
			{% block body %}{% endblock %}
			{% block after_content %}{% endblock %}
		</main>
		{% block footer %}
			{% include 'scaffold/footer.html' %}
		{% endblock %}
	</div>
	{% include 'scaffold/footer-assets.html' %}
	{% block html_footer %}
	{% endblock %}
</body>
</html>
