<!doctype html>
<html lang="en-GB" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{{ global.site_name }}{% endblock %}</title>
    {% block html_header %}
    	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700|Fira+Mono' rel='stylesheet' type='text/css'>
		<link href="{{ global.assets_root }}/css/ui.css" rel="stylesheet">
    	{% include 'scaffold/header-assets.html' %}
		<script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
    {% endblock %}
</head>
<body class="{% block body_class %}body{% endblock %}">
	<div class="ui-canvas">
		<a href="#pagecontent" class="skiplink" data-js="skiplink">Skip to main content</a>
		<div class="ui-wrapper">
			{% block header %}
			<header role="banner" class="ui-header">
				<div class="ui-row">
					<h1 class="ui-header__title"><a href="/">{{ global.client_name }} Pattern Library {{ page.title }}</a></h1>
					<nav role="navigation" class="ui-navigation" id="ui-navigation-primary">
						<ul>
							<li class="ui-navigation__item {% if ui_title == "Templates" %}ui-navigation__item--current{% else %}{% endif %}"><a href="/page-templates/">Page templates</a></li>
							{% if global.show_style_guide == true %}
							<li class="ui-navigation__item {% if ui_title == "Style guide" %}ui-navigation__item--current{% else %}{% endif %}"><a href="/style-guide/">Style guide</a></li>
							{% else %}{% endif %}
							{% if global.show_modules == true %}
							<li class="ui-navigation__item {% if ui_title == "Modules" %}ui-navigation__item--current{% else %}{% endif %}"><a href="/modules/">Modules</a></li>
							{% else %}{% endif %}
							{% if global.show_developer_guide == true %}
							<li class="ui-navigation__item {% if ui_title == "Developer guide" %}ui-navigation__item--current{% else %}{% endif %}"><a href="/developer-guide/">Developer guide</a></li>
							{% else %}{% endif %}
						</ul>
					</nav>
				</div>
			</header>
			{% endblock %}

			{% block ui_nav %}

			{% endblock %}

			<!-- ID and -nofocus required for proper skiplink operation -->
			<main id="pagecontent" class="pagecontent -nofocus" role="main" tabindex="-1">
				<div class="ui-hero">
					<div class="ui-row">
						<h2 class="ui-hero__heading">{{ ui_title}}</h2>
						<div class="ui-hero__caption">
							{% block ui_description %}{% endblock %}
						</div>
					</div>
				</div>
				<div class="ui-alert">
					During design and development phases, this guide is best viewed in <a href="{{ global.browser_choice_url }}" title="{{ global.browser_choice }}">{{ global.browser_choice }}</a> as it is still a working document.
				</div>

				{% block body %}{% endblock %}
			</main>

			{% block footer %}
			<footer role="contentinfo" class="ui-footer">
				<div class="ui-row">
					<p>This pattern library has been designed to showcase digital design in it's natural environment, the browser. Made with Love, Tea and Biscuits by the B Team.</p>
				</div>
			</footer>
			{% endblock %}
		</div>
	</div>
	{% block html_footer %}
		{% include 'scaffold/footer-assets.html' %}
	{% endblock %}
</body>
</html>