
.ico-bookmark-ash {
	background-image: url('png/bookmark-ash.png');
	background-repeat: no-repeat;
}



.ico-bookmark-black {
	background-image: url('png/bookmark-black.png');
	background-repeat: no-repeat;
}



.ico-bookmark-ocean {
	background-image: url('png/bookmark-ocean.png');
	background-repeat: no-repeat;
}



.ico-bookmark-white {
	background-image: url('png/bookmark-white.png');
	background-repeat: no-repeat;
}



.ico-calendar-ash {
	background-image: url('png/calendar-ash.png');
	background-repeat: no-repeat;
}



.ico-calendar-black {
	background-image: url('png/calendar-black.png');
	background-repeat: no-repeat;
}



.ico-calendar-ocean {
	background-image: url('png/calendar-ocean.png');
	background-repeat: no-repeat;
}



.ico-calendar-white {
	background-image: url('png/calendar-white.png');
	background-repeat: no-repeat;
}



.ico-error-error {
	background-image: url('png/error-error.png');
	background-repeat: no-repeat;
}



.ico-plus-ash {
	background-image: url('png/plus-ash.png');
	background-repeat: no-repeat;
}



.ico-plus-black {
	background-image: url('png/plus-black.png');
	background-repeat: no-repeat;
}



.ico-plus-ocean {
	background-image: url('png/plus-ocean.png');
	background-repeat: no-repeat;
}



.ico-plus-white {
	background-image: url('png/plus-white.png');
	background-repeat: no-repeat;
}



.ico-success-success {
	background-image: url('png/success-success.png');
	background-repeat: no-repeat;
}



.ico-test {
	background-image: url('png/test.png');
	background-repeat: no-repeat;
}



.ico-user-ash {
	background-image: url('png/user-ash.png');
	background-repeat: no-repeat;
}



.ico-user-black {
	background-image: url('png/user-black.png');
	background-repeat: no-repeat;
}



.ico-user-ocean {
	background-image: url('png/user-ocean.png');
	background-repeat: no-repeat;
}



.ico-user-white {
	background-image: url('png/user-white.png');
	background-repeat: no-repeat;
}



.ico-warning-warning {
	background-image: url('png/warning-warning.png');
	background-repeat: no-repeat;
}


