{% extends "base.html" %}
{% load wagtailcore_tags iati_tags %}

{% block body_class %}body body--standard{% endblock %}
{% block body_id %}body-standard{% endblock %}

{% block content %}
<div class="hero">
  <div class="row">
      <div class="hero__caption">
          <h1 class="hero__heading">{{ page.heading }}</h1>
          <p class="hero__subheading">{{ page.excerpt }}</p>
      </div>
      <div class="hero__emblem">
          <img class="hero__emblem__mask" src="/assets/img/hero1.jpg" alt="alt tag">
      </div>
  </div>
</div>

<div class="row">
	<div class="l-sidebar">
		<div class="l-sidebar__body">
      {% if page.content_editor %}
        {% include "home/includes/streamfield.html" with content=page.content_editor %}
      {% endif %}
		</div>
		<aside class="l-sidebar__aside">

    <div class="aside-m">
      <div class="aside-m__header fill-sunset">
          <h3 class="aside-m__heading">How to use the IATI Reference</h3>
          <a class="button" href="#">Visit our guidance</a>
      </div>
    </div>
  </aside>
	</div>
</div>

<div class="space-section-bottom">
    <div class="row">
        <div class="l-cards">
            <div class="card card--alt">
                <h2 class="card__heading">Detailed information about the IATI Standard</h2>
                <ul class="card__list">
                    <li><a id="org-standard" href="http://iatistandard.org/203/organisation-standard/">The Organisation Standard</a></li>
                    <li><a id="act-standard" href="http://iatistandard.org/203/activity-standard/">The Activity Standard</a></li>
                    <li><a id="codelists" href="http://iatistandard.org/203/codelists/">Codelists</a></li>
                    <li><a id="schema" href="http://iatistandard.org/203/schema/">Schema</a></li>
                    <li><a id="org-ids" href="http://iatistandard.org/203/organisation-identifiers/">Organisation Identifiers</a></li>
                </ul>
            </div>
            <div class="card card--alt">
                <h2 class="card__heading">Information about changes to the IATI Standard</h2>
                <ul class="card__list">
                    <li><a id="standard-upgrade" href="http://iatistandard.org/203/upgrades/">How the Standard is upgraded</a></li>
                    <li><a id="prev-versions" href="http://iatistandard.org/203/upgrades/all-versions/">Previous versions</a>
                        <ul class="card__list-child">
                            <li><a id="202" href="http://iatistandard.org/202/">2.02</a></li>
                            <li><a id="201" href="http://iatistandard.org/201/">2.01</a></li>
                            <li><a id="105" href="http://iatistandard.org/105/">1.05</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card card--alt">
                <h2 class="card__heading">IATI Developer documentation</h2>
                <ul class="card__list">
                    <li><a id="info-for-devs" href="http://iatistandard.org/203/developer/">Information for developers</a></li>
                    <li><a id="datastore-guide" href="http://iatistandard.org/203/guidance/datastore/">The IATI Datastore</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
