{% extends "base.html" %}
{% load wagtailcore_tags wagtail_modeltranslation i18n %}

{% block body_class %}body body--support{% endblock %}
{% block body_id %}body-support{% endblock %}

{% block hero %}
    {% include "home/includes/hero_heading.html" with hero_class='hero--minor' para_class='excerpt' %}
    {% include "notices/page-notice.html" %}
{% endblock %}

{% block content %}
    <div class="l-standard">
        <div class="row">
            {% include "home/includes/breadcrumbs.html" %}
            <div class="is-typeset max-meter">
                {% if page.content_editor %}
                    {% include "home/includes/streamfield.html" with content=page.content_editor %}
                {% endif %}
            </div>
            {% if page.depth > 4 %}
                <h2 class="type-m type-m--trailer heading">{% trans "In this section" %}:</h2>
            {% endif %}
            <div class="l-cards">
                {% for group in page.guidance_groups %}
                    <div class="card card--guidance
                        {% if group.count > 1 %}
                             card--stacked ">
                            <span class="card__flag">
                                {% blocktrans with pagecount=group.count %}{{ pagecount }} pages{% endblocktrans %}
                            </span>
                        {% else %}
                            ">
                        {% endif %}
                        <h2 class="card__heading"><a href="{% pageurl group.page %}"><span>{{ group.page.heading }}</span></a></h2>
                        <p class="card__excerpt">{{ group.page.excerpt|default:"" }}</p>
                        <p class="card__excerpt--truncated">{{ group.page.excerpt|default:""|truncatechars:35 }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
