{% extends "base.html" %}
{% load wagtailcore_tags responsive wagtail_modeltranslation static %}

{% block body_class %}body body--support{% endblock %}
{% block body_id %}body-support{% endblock %}

{% block hero %}
    {% include "home/includes/hero_heading.html" %}
    {% include "notices/page-notice.html" %}
{% endblock %}

{% block content %}
    <div class="l-standard">
        <div class="row">
            <div class="max-meter max-meter--wide max-meter--center">
                {% if page.content_editor %}
                    {% include "home/includes/streamfield.html" with content=page.content_editor %}
                {% endif %}
                <div class="l-listing space-section-top">
                    {% for guidance_group in page.guidance_groups %}
                        <article class="listing listing--guidance">
                            <aside class="listing__aside">
                                <div class="listing__media">
                                    {% if guidance_group.section_image %}
                                        {% responsiveimage guidance_group.section_image width-320 srcset=global.guidance_srcs sizes=global.guidance_sizes alt=guidance_group.section_image.title width='auto' height='auto' %}
                                    {% else %}
                                        <img src="{% static 'img/image-placeholder.svg' %}" alt="">
                                    {% endif %}
                                </div>
                            </aside>
                            <div class="listing__body">
                                <h2 class="listing__heading"><a href="{% pageurl guidance_group %}"><span>{{ guidance_group.heading }}</span></a></h2>
                                <div class="listing__excerpt">
                                    {% if guidance_group.section_summary %}
                                        {% include "home/includes/streamfield.html" with content=guidance_group.section_summary %}
                                    {% endif %}
                                </div>
                                <a href="{% pageurl guidance_group %}" class="button">{{ guidance_group.button_link_text|default:"Read more" }}</a>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
