{% extends "base.html" %}
{% load wagtailcore_tags wagtail_modeltranslation i18n recaptcha3 %}

{% block html_header %}
    {% include 'scaffold/header-assets.html' %}
    {% recaptcha_init %}
    {% recaptcha_ready action_name='contact' %}
{% endblock %}

{% block body_class %}body body--support{% endblock %}
{% block body_id %}body-support{% endblock %}

{% block hero %}
    {% include "home/includes/hero_heading.html" with hero_class='hero--minor' para_class='excerpt' %}
    {% include "notices/page-notice.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="l-sidebar">
            <div class="l-sidebar__body">
                {% include "home/includes/breadcrumbs.html" %}
                <div class="is-typeset is-typeset--article">
                    {% if page.content_editor %} {% include "home/includes/streamfield.html" with content=page.content_editor %} {% endif %}
                </div>
            </div>
            <aside class="l-sidebar__aside">
                <div class="aside-m">
                    <div class="aside-m__header fill-sunset">
                        <h3 class="aside-m__heading">{% trans "Contact support" %}</h3>
                    </div>
                    <div class="aside-m__body">
                        <p class="aside-m__copy">{% trans "Our technical team are ready to help you." %}</p>
                        <a class="button js-move" data-target="support" href="#support">{% trans "Get help" %}</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    {% with siblings=self.get_siblings.live.specific %}
        {% if siblings|length > 1 %}
            <div class="row">
                <h2 class="section__heading">{% trans "Related guidance" %}</h2>
                <div class="l-cards">
                    {% for sibling in siblings %}
                        {% if sibling != self %}
                            <div class="card card--guidance ">
                                <h2 class="card__heading"><a href="{% pageurl sibling %}"><span>{{ sibling.heading }}</span></a></h2>
                                <p class="card__excerpt">{{ sibling.excerpt|default:"" }}</p>
                                <p class="card__excerpt--truncated">{{ sibling.excerpt|default:""|truncatechars:35 }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {% with aunts=self.get_parent.get_siblings.live.specific %}
                {% if aunts|length > 1 %}
                    <div class="row">
                        <h2 class="section__heading">{% trans "Related guidance" %}</h2>
                        <div class="l-cards">
                            {% for aunt in aunts %}
                                {% if aunt != self.get_parent.specific %}
                                    <div class="card card--guidance ">
                                        <h2 class="card__heading"><a href="{% pageurl aunt %}"><span>{{ aunt.heading }}</span></a></h2>
                                        <p class="card__excerpt">{{ aunt.excerpt|default:"" }}</p>
                                        <p class="card__excerpt--truncated">{{ aunt.excerpt|default:""|truncatechars:35 }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endwith %}

    <div class="section" id="support">
        <div class="row">
            {% include 'guidance_and_support/includes/contact_form.html' with fragment_id='#support' form_class='form--2up' %}
        </div>
    </div>
{% endblock %}
