{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block body_class %}body body--support{% endblock %}
{% block body_id %}body-support{% endblock %}

{% block content %}
<div class="hero hero--minor">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">What data should I publish?</h1>

            </div>
            <div class="hero__emblem"></div>
        </div>
    </div>


<div class="row">
	<div class="l-sidebar">
		<div class="l-sidebar__body">

    <div class="is-typeset is-typeset--article">
        <p>A small paragraph to <em>emphasis</em> and show <strong>important</strong> bits. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<!-- Check empty tag stripping -->
<p></p>
<p></p>
<ul>
    <li>This is a list item</li>
    <li>So is this - there could be more</li>
    <li>Make sure to style list items to:
        <ul>
            <li>Not forgetting child list items</li>
            <li>Not forgetting child list items</li>
            <li>Not forgetting child list items</li>
            <li>Not forgetting child list items</li>
        </ul>
    </li>
    <li>A couple more</li>
    <li>top level list items</li>
</ul>
<h3>Don't forget:</h4>
<ol>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.
    <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
    </ol>
    </li>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.
</ol>
<h4>A sub heading which is not as important as the first, but is quite imporant overall</h4>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<figure class="media-figure">
	<img src="{% static 'img/ptn-example.jpg' %}" alt="Inline image">
	<figcaption class="media-figure__caption">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</figcaption>
</figure>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>


<!-- Check br tag stripping -->
<br/>
<br/>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<blockquote><p>“Ooh - a blockquote! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa.”</p></blockquote>
<h5>A sub heading which is not as important as the second, but should be used with consideration</h5>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<h6>A sub heading which is not as important as the second, but should be used with consideration</h6>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    </div>

		</div>
		<aside class="l-sidebar__aside">

    <div class="aside-m">
        <div class="aside-m__header fill-sunset">
            <h3 class="aside-m__heading">Contact support</h3>
        </div>
        <div class="aside-m__body">
            <p class="aside-m__copy">Our technical team are ready to help you.</p>
            <a class="button js-move" data-target="support" href="#support">Get help</a>
        </div>
    </div>

		</aside>
	</div>
</div>


    <div class="row">
        <h2 class="section__heading">Related guidance</h2>
        <div class="l-cards">

                <div class="card card--guidance ">

    <h2 class="card__heading"><a href="#"><span>What data shoud I publish?</span></a></h2>
    <p class="card__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>


                <div class="card card--guidance ">

    <h2 class="card__heading"><a href="#"><span>How to use IATI reference?</span></a></h2>
    <p class="card__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>


                <div class="card card--guidance ">

    <h2 class="card__heading"><a href="#"><span>Activity information</span></a></h2>
    <p class="card__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>


        </div>
    </div>

    <div class="section" id="support">
        <div class="row">
            <h2 class="section__heading">Contact support</h2>
            <p class="para para--typeset">Please complete the form below and our team will be able to help you</p>
            <form class="form form--support">
                <div class="l-2up">
                    <div class="l-2up__col">


<div class="form-field ">

	<label for="name" id="" class="form-label ">Name</label>
	<input id="name" class="form-item" name="name"  type="text" placeholder="Text placeholder">


</div>


<div class="form-field form-field--spaced ">

	<label for="email" id="" class="form-label ">Email</label>
	<input id="email" class="form-item" name="email"  type="email" placeholder="Email placeholder">


</div>

                        <div class="form-field form-field--spaced">
                            <label class="form-label" for=file>Attachment</label>
                            <div class="form-item-inline">
                                <input class="form-file" type="file" name="file">
                            </div>
                        </div>
                    </div>
                    <div class="l-2up__col">


<div class="form-field ">

	<label for="textarea" class="form-label ">Textarea</label>
	<textarea id="textarea" class="form-item" name="textarea" ></textarea>


</div>

                    </div>
                </div>
                <div class="form-field form-field--spaced">
                    <button type="submit" class="button">Submit request</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
