{% extends "base.html" %}
{% load wagtailcore_tags i18n recaptcha3 %}

{% block html_header %}
    {% include 'scaffold/header-assets.html' %}
    {% recaptcha_init %}
    {% recaptcha_ready action_name='contact' %}
{% endblock %}

{% block body_class %}body body--support{% endblock %}
{% block body_id %}body-support{% endblock %}

{% block hero %}
    {% include "home/includes/hero_heading.html" %}
    {% include "notices/page-notice.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if page.content_editor %}
            {% include "home/includes/streamfield.html" with content=page.content_editor extra_class='max-meter' notarticle=True %}
        {% endif %}
        <div class="l-sidebar l-sidebar--wide space-section-top">
            <div class="l-sidebar__body" id="support">
                {% include 'guidance_and_support/includes/contact_form.html' with fragment_id='#support' %}
            </div>
            <aside class="l-sidebar__aside">
                <div class="is-typeset">
                    {{ page.alternative_content|richtext }}
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
