{% extends 'patterns.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% import 'macros/alert.html' as alerts %}
{% set ui_title = "Alerts" %}

{% block ui_description %}
	<p>Alerts that indicate something has happened, is happening or were prevented from happening</p>
{% endblock %}

{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}
<div class="ui-row">
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Notice</h2>
		</div>
		<div class="ui-section__component">
{% capture as="html" -%}
{{ alerts.alert('alert--notice', 'Alert message', 'warning-warning') }}
{%- endcapture %}
{{ html }}
		</div>
		<div class="ui-section__body">
			<div class="ui-section__main">
				<div class="ui-section__code">
					<pre><code class="hljs xml">{{ html | e  | trim }}</code></pre>
				</div>
			</div>
			<div class="ui-section__aside">
				<div class="ui-section__notes">
					<h4>Notes</h4>
					<p>Indicates that something is due to happen, or that might be happening in the future.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end Duplicate -->
	
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Success</h2>
		</div>
		<div class="ui-section__component">
{% capture as="html" -%}
{{ alerts.alert('alert--success', 'Alert message', 'success-success') }}
{%- endcapture %}
{{ html }}
		</div>
		<div class="ui-section__body">
			<div class="ui-section__main">
				<div class="ui-section__code">
					<pre><code class="hljs xml">{{ html | e  | trim }}</code></pre>
				</div>
			</div>
			<div class="ui-section__aside">
				<div class="ui-section__notes">
					<h4>Notes</h4>
					<p>Indicates that something has happened as expected</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end Duplicate -->
	
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Error</h2>
		</div>
		<div class="ui-section__component">
{% capture as="html" -%}
{{ alerts.alert('alert--error', 'Alert message', 'error-error') }}
{%- endcapture %}
{{ html }}
		</div>
		<div class="ui-section__body">
			<div class="ui-section__main">
				<div class="ui-section__code">
					<pre><code class="hljs xml">{{ html | e  | trim }}</code></pre>
				</div>
			</div>
			<div class="ui-section__aside">
				<div class="ui-section__notes">
					<h4>Notes</h4>
					<p>Indicates that something has not happened or gone wrong</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end Duplicate -->
</div>
{% endblock %}
