{% extends 'patterns.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% set ui_title = "Icons" %}
{% import 'macros/icon.html' as icons %}

{% block ui_description %}
	<p>Icons are generally built the same way where not included inline as an SVG. We should use Macros where appropriate, and follow the same format for accessibility reasons.</p>
{% endblock %}

{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}
<div class="ui-row">
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Presentational icon setup</h2>
		</div>
		<div class="ui-section__component">
<!-- reference icons here -->
{% capture as="html" -%}
{{ icons.icon('ico-test', '24') }}
{{ icons.icon('ico-warning-warning', '24') }}
{{ icons.icon('ico-success-success', '24') }}
{{ icons.icon('ico-error-error', '24') }}
{%- endcapture %}
{{ html }}
		</div>
		<div class="ui-section__body">
			<div class="ui-section__code">
				<pre><code>{{ html | e | trim }}</code></pre>
			</div>
		</div>
	</div>
	<!-- end Duplicate -->
</div>
{% endblock %}
