{% extends 'patterns.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% model 'ptn-images', as="images" %}

{% set ui_title = "Imagery" %}

{% block ui_description %}
	<p>Quick guide to image selection types, sizing and general rule sets. {% if global.spreadsheet_link == "Blank" %}{% else %} Please <a href="{{ global.spreadsheet_link }}">read the documentation for this project for sizing, formats etc</a>.</p>
	{% endif %}
{% endblock %}


{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}

{% for item in images %}
<div class="ui-row">
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>{{ item.name }}</h2>
		</div>
		<div class="ui-section__body">
			<div class="ui-section__main">
				<img class="max-width" src="{{ global.assets_root}}/img/{{ item.image_name }}"/>
			</div>
			<div class="ui-section__aside">
				<div class="ui-section__notes">
					<h4>Notes</h4>
					{{ item.direction }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}
