{% extends 'patterns.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% set ui_title = "Style guide" %}

{% block ui_description %}
	<p>This section outlines common elements and styles that are used in the design. On each page, you'll find references to how each element should look, and examples on how to code new elements.</p>
{% endblock %}

{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}
<div class="ui-row">
	<div class="ui-section">
		<ul class="ui-page-visuals">
		{% set cls = cycler("ui-fill-coleface", "ui-fill-petronas", "ui-fill-yolk", "ui-fill-jaffa", "ui-fill-flamingo", "ui-fill-jaffa", "ui-fill-elephant", "ui-fill-firetruck", "ui-fill-lemongrass", "ui-fill-felt", "ui-fill-petrol") %}
		{% for item in global.pages_style_guide %}
			<li class="ui-page-visuals__item"><a href="{{ item.url }}" class="{{ cls.next() }}"><span>{{ item.name }}<span></a></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}