{% extends 'patterns.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% set ui_title = "Title" %}

{% block ui_description %}
	
{% endblock %}


{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}
<div class="ui-row">
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Title</h2>
		</div>
		<div class="ui-section__component">
			Element
		</div>
		<div class="ui-section__body">
			<div class="ui-section__main">
				<div class="ui-section__code">
					<pre><code>Escaped Code for element</code></pre>
				</div>
			</div>
			<div class="ui-section__aside">
				<div class="ui-section__notes">
					<h4>Notes</h4>
					<p>Notes go here</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end Duplicate -->
</div>
{% endblock %}