{% import 'macros/icon.html' as icons %}
<div class="header-search">
	<div class="row">
		<button class="header-search__close" type="button">{{ icons.icon('ico-cross-white', '24') }}</button>
		<form class="max-meter max-meter--center">
			<label for="search" class="form-label">Search the IATI website</label>
			<input type="text" name="query" class="form-item">
			<button class="button" type="submit">Search</button>
		</form>
	</div>
</div>
<header role="banner" class="header">
	<a href="/" class="branding"><span>IATI - International Aid Transparency Initiative</span></a>
	<div class="header__utility">
		<ul class="navigation-language">
			<li class="navigation-language__item">Lang:</li>
			<li class="navigation-language__item navigation-language__item--active"><a href="#">EN</a></li>
			<li class="navigation-language__item"><a href="#">FR</a></li>
		</ul>
		{% include 'navigation/utility.html' %}
		<button type="button" class="header-search__trigger">{{ icons.icon('ico-search-ocean', '16') }} Search</button>
	</div>
	{% include 'navigation/primary.html' %}
</header>
