{% extends "base.html" %}

{% block body_class %}body body--contact{% endblock %}
{% block body_id %}body-contact{% endblock %}

{% block content %}
    <div class="hero">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">Contact</h1>

                    <p class="hero__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

            </div>
            <div class="hero__emblem">
                <img class="hero__emblem__mask" src="/static/assets/img/hero1.jpg" alt="alt tag">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="max-meter is-typeset is-typeset--article">
            <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>

            <ul>
                <li>United Nations Development Programme (UNDP)</li>
                <li>Govermentment of Ghana</li>
                <li>Govermentment of Sweden</li>
            </ul>

            <p>Follow us on Twitter for the latest updates on new publishers, events and updates to the <a href="#" title="Under construction">@IATI_aid</a> and <a href="#" title="Under construction">#IATI</a></p>
        </div>

        <div class="m-blocks">
            <div class="m-block">
                <h2 class="m-block__heading">General enquiries about IATI, membership or governance</h2>

                <p class="m-block__copy">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris </p>

                <a class="button" href="#" title="Under construction">info@iatistandard.org</a>
            </div>

            <div class="m-block">
                <h2 class="m-block__heading">Media enquiries</h2>

                <p class="m-block__copy">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris </p>

                <a class="button" href="#" title="Under construction">media@iatistandard.org</a>
            </div>

            <div class="m-block">
                <h2 class="m-block__heading">Information and support on how to publish data to the IATI standard or any other technical enquiries.</h2>

                <p class="m-block__copy">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris </p>

                <a class="button" href="#" title="Under construction">support@iatistandard.org</a>
            </div>

            <div class="m-block">
                <h2 class="m-block__heading">Information and support for developers</h2>

                <p class="m-block__copy">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris </p>

                <a class="button" href="#" title="Under construction">code@iatistandard.org</a>
            </div>
        </div>
    </div>

{% endblock %}
