{% extends "base.html" %}

{% block body_class %}body body--contact{% endblock %}
{% block body_id %}body-contact{% endblock %}

{% block content %}
    <div class="hero">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">{{ page.title }}</h1>
                    <p class="hero__excerpt">{{ page.subheading }}</p>

            </div>
            <div class="hero__emblem">
                <img class="hero__emblem__mask" src="/static/assets/img/hero1.jpg" alt="alt tag">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="max-meter is-typeset is-typeset--article">
            <p>{{ page.description }}</p>
        </div>

        <div class="m-blocks">
            <div class="m-block">
                <h2 class="m-block__heading">General enquiries about IATI, membership or governance</h2>

                <p class="m-block__copy">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris </p>

                <a class="button" href="#none">info@iatistandard.org</a>
            </div>

            <div class="m-block">
                <h2 class="m-block__heading">Media enquiries</h2>

                <p class="m-block__copy">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris </p>

                <a class="button" href="#none">media@iatistandard.org</a>
            </div>

            <div class="m-block">
                <h2 class="m-block__heading">Information and support on how to publish data to the IATI standard or any other technical enquiries.</h2>

                <p class="m-block__copy">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris </p>

                <a class="button" href="#non">support@iatistandard.org</a>
            </div>

            <div class="m-block">
                <h2 class="m-block__heading">Information and support for developers</h2>

                <p class="m-block__copy">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris </p>

                <a class="button" href="#none">code@iatistandard.org</a>
            </div>
        </div>
    </div>

{% endblock %}
