{% if global.hostname %}
  <script defer data-domain="{{global.hostname}}" src="https://plausible.io/js/script.file-downloads.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  <script>
    var responseStart = window.performance.getEntriesByType('navigation')[0].responseStart;
    plausible(
      'TTFB', {
        props: {
            event_category: 'PageSpeed',
            event_label: responseStart,
        },
    });
  </script>
{% endif %}

{% if global.matomo_tag_manager_src %}
  <!-- Matomo Tag Manager -->
  <script>
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    (function() {
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src='{{ global.matomo_tag_manager_src }}'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Tag Manager -->
{% endif %}

