<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K6488R2');</script>
<!-- End Google Tag Manager -->

{% if global.hostname %}
  <script defer data-domain="{{global.hostname}}" src="https://plausible.io/js/script.file-downloads.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  <script>
    var responseStart = window.performance.getEntriesByType('navigation')[0].responseStart;
    plausible(
      'TTFB', {
        props: {
            event_category: 'PageSpeed',
            event_label: responseStart,
        },
    });
  </script>
{% endif %}

{% if global.matomo_tag_manager_src %}
  <!-- Matomo Tag Manager -->
  <script>
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    (function() {
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src='{{ global.matomo_tag_manager_src }}'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Tag Manager -->
{% endif %}