{% load wagtailcore_tags %}
{# Social Media Meta #}
{% if page %}
    <!-- Twitter https://dev.twitter.com/cards/types/summary -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ social_twitter_handle }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.search_description|default:page.excerpt|default:'' }}">
    <meta name="twitter:image" content="{{ wagtail_site.hostname }}{{ page.social_share_image_url }}">

    <!--Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.scheme }}://{{ wagtail_site.hostname }}{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.search_description|default:page.excerpt|default:'' }}" />
    <meta property="og:site_name" content="IATI Standard" />
    <meta property="og:image" content="{{ wagtail_site.hostname }}{{ page.social_share_image_url }}">
{% endif %}
