// ------------------------------------------------------------
// Social icons
// ------------------------------------------------------------

.social-list {
    @extend %clearfix;
    .footer & {
        margin-left: auto;
    }
}

.social-list__item {
    display: inline-block;
    &:not(:last-child) {
        margin-right: 1em;
    }
    a {
        display: block;
        width: 35px;
        height: 35px;
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -9999px;
    }
    &--twitter a {
        background-image: url(../svg/source/twitter-icon.svg);
    }
    &--facebook a {
        background-image: url(../svg/source/facebook-icon.svg);
    }
    &--linkedin a {
        background-image: url(../svg/source/linkedin-icon.svg);
    }
}
