// ------------------------------------------------------------
// Sections
// ------------------------------------------------------------

.sections {
    margin-bottom: 5em;
}

.section {
    @extend .space-section-top;
    @extend .padd-section-both;
    background-color: #fff;
}

.section-alt {
    @extend .space-section-bottom;
}

.section-alt-top {
    @extend .space-section-top;
}

.section-alt-bottom {
    @extend .space-section-bottom;
}

.section-border {
    @extend .space-section-bottom;
    &:not(:last-child) {
        border-bottom: 3px solid $default-border-color;
        @extend .padd-section-bottom;
    }
}

.section__heading {
    @extend .type-l;
    @extend .heading;
    margin-bottom: 0.75em;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2em;
        height: 3px;
        background-color: $iati-air;
    }
}

.section__copy {
    @include font-size($para);
    margin-bottom: 1em;
}
