{% load wagtail_modeltranslation wagtailimages_tags %}

<div class="row">
    <div class="hero__caption">
        <h1 class="hero__heading" style="font-size: 3.8;">{{ page.heading }}</h1>

        <p class="hero__subheading" style="font-size: 1.6;">{{ page.excerpt|default:"" }}</p>

    </div>
    <div class="hero__emblem">
      {% if page.header_image %}
        {% image page.header_image width-1120 as img %}
        <img class="hero__emblem__mask" src="{{ img.url }}" alt="{{ img.alt }}">
      {% endif %}
    </div>
</div>
