{% load wagtailcore_tags wagtailimages_tags %}

<form class="m-search" action="{% url 'search' %}" method="get">
    <div class="row">
            <script>
                (function() {
                    var cx = '007725150068805491441:gue4hx1us_o';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:searchbox></gcse:searchbox>
    </div>
</form>