{% load wagtail_modeltranslation iati_tags %}

<div class="aside-m">
    <div class="aside-m__header fill-sunrise">
        <h3 class="aside-m__heading">In this section</h3>
    </div>
    <button class="navigation-secondary-toggle" type="button" id="navigation-secondary-toggle">pages in this section <i role="presentation" aria-hidden="true" class="ico ico--16 ico-plus-white"></i></button>
    <nav class="navigation-secondary" id="navigation-secondary">
        <ul class="navigation-secondary__list">
          {% for descendant in ancestors_children %}
          {# Children of About (layer 1) #}
            {% with item=descendant.item %}
              <li class="navigation-secondary__item {% if item.pk == calling_page.pk %}navigation-secondary__item--active{% endif %}"><a href="{% slugurl_trans item.slug %}">{% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}</a>
                {% if item.menu_order.all|length > 0 %}
                  {% if calling_page.depth > 3 %}
                    <ul class="navigation-secondary__child">
                      {% for item_descendant in item.menu_order.all %}
                      {# Children of children of About (layer 2) #}
                        {% with item_child=item_descendant.item %}
                          <li class="navigation-secondary__child__item {% if item_child.pk == calling_page.pk %}navigation-secondary__child__item--active{% endif %}"><a href="{% slugurl_trans item_child.slug %}">{% if item_child.heading %}{{ item_child.heading }}{% else %}{{ item_child.title }}{% endif %}</a>
                            {% if item_child.menu_order.all|length > 0 %}
                              {% if calling_page.depth > 4 %}
                                <ul class="navigation-secondary__third-child">
                                  {% for item_descendant_descendant in item_child.menu_order.all %}
                                  {# Children of children of children of About (layer 3) #}
                                    {% with item_child_child=item_descendant_descendant.item %}
                                      <li class="navigation-secondary__third-child__item {% if item_child_child.pk == calling_page.pk %}navigation-secondary__third-child__item--active{% endif %}"><a href="{% slugurl_trans item_child_child.slug %}">{% if item_child_child.heading %}{{ item_child_child.heading }}{% else %}{{ item_child_child.title }}{% endif %}</a></li>
                                    {% endwith %}
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            {% endif %}
                          </li>
                        {% endwith %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endif %}
              </li>
            {% endwith %}
          {% endfor %}
        </ul>
    </nav>
</div>
