{% load wagtail_modeltranslation %}

<div class="aside-m">
    <div class="aside-m__header fill-sunrise">
        <h3 class="aside-m__heading">In this section</h3>
    </div>
    <button class="navigation-secondary-toggle" type="button" id="navigation-secondary-toggle">pages in this section <i role="presentation" aria-hidden="true" class="ico ico--16 ico-plus-white"></i></button>
    <nav class="navigation-secondary" id="navigation-secondary">
        <ul class="navigation-secondary__list">
        {% if self.depth == 3 %}
        {# For pages directly related to Home, e.g. About, Contact #}
            {% with list_items=self.get_children.specific.live %}
                {% for item in list_items %}
                    <li class="navigation-secondary__item"><a href="{% slugurl_trans item.slug %}">{% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}</a></li>
                {% endfor %}
            {% endwith %}
        {% elif self.depth == 4 %}
        {# For child pages of direct descendants of home #}
            {% with list_items_prev=self.get_prev_siblings.specific.live list_items_next=self.get_next_siblings.specific.live children=self.get_children.specific.live %}
                {% for item in list_items_prev reversed %}
                    <li class="navigation-secondary__item"><a href="{% slugurl_trans item.slug %}">{% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}</a></li>
                {% endfor %}
                <li class="navigation-secondary__item navigation-secondary__item--active"><a href="#">{% if self.heading %}{{ self.heading }}{% else %}{{ self.title }}{% endif %}</a>
                {% if children %}
                    <ul class="navigation-secondary__child">
                        {% for child in children %}
                            <li class="navigation-secondary__child__item"><a href="{% slugurl_trans child.slug %}">{% if child.heading %}{{ child.heading }}{% else %}{{ child.title }}{% endif %}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </li>
                {% for item in list_items_next %}
                    <li class="navigation-secondary__item"><a href="{% slugurl_trans item.slug %}">{% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}</a></li>
                {% endfor %}
            {% endwith %}
        {% elif self.depth > 4 %}
        {# For any deeper pages, but should really only be used with depth 5 #}
        {% with parent=self.get_parent.specific list_items_prev=self.get_prev_siblings.specific.live list_items_next=self.get_next_siblings.specific.live children=self.get_children.specific.live %}
            {% with parent_prev=parent.get_prev_siblings.specific.live parent_next=parent.get_next_siblings.specific.live %}
                {% for item in parent_prev reversed %}
                    <li class="navigation-secondary__item"><a href="{% slugurl_trans item.slug %}">{% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}</a></li>
                {% endfor %}
                <li class="navigation-secondary__item navigation-secondary__item--active"><a href="{% slugurl_trans parent.slug %}">{% if parent.heading %}{{ parent.heading }}{% else %}{{ parent.title }}{% endif %}</a>
                <ul class="navigation-secondary__child">
                    {% for item in list_items_prev reversed %}
                        <li class="navigation-secondary__child__item"><a href="{% slugurl_trans item.slug %}">{% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}</a></li>
                    {% endfor %}
                    <li class="navigation-secondary__child__item navigation-secondary__item--active"><a href="#">{% if self.heading %}{{ self.heading }}{% else %}{{ self.title }}{% endif %}</a>
                      {% if children %}
                      <ul class="nagivation-secondary__third-child">
                        {% for child in children %}
                            <li class="navigation-secondary__third-child__item"><a href="{% slugurl_trans child.slug %}">{% if child.heading %}{{ child.heading }}{% else %}{{ child.title }}{% endif %}</a></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                    {% for item in list_items_next %}
                        <li class="navigation-secondary__child__item"><a href="{% slugurl_trans item.slug %}">{% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}</a></li>
                    {% endfor %}
                </ul>
                </li>
                {% for item in parent_next %}
                    <li class="navigation-secondary__item"><a href="{% slugurl_trans item.slug %}">{% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}</a></li>
                {% endfor %}
            {% endwith %}
        {% endwith %}
        {% endif %}
        </ul>
    </nav>
</div>
