{% load wagtailcore_tags iati_tags i18n %}

<button role="button button--small" class="navigation-primary-toggle" id="navigation-primary-toggle"><span>{% trans "Menu" %}</span></button>

<nav class="navigation-primary" role="navigation" id="navigation-primary">
    <div class="search-mobile">
        <form action="{% url 'search' %}">
            <label for="search-mobile" class="form-label form-label--hidden">{% trans "Search this site" %}</label>
            <input class="form-item" type="text" name="query" placeholder="{% trans "Search this site" %}">
            <button class="button" type="submit">{% trans "Search" %}</button>
        </form>
    </div>
    {% if has_multilanguage_support %}
        <ul class="navigation-language navigation-language--mobile">
            {% translation_links calling_page=self %}
        </ul>
    {% endif %}
    <ul class="navigation-primary__items">
        <li id="section-about" class='navigation-primary__item {% check_active "about" "primary"%}'>
            <a class="navigation-primary__item--link" href="{% default_page_url 'about' %}">{% trans "About" %}</a>
        </li>
        <li id="section-standard" class='navigation-primary__item {% check_active "iati-standard" "primary"%}'>
            <a class="navigation-primary__item--link" href="{% default_page_url 'iati_standard' %}">{% trans "IATI Standard" %}</a>
        </li>
        <li id="section-data" class='navigation-primary__item {% check_active "using-data" "primary"%}'>
            <a class="navigation-primary__item--link" href="{% default_page_url 'using_data' %}">{% trans "Using Data" %}</a>
        </li>
        {% if global.has_new_tools_page %}
            <li id="section-data" class='navigation-primary__item {% check_active "iati-tools-and-resources" "primary"%}'>
                <a class="navigation-primary__item--link" href="{% default_page_url 'tools_and_resources' %}">{% trans "Tools & Resources" %}</a>
            </li>
        {% endif %}
        <li id="section-support" class='navigation-primary__item {% check_active "guidance" "primary"%}'>
            <a class="navigation-primary__item--link" href="{% default_page_url 'guidance_and_support' %}">{% trans "Guidance & Support" %}</a>
        </li>
        <li id="section-community" class='navigation-primary__item {% check_active "community" "primary"%}'>
            <a class="navigation-primary__item--link" href="{% default_page_url 'community' %}">{% trans "Community" %}</a>
        </li>
        <li id="section-news" class='navigation-primary__item navigation-primary__item--ss-only {% check_active "news" "primary" %}'>
            <a class="navigation-primary__item--link" href="{% default_page_url 'news' %}">{% trans "News" %}</a>
        </li>
        <li id="section-events" class='navigation-primary__item navigation-primary__item--ss-only {% check_active "events" "primary" %}'>
            <a class="navigation-primary__item--link" href="{% default_page_url 'events' %}">{% trans "Events" %}</a>
        </li>
        <li id="section-contact" class='navigation-primary__item navigation-primary__item--ss-only {% check_active "contact" "primary" %}'>
            <a class="navigation-primary__item--link" href="{% default_page_url 'contact' %}">{% trans "Contact" %}</a>
        </li>
    </ul>
</nav>
