{% load iati_tags i18n %}

<ul class="navigation-utility">
    <li id="section-news" class='navigation-utility__item {% check_active "news" %}'>
        <a href="{% default_page_url 'news' %}">{% trans "News" %}</a>
    </li>
    <li id="section-events" class='navigation-utility__item {% check_active "events" %}'>
        <a href="{% default_page_url 'events' %}">{% trans "Events" %}</a>
    </li>
    <li id="section-contact" class='navigation-utility__item {% check_active "contact" %}'>
        <a href="{% default_page_url 'contact' %}">{% trans "Contact" %}</a>
    </li>
</ul>

