{% extends 'patterns.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% model 'ptn-team', as="team" %}
{% set ui_title = "Pattern library" %}

{% block ui_description %}
	<p>{{ global.client_name }}</p>
{% endblock %}

{# --------------------------------------- #}
{# UI Sub–nav options #}
{# --------------------------------------- #}

{% block ui_nav %}{% endblock %}

{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}

{% if global.show_style_guide == false and global.show_modules == false and global.show_developer_guide == false %}
{% else %}
<div class="ui-row">
	<div class="ui-section ui-section--normalised ui-section--first">
		{% if global.show_style_guide == false and global.show_modules == false %}
			<ul class="ui-page-visuals ui-page-visuals--2up">
		{% elif global.show_style_guide == false and global.show_developer_guide == false %}
			<ul class="ui-page-visuals ui-page-visuals--2up">
		{% elif global.show_modules == false and global.show_developer_guide == false %}
			<ul class="ui-page-visuals ui-page-visuals--2up">
		{% elif global.show_style_guide == true and global.show_modules == false %}
			<ul class="ui-page-visuals ui-page-visuals--3up">
		{% elif global.show_style_guide == false and global.show_modules == true %}
			<ul class="ui-page-visuals ui-page-visuals--3up">
		{% elif global.show_style_guide == true and global.show_developer_guide == false %}
			<ul class="ui-page-visuals ui-page-visuals--3up">
		{% elif global.show_style_guide == false and global.show_developer_guide == true %}
			<ul class="ui-page-visuals ui-page-visuals--2up">
		{% elif global.show_modules == true and global.show_developer_guide == false %}
			<ul class="ui-page-visuals ui-page-visuals--3up">
		{% elif global.show_modules == false and global.show_developer_guide == true %}
			<ul class="ui-page-visuals ui-page-visuals--3up">
		{% else %}
			<ul class="ui-page-visuals">
		{% endif %}
				<li class="ui-page-visuals__item">
					<a href="/page-templates/"><span>Page templates</span>
						<p>A list of all the templates that make up this project</p>
					</a>
				</li>
				{% if global.show_style_guide == true %}
				<li class="ui-page-visuals__item">
					<a href="/style-guide/"><span>Style guide</span>
						<p>Consistency and element use across the whole project</p>
					</a>
				</li>
				{% else %}{% endif %}
				{% if global.show_modules == true %}
				<li class="ui-page-visuals__item">
					<a href="/modules/"><span>Modules</span>
						<p>Portions of templates that can be used in combination to create new templates if needed</p>
					</a>
				</li>
				{% else %}{% endif %}
				{% if global.show_developer_guide == true %}
				<li class="ui-page-visuals__item">
					<a href="/developer-guide/"><span>Developer guide</span>
						<p>Construction of markup used on the project</p>
					</a>
				</li>
				{% else %}{% endif %}
			</ul>
	</div>
</div>
{% endif %}

{% if global.spreadsheet_link == "Blank" and global.functional_spec_link == "Blank" %}
{% else %}
<div class="ui-row">
	<div class="ui-section ui-section--highlight">
		<h2 class="ui-section__header">Documentation</h2>
		<div class="ui-section__body">
			<div class="ui-section__body__type">
				<p>In brief, documentation contains the minutiae of the project detail, including text lengths, images sizes, and what appears where.</p>
				{% if global.spreadsheet_link == "Blank" %}
					<p><b>There is currently no documentation associated with this project</b></p>
				{% else %}
					<p><a href="{{ global.spreadsheet_link }}">Read the documentation</a></p>
				{% endif %}

				{% if global.functional_spec_link == "Blank" %}
				{% else %}
					<p><a href="{{ global.functional_spec_link }}">Read the functional spec</a></p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="ui-row">
	<!-- Contacts -->
	<div class="ui-section ui-section--normalise">
		<div class="ui-section__team">
			{% for item in team %}
			<div class="ui-section__team__member">
				{% if item.image_url == "" %}
				{% else %}
					<img src="{{ item.image_url }}" class="ui-section__team__member__image" alt="Photo of {{ item.name }}"/>
				{% endif %}
				<strong>{{ item.name }}</strong>
				{{ item.job }}
				{% if item.email == "" %}
				{% else %}
					<a href="mailto:{{ item.email }}">{{ item.email }}</a>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}