{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtail_modeltranslation iati_tags i18n %}

{% block body_class %}body body--events{% endblock %}
{% block body_id %}body-events{% endblock %}

{% block content %}
 <div class="hero">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">{% if past %}Past {% endif %}{{ page.heading }}</h1>
                
                    <p class="hero__excerpt">{{ page.excerpt }}</p>
                
            </div>
            <div class="hero__emblem">
                <img class="hero__emblem__mask" src="/static/assets/img/hero1.jpg" alt="alt tag">
            </div>
        </div>
    </div>

			
<div class="row">
	<div class="l-sidebar">
		<div class="l-sidebar__body">
			
	{% if past %}
	<div class="l-listing l-listing--past">
	{% else %}
	<div class="l-listing l-listing--events">
	{% endif %}
        {% if request.GET.event_type|length %}
        <div class="is-typeset is-typeset--article">
		<h4>{% blocktrans with event_type_name=request.GET.event_type|event_type_verbose %} Showing only "{{ event_type_name }}" events.{% endblocktrans %} <a href="{% slugurl_trans self.slug %}?{% for key,value in request.GET.items %}{% if not key == 'event_type' %}{% if not key == 'page' %}{% if not forloop.first %}&amp;{% endif %}{{ key }}={{ value }}{% endif %}{% endif %}{% endfor %}">{% trans "Show all" %}</a></h4>
	 </div>
	{% endif %}
	{% for event in events %}
            {% with event=event.specific %}
			<article class="listing listing--article  listing--archived">
	<aside class="listing__aside">
		<div class="listing__media">
		{% if event.feed_image %}
		  {% image event.feed_image width-200 as img %}
		  <img src="{{ img.url }}" alt="{{ img.title }}" />
		  {% else %}
		  <img src="/static/assets/svg/source/logo-square.svg" alt="iati logo"/>
		  {% endif %}
		</div>
        {% if event.location %}
		<h3 class="listing__location"><i role="presentation" aria-hidden="true" class="ico ico--14 ico-location-ocean"></i>{{ event.location }}</h3>
        {% endif %}
		<span class="badge">Past event</span>
	</aside>
	<div class="listing__body">
		<h2 class="listing__heading"><a href="{% slugurl_trans event.slug %}"><span>{{ event.heading }}</span></a></h2>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">
				<i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-ocean"></i>
				{% with formatted_dates=event.date_start|twopartdate:event.date_end %}
				<span class="listing__metadata__date">{{ formatted_dates.part1 }}{% if formatted_dates.part2_is_time %} {% else %}&ndash;{% endif %}{{ formatted_dates.part2 }}</span>
				{% endwith %}
			</li>
		</ul>
		<p class="listing__excerpt">{{ event.excerpt }}</p>
		<a href="{% slugurl_trans event.slug %}" class="button">More details</a>
	</div>
</article>

            {% endwith %}
        {% endfor %}
		
		
	</div>
    {% include "home/includes/pagination_links.html" with children=events %}


		</div>
		<aside class="l-sidebar__aside">
			
    <div class="aside-m">
        <div class="aside-m__header fill-land">
            <h3 class="aside-m__heading">Event types</h3>
        </div>
        <ul class="aside-m__list">
		{% for event_type in page.event_types %}
            <li class="aside-m__list-item"><a href="?event_type={{ event_type.slug }}{% for key,value in request.GET.items %}{% ifnotequal key 'event_type' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ event_type.name }}</a></li>
	       {% endfor %}
        </ul>
    </div>

		</aside>
	</div>
</div>
{% endblock %}