{% extends "base.html" %}

{% load wagtailcore_tags wagtail_modeltranslation %}

{% block body_class %}body body--events{% endblock %}
{% block body_id %}body-events{% endblock %}

{% block content %}
<div class="hero">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">IATI Events</h1>
                
                    <p class="hero__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                
            </div>
            <div class="hero__emblem">
                <img class="hero__emblem__mask" src="/static/assets/img/hero1.jpg" alt="alt tag">
            </div>
        </div>
    </div>

			
<div class="row">
	<div class="l-sidebar">
		<div class="l-sidebar__body">
			
	<div class="l-listing l-listing--events">
		
			<article class="listing listing--article  listing--archived">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/content-image.jpg" alt="alt tag">
		</div>

		<h3 class="listing__location"><i role="presentation" aria-hidden="true" class="ico ico--14 ico-location-ocean"></i>Jisc, Brettenham House, 5 Lancaster Place, London, WC2E 7EN</h3>

		<span class="badge">Past event</span>
	</aside>
	<div class="listing__body">
		<h2 class="listing__heading"><a href=""><span>Health Survey for England: Introductory Workshop</span></a></h2>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">
				<i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-ocean"></i>
				<span class="listing__metadata__date">25 Aug&ndash;28 Oct 2017</span>
			</li>
		</ul>
		<p class="listing__excerpt">The following examples include an image of how the example should look in a supporting browser, they each link to a page with more information about the technique being shown, code and a CodePen of the example. Unless otherwise noted these examples work in any browser supporting the up to date Grid Specification</p>
		<a href="#" class="button">More details</a>
	</div>
</article>
		
			<article class="listing listing--article  listing--archived">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/content-image2.jpg" alt="alt tag">
		</div>

		<h3 class="listing__location"><i role="presentation" aria-hidden="true" class="ico ico--14 ico-location-ocean"></i>Bristol House, Innovation Way, Manchester, MA25 PN9</h3>

		<span class="badge">Past event</span>
	</aside>
	<div class="listing__body">
		<h2 class="listing__heading"><a href=""><span>David Telling Trust call for fellowship and grant applications</span></a></h2>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">
				<i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-ocean"></i>
				<span class="listing__metadata__date">25 Aug&ndash;28 Oct 2017</span>
			</li>
		</ul>
		<p class="listing__excerpt">The following examples include an image of how the example should look in a supporting browser, they each link to a page with more information about the technique being shown, code and a CodePen of the example. Unless otherwise noted these examples work in any browser supporting the up to date Grid Specification</p>
		<a href="#" class="button">More details</a>
	</div>
</article>
		
			<article class="listing listing--article  listing--archived">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/content-image3.jpg" alt="alt tag">
		</div>

		<h3 class="listing__location"><i role="presentation" aria-hidden="true" class="ico ico--14 ico-location-ocean"></i>Enterprise House, Innovation Way, University of York, York, YO10 5NQ</h3>

		<span class="badge">Past event</span>
	</aside>
	<div class="listing__body">
		<h2 class="listing__heading"><a href=""><span>Advanced Search Strategy Design for Complex Topics training course</span></a></h2>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">
				<i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-ocean"></i>
				<span class="listing__metadata__date">25 Aug&ndash;28 Oct 2017</span>
			</li>
		</ul>
		<p class="listing__excerpt">The following examples include an image of how the example should look in a supporting browser, they each link to a page with more information about the technique being shown, code and a CodePen of the example. Unless otherwise noted these examples work in any browser supporting the up to date Grid Specification</p>
		<a href="#" class="button">More details</a>
	</div>
</article>
		
	</div>
    <div class="pagination">
   <a href="#" class="pagination__item pagination__item--prev">Previous</a>
   <a href="#" class="pagination__item pagination__item--next">Next</a>
</div>


		</div>
		<aside class="l-sidebar__aside">
			
    <div class="aside-m">
        <div class="aside-m__header fill-sunset">
            <h3 class="aside-m__heading">Past events</h3>
        </div>
        <div class="aside-m__body">
            <p class="aside-m__copy">[short piece of text explaining your past events]</p>
            <a class="button" href="#support">View past events</a>
        </div>
    </div>
    <div class="aside-m">
        <div class="aside-m__header fill-land">
            <h3 class="aside-m__heading">Event types</h3>
        </div>
        <ul class="aside-m__list">
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
        </ul>
    </div>

		</aside>
	</div>
</div>
{% endblock %}