{% extends "base.html" %}

{% load wagtailcore_tags wagtail_modeltranslation %}

{% block body_class %}body body--events{% endblock %}
{% block body_id %}body-events{% endblock %}

{% block content %}
 <div class="hero">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">{{ page.heading }}</h1>
                
                    <p class="hero__excerpt">{{ page.excerpt }}</p>
                
            </div>
            <div class="hero__emblem">
                <img class="hero__emblem__mask" src="/static/assets/img/hero1.jpg" alt="alt tag">
            </div>
        </div>
    </div>

			
<div class="row">
	<div class="l-sidebar">
		<div class="l-sidebar__body">
			
	{% if page.past %}
	<div class="l-listing l-listing--past">
	{% else %}
	<div class="l-listing l-listing--events">
	{% endif %}
        
		{% for event in page.events%}
            {% with event=event.specific %}
			<article class="listing listing--article  listing--archived">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/content-image.jpg" alt="alt tag">
		</div>
        {% if event.location %}
		<h3 class="listing__location"><i role="presentation" aria-hidden="true" class="ico ico--14 ico-location-ocean"></i>{{ event.location }}</h3>
        {% endif %}
		<span class="badge">Past event</span>
	</aside>
	<div class="listing__body">
		<h2 class="listing__heading"><a href="{% slugurl_trans event %}"><span>{{ event.heading }}</span></a></h2>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">
				<i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-ocean"></i>
				<span class="listing__metadata__date">{{ event.date_start }}</span>
			</li>
		</ul>
		<p class="listing__excerpt">{{ event.subheading }}</p>
		<a href="{% slugurl_trans event %}" class="button">More details</a>
	</div>
</article>

            {% endwith %}
        {% endfor %}
		
		
	</div>
    <div class="pagination">
   <a href="#" class="pagination__item pagination__item--prev">Previous</a>
   <a href="#" class="pagination__item pagination__item--next">Next</a>
</div>


		</div>
		<aside class="l-sidebar__aside">
			
    <div class="aside-m">
        <div class="aside-m__header fill-land">
            <h3 class="aside-m__heading">Event types</h3>
        </div>
        <ul class="aside-m__list">
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
            <li class="aside-m__list-item"><a href="#">Event type</a></li>
        </ul>
    </div>

		</aside>
	</div>
</div>
{% endblock %}