{% extends "base.html" %}

{% block body_class %}body body--home{% endblock %}
{% block body_id %}body-home{% endblock %}

{% block content %}

    <div class="hero">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">International Aid Transparency Initiative</h1>

                <p class="hero__subheading">IATI is a common format to share data on aid and development for better decision making and outcomes</p>
            </div>
            <div class="hero__emblem">
                <img class="hero__emblem__mask" src="/static/assets/img/hero-home.jpg" alt="alt tag">
            </div>
        </div>
    </div>

			
    <div class="row">
        <div class="stats stats--standout">
            <div class="stat-quote fill-sunset">
                <div class="stat-quote__media">
                    <img class="stat-quote__img" src="/static/assets/img/portrait.jpg" alt="alt tag">
                </div>
                <blockquote>
                    <p class="stat-quote__copy">&ldquo;Everyone should use the IATI Standard&rdquo;</p>
                    <cite>Hillary Clinton</cite>
                </blockquote>
            </div>
            <div class="stat stat--flex">
                <div class="stat__body stat__body--center">
                    <h2 class="stat__heading stat__heading--large">1,000,000</h2>
                    <p class="stat__copy">Humanitarian and developlemnt activies published to the IATI Standard</p>
                </div>

                <div class="stat__body stat__body--center">
                    <h2 class="stat__heading stat__heading--large">700</h2>
                    <p class="stat__copy">Publishers and counting that contribute data to make the world a better place</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <h2 class="section__heading">Getting started</h2>
            <div class="l-3up">
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__header background-cover" style="background-image: url(/static/assets/img/help1.png)">
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">Explore our data</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <p class="help__body-copy">Etiam ornare diam sit amet tellus cursus rhoncus. Nam pretium pretium orci, at ullamcorper felis pharetra vitae.</p>
                            <a class="button">Explore our data</a>
                        </div>
                    </div>
                </div>
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__header background-cover">
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">Our publishing guide</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <p class="help__body-copy">Etiam ornare diam sit amet tellus cursus rhoncus. Nam pretium pretium orci, at ullamcorper felis pharetra vitae.</p>
                            <a class="button">Get started</a>
                        </div>
                    </div>
                </div>
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__header background-cover" style="background-image: url(/static/assets/img/help3.png)">
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">Discover the Standard</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <p class="help__body-copy">Etiam ornare diam sit amet tellus cursus rhoncus. Nam pretium pretium orci, at ullamcorper felis pharetra vitae.</p>
                            <a class="button">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section-alt-top section-alt-bottom">
            <h2 class="section__heading">About IATI</h2>
            <div class="l-2up">
                <div class="l-2up__col">
                    <div class="is-typeset is-typeset--article">
                        <h3></h3>
                        <p>Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.</p>
                        <p>Nulla in nunc at ipsum tincidunt convallis. Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.</p>
                        <a class="button" href="#none">Find out more about IATI</a>
                    </div>
                </div>
                <div class="l-2up__col">
                    <div class="media-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/cfjxWLB9kpE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-alt-bottom">
        <div class="row">
            <h2 class="section__heading">Case studies</h2>
            <div class="max-meter is-typeset is-typeset--article">
                <p class="section__copy">Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.</p>
            </div>
            <div class="l-2up">
                <div class="l-2up__col">
                    <div class="help help--standout">
                        <div class="help__header help__header--big background-cover" style="background-image: url(/static/assets/img/case-study1.png)">
                            <div class="help__panel fill-sunset">
                                <h3 class="help__heading">Netherlands Enterprise Agency</h3>
                                <p>Sharing information on more than 1100 projects, across 125 countries.</p>
                                <a href="#none">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-2up__col">
                    <div class="help help--standout">
                        <div class="help__header background-cover" style="background-image: url(/static/assets/img/case-study2.png)">
                            <div class="help__panel fill-sunset">
                                <h3 class="help__heading">Spotlight on IATI data use</h3>
                                <p> IATI has launched a new series of profiles on data use in partner countries, starting with Bangladesh.</p>
                                <a href="#none">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section-alt">
            <h2 class="section__heading">Partners</h2>
            <div class="l-2up">
                <div class="l-2up__col">
                    <article class="listing listing--article listing--people">
                        <aside class="listing__aside">
                            <div class="listing__media">
                                <img src="/static/assets/img/portrait.png" alt="alt tag">
                            </div>
                        </aside>
                        <div class="listing__body">
                            <blockquote class="as-blockquote listing-quote">
                                <p>&ldquo;Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.&rdquo;</p>

                                <cite class="heading">Person Name</cite>
                                <cite>Role</cite>
                            </blockquote>
                        </div>
                    </article>
                </div>
                <div class="l-2up__col">
                    <article class="listing listing--article listing--people">
                        <aside class="listing__aside">
                            <div class="listing__media">
                                <img src="/static/assets/img/portrait.png" alt="alt tag">
                            </div>
                        </aside>
                        <div class="listing__body">
                            <blockquote class="as-blockquote listing-quote">
                                <p>&ldquo;Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.&rdquo;</p>

                                <cite class="heading">Person Name</cite>
                                <cite>Role</cite>
                            </blockquote>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
