{% extends "base.html" %}
{% load wagtail_modeltranslation wagtailimages_tags %}

{% load iati_tags %}
{% block body_class %}body body--home{% endblock %}
{% block body_id %}body-home{% endblock %}

{% block content %}
<div class="hero">
  {% include "home/includes/hero_heading.html" %}
</div>
    <div class="row">
        <div class="stats stats--standout">
            <div class="stat-quote fill-sunset">
                <div class="stat-quote__media">
                    <img class="stat-quote__img" src="/static/assets/img/UNDP-Achim-Steiner.jpg" alt="alt tag">
                </div>
                <blockquote>
                    <p class="stat-quote__copy">&ldquo;Transparency is a cornerstone of our work at UNDP.&rdquo;</p>
                    <cite>Achim Steiner, UNDP Administrator<br />IATI member</cite>
                </blockquote>
            </div>
            <div class="stat stat--flex">
                <div class="stat__body stat__body--center">
                    <h2 class="stat__heading stat__heading--large">{{ page.activities|intcomma }}</h2>
                    <p class="stat__copy">Development and humanitarian activities published to the IATI Standard</p>
                </div>

                <div class="stat__body stat__body--center">
                    <h2 class="stat__heading stat__heading--large">{{ page.organisations|intcomma }}</h2>
                    <p class="stat__copy">IATI publishers that contribute data for decision-making and accountability</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <h2 class="section__heading">Getting started</h2>
            <div class="l-3up">
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__header background-cover" style="background-image: url(/static/assets/img/help1.png)">
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">Data Use</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <p class="help__body-copy">All people and organisations can be using IATI data. Find out what data includes, how you can access it and why you should be using it.</p>
                            <a class="button">Explore IATI data</a>
                        </div>
                    </div>
                </div>
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__header background-cover">
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">Guidance</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <p class="help__body-copy">If you have questions about how you publish to IATI, where to start or how to improve your data - check out our publishing guidance.</p>
                            <a class="button" href="/guidance/">Get started</a>
                        </div>
                    </div>
                </div>
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__header background-cover" style="background-image: url(/static/assets/img/help3.png)">
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">Standard</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <p class="help__body-copy">These reference pages are the ‘core’ of the IATI Standard. They give full descriptions of what data can be published and how it is coded.</p>
                            <a class="button" href="/iati_standard/">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section-alt-top section-alt-bottom">
            <h2 class="section__heading">About IATI</h2>
            <div class="l-2up">
                <div class="l-2up__col">
                    <div class="is-typeset is-typeset--article">
                        <h3></h3>
                        <p>IATI brings together governments, multilateral institutions, private sector and civil society organisations and others to increase the transparency of resources flowing into developing countries.</p>
                        <p>We encourage all organisations that distribute or spend resources to publish information about their development and humanitarian activities using IATI’s data standard. This is a set of rules and guidance to ensure information is easy to access, understand and use.</p>
                        <p>IATI works to ensure transparent, good quality data is routinely and systematically  used to achieve sustainable development outcomes.</p>
                        <a class="button" href="#none">Find out more about IATI</a>
                    </div>
                </div>
                <div class="l-2up__col">
                    <div class="media-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/cfjxWLB9kpE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if case_studies|length > 0 %}
    <div class="section section-alt-bottom">
        <div class="row">
            <h2 class="section__heading">Case studies</h2>

            <div class="max-meter is-typeset is-typeset--article">
                <p class="section__copy">People all over the world use IATI to track the flow of aid, humanitarian and development resources. Some use IATI to publish their data, others access data to inform decision-making and hold authorities to account. Our case studies tell some of their stories.</p>
            </div>
            <div class="l-2up">

              {% for case_study in case_studies %}
                {% if forloop.counter < 3 %}
                  <div class="l-2up__col">
                      <div class="help help--standout">
                        {% if case_study.feed_image %}
                          {% image case_study.feed_image width-600 as img %}
                          <div class="help__header help__header--big background-cover" style="background-image: url({{ img.url }})">
                        {% else %}
                          <div class="help__header help__header--big background-cover" style="background-image: url(/static/assets/img/image-placeholder.svg)">
                        {% endif %}

                              <div class="help__panel fill-sunset">
                                  <h3 class="help__heading">{{ case_study.heading }}</h3>
                                  <p> {{ case_study.excerpt }}</p>
                                  <a href="{% slugurl_trans case_study.slug %}">Read more</a>
                              </div>
                          </div>
                      </div>
                  </div>
                {% endif %}
              {% endfor %}

            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="section-alt">
            <h2 class="section__heading">Partners</h2>
            <div class="l-2up">
                <div class="l-2up__col">
                    <article class="listing listing--article listing--people">
                        <aside class="listing__aside">
                            <div class="listing__media">
                                <img src="/static/assets/img/Hillevi-Ekberg-sida.jpg" alt="alt tag">
                            </div>
                        </aside>
                        <div class="listing__body">
                            <blockquote class="as-blockquote listing-quote">
                                <p>&ldquo;Transparency has driven us to strengthen data quality and improve our processes. Open data is a foundation for reinforcing trust and improving coordination with partners to achieve more effective aid.&rdquo;</p>

                                <cite class="heading">Hillevi Ekberg</cite>
                                <cite>Sida - Swedish International Development Cooperation Agency</cite>
                            </blockquote>
                        </div>
                    </article>
                </div>
                <div class="l-2up__col">
                    <article class="listing listing--article listing--people">
                        <aside class="listing__aside">
                            <div class="listing__media">
                                <img src="/static/assets/img/portrait.png" alt="alt tag">
                            </div>
                        </aside>
                        <div class="listing__body">
                            <blockquote class="as-blockquote listing-quote">
                                <p>&ldquo;Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.&rdquo;</p>

                                <cite class="heading">Person Name</cite>
                                <cite>Role</cite>
                            </blockquote>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
