{% if item.field_spacing == true %}
<div class="form-field form-field--spaced {% if item.field_error == true %}form-field--error{% else %}{% endif %}">
{% else %}
<div class="form-field {% if item.field_error == true %}form-field--error{% else %}{% endif %}">
{% endif %}
	<div for="{{ item.item_id }}" class="form-label {{ item.item_label_type }}">{{ item.item_label }}</div>
	<div id="{{ item.item_id }}">
		<div class="form-field__checkboxes">
			{% for option in item.options %}
				<div class="form-checkbox-group cp-form-checkbox-group-{{ option.id}}">
					<input class="form-checkbox" type="checkbox" name="{{ option.id }}" id="{{ option.id }}" value="" />
					<label class="form-label" for="{{ option.id}}">{{ option.label }}</label>
				</div>
			{% endfor %}
		</div>
	</div>
	{% if item.field_error == true %} 
		<span class="form-message">Error message</span>
	{% else %}
	{% endif %}
</div>
