{% if item.field_spacing == true %}
<div class="form-field form-field--spaced {% if item.field_error == true %}form-field--error{% else %}{% endif %}">
{% else %}
<div class="form-field {% if item.field_error == true %}form-field--error{% else %}{% endif %}">
{% endif %}
	<label for="{{ item.item_id }}-choice" class="form-label {{ item.item_label_type }}">{{ item.item_label }}</label>
	<div class="form-field__select-dropdown">
		<select name="{{ item.item_id }}-choice" id="{{ item.item_id }}-choice">
			{% for option in item.options %}
				<option value="{{ option.id }}" id="{{ option.id }}">{{ option.label }}</option>
			{% endfor %}
		</select>
	</div>
	{% if item.field_error == true %} 
		<span class="form-message">Error message</span>
	{% else %}
	{% endif %}
</div>
