{% load static %}

<script src="{% static 'js/libs/basicScroll.min.js' %}"></script>
<script>
    var elem = document.querySelector && document.querySelector('.listing__body');
    if (elem) {
        var instance = basicScroll.create({
           elem: elem,
           from: 'top-top',
           to: 'bottom-bottom',
           direct: true,
           props: {
              '--translateY': {
                 from: '-20px',
                 to: '20px'
              }
           }
        });
        instance.start();
    }
</script>
<script type="text/javascript" src="{% static 'js/app.bundle.js' %}"></script>
