{% load iati_tags i18n %}

<header role="banner" class="header">
   <a href="{% default_page_url %}" class="branding"><span>{% trans "IATI - International Aid Transparency Initiative" %}</span></a>
    <ul class="navigation-utility">
        <li id="section-news" class='navigation-utility__item {% check_active "news" %}'>
            <a href="{% default_page_url 'news' %}">{% trans "News" %}</a>
        </li>
        <li id="section-events" class='navigation-utility__item {% check_active "events" %}'>
            <a href="{% default_page_url 'events' %}">{% trans "Events" %}</a>
        </li>
        <li id="section-contact" class='navigation-utility__item {% check_active "contact" %}'>
            <a href="{% default_page_url 'contact' %}">{% trans "Contact" %}</a>
        </li>
        <li id="section-search" class='navigation-utility__item {% check_active "search" %}'>
            <a href="{% url 'search' %}">{% trans "Search" %}</a>
        </li>
        {% if has_multilanguage_support %}
            <li class="navigation-utility__item">|</li>
            <li class="navigation-utility__item">
                {% translation_links calling_page=self %}
            </li>
        {% endif %}
    </ul>
    <button role="button" class="navigation-primary-toggle" id="navigation-primary-toggle"><span>{% trans "Menu" %}</span></button>
    <nav class="navigation-primary" role="navigation" id="navigation-primary">
        <ul class="navigation-primary__items">
            <li id="section-about" class='navigation-primary__item {% check_active "about" "primary"%}'>
                <a href="{% default_page_url 'about' %}">{% trans "About" %}</a>
            </li>
            <li id="section-standard" class='navigation-primary__item {% check_active "iati-standard" "primary"%}'>
                <a href="{% default_page_url 'iati_standard' %}">{% trans "IATI Standard" %}</a>
            </li>
            <li id="section-data" class='navigation-primary__item {% check_active "using-data" "primary"%}'>
                <a href="{% default_page_url 'using_data' %}">{% trans "Using Data" %}</a>
            </li>
            {% if global.has_new_tools_page %}
                <li id="section-data" class='navigation-primary__item {% check_active "iati-tools-and-resources" "primary"%}'>
                    <a href="{% default_page_url 'tools_and_resources' %}">{% trans "Tools & Resources" %}</a>
                </li>
            {% endif %}
            <li id="section-support" class='navigation-primary__item {% check_active "guidance" "primary"%}'>
                <a href="{% default_page_url 'guidance_and_support' %}">{% trans "Guidance & Support" %}</a>
            </li>
            <li id="section-community" class='navigation-primary__item {% check_active "community" "primary"%}'>
                <a href="{% default_page_url 'community' %}">{% trans "Community" %}</a>
            </li>
            <li id="section-news" class='navigation-primary__item navigation-primary__item--ss-only {% check_active "news" %}'>
                <a href="{% default_page_url 'news' %}">{% trans "News" %}</a>
            </li>
            <li id="section-events" class='navigation-primary__item navigation-primary__item--ss-only {% check_active "events" %}'>
                <a href="{% default_page_url 'events' %}">{% trans "Events" %}</a>
            </li>
            <li id="section-contact" class='navigation-primary__item navigation-primary__item--ss-only {% check_active "contact" %}'>
                <a href="{% default_page_url 'contact' %}">{% trans "Contact" %}</a>
            </li>
            <li id="section-search" class='navigation-primary__item navigation-primary__item--ss-only {% check_active "search" %}'>
                <a href="{% url 'search' %}">{% trans "Search" %}</a>
            </li>
            {% if has_multilanguage_support %}
                <li class="navigation-primary__item navigation-primary__item--ss-only langs-ss">
                    {% translation_links calling_page=self %}
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
