{% extends "base.html" %}
{% load wagtailcore_tags iati_tags %}

{% block body_class %}body body--about{% endblock %}
{% block body_id %}body-about{% endblock %}

{% block hero %}
	{% include "home/includes/hero_heading.html" %}
	{% include "notices/page-notice.html" %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="l-sidebar l-sidebar--reverse">
			<aside class="l-sidebar__aside">
				{% side_panel calling_page=self %}

			</aside>
			<div class="l-sidebar__body">
				{% if page.content_editor %}
					{% include "home/includes/streamfield.html" with content=page.content_editor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
