{% extends "base.html" %}

{% block body_class %}body body--news-single{% endblock %}
{% block body_id %}body-news-single{% endblock %}

{% block hero %}
    {% include "home/includes/hero_feed_image.html" %}
    {% include "notices/page-notice.html" %}
{% endblock %}

{% block content %}
	<div class="sections">
		<div class="row">
			{% include "home/includes/breadcrumbs.html" %}
			{% if page.content_editor %}
				{% include "home/includes/streamfield.html" with content=page.content_editor %}
			{% endif %}
		</div>
		<div class="row">
			{% include "home/includes/sibling_links.html" %}
		</div>
	</div>
{% endblock %}
