{% extends "base.html" %}
{% load wagtailcore_tags responsive iati_tags static %}

{% block body_class %}body body--about{% endblock %}
{% block body_id %}body-about{% endblock %}

{% block hero %}
    {% include "home/includes/hero_heading.html" with hero_class='hero--minor' para_class='excerpt' %}
    {% include "notices/page-notice.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="l-sidebar l-sidebar--reverse">
            <aside class="l-sidebar__aside">
                {% side_panel calling_page=self %}
            </aside>
            <div class="l-sidebar__body">
                {% if page.content_editor %}
                    {% include "home/includes/streamfield.html" with content=page.content_editor %}
                {% endif %}
                <div class="l-listing l-listing--people l-listing--no-pagination">
                    <div class="section-border">
                        {% if page.profile_content_editor %}
                            {% for child in page.profile_content_editor %}
                                {% if child.block_type == "section_heading" %}
                                    <h2 class="section__heading">{{ child }}</h2>
                                {% elif child.block_type == "paragraph" %}
                                    <p class="type-s">{{ child }}</p>
                                {% elif child.block_type == "pullquote" %}
                                    <blockquote class="as-blockquote listing-quote">
                                        <p>{{ child.value.quote }}</p>
                                    </blockquote>
                                {% elif child.block_type == "profile_editor" %}
                                    <article class="listing listing--article listing--people">
                                        <aside class="listing__aside">
                                            <div class="listing__media">
                                                {% if child.value.profile_picture %}
                                                    {% responsiveimage child.value.profile_picture max-440x440 srcset=global.people_srcs sizes=global.people_sizes alt=child.value.profile_picture.title width='auto' height='auto' %}
                                                {% else %}
                                                    <img src="{% static 'img/portrait.png' %}" alt="placeholder portrait">
                                                {% endif %}
                                            </div>
                                        </aside>
                                        <div class="listing__body">
                                            <header class="listing__header">
                                                <h2 class="listing__heading"><span>{{ child.value.name }}</span></h2>
                                                {% if child.value.organisation_logo %}
                                                    {% responsiveimage child.value.organisation_logo max-68x18 srcset=global.org_logo_srcs class="listing__body-img" sizes=global.org_logo_sizes alt=child.value.organisation_logo.title width='auto' height='auto' %}
                                                {% elif child.value.organisation_name %}
                                                    <span class="listing__body-img--text">{{child.value.organisation_name}}</span>
                                                {% endif %}
                                                <ul class="listing__metadata">
                                                    {% if child.value.IATI_role %}
                                                      <li class="listing__metadata__item">{{ child.value.IATI_role }}</li>
                                                    {% endif %}
                                                    {% if child.value.external_role %}
                                                      <li class="listing__metadata__item">{{ child.value.external_role }}</li>
                                                    {% endif %}
                                                </ul>
                                            </header>
                                            <div class="listing__excerpt is-typeset">
                                                {{ child.value.description }}
                                            </div>
                                            {% if child.value.IATI_constituency %}
                                                <ul class="listing__metadata">
                                                    <li class="listing__metadata__item">IATI constituency: {{ child.value.IATI_constituency }}</li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </article>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
