{% extends "base.html" %}

{% block body_class %}body body--contact{% endblock %}
{% block body_id %}body-contact{% endblock %}

{% block hero %}
    {% include "home/includes/hero_heading.html" %}
    {% include "notices/page-notice.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="max-meter is-typeset is-typeset--article">
            <p>{{ page.content_editor }}</p>
        </div>
        <div class="m-blocks">
            {% include "contact/includes/contact_type.html" with content=page.contact_type %}
        </div>
    </div>
{% endblock %}
