{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}body body--about{% endblock %}
{% block body_id %}body-about{% endblock %}

{% block content %}
<div class="hero hero--minor">
  <div class="row">
    <div class="hero__caption">
      <h1 class="hero__heading">{{ page.heading }}</h1>

      <p class="hero__excerpt">{{ page.excerpt }}</p>

    </div>
    <div class="hero__emblem"></div>
  </div>
</div>


<div class="row">
  <div class="l-sidebar l-sidebar--reverse">
    <aside class="l-sidebar__aside">

      <div class="aside-m">
        <div class="aside-m__header fill-sunrise">
          <h3 class="aside-m__heading">In this section</h3>
        </div>
        <button class="navigation-secondary-toggle" type="button" id="navigation-secondary-toggle">pages in this section <i role="presentation" aria-hidden="true" class="ico ico--16 ico-plus-white"></i></button>
        <nav class="navigation-secondary" id="navigation-secondary">
          <ul class="navigation-secondary__list">
            <li class="navigation-secondary__item"><a href="#">Why aid transparency matters</a></li>
            <li class="navigation-secondary__item"><a href="#">How IATI works</a></li>
            <li class="navigation-secondary__item"><a href="#">Who is IATI for?</a></li>
            <li class="navigation-secondary__item"><a href="#">About the standard</a></li>
            <li class="navigation-secondary__item"><a href="#">History of IATI</a></li>
            <li class="navigation-secondary__item"><a href="#">Case studies</a></li>
            <li class="navigation-secondary__item navigation-secondary__item--active"><a href="#">Governance</a>
              <ul class="navigation-secondary__child">
                <li class="navigation-secondary__child__item"><a href="#">Annual reports</a></li>
                <li class="navigation-secondary__child__item"><a href="#">Who runs IATI</a></li>
                <li class="navigation-secondary__child__item"><a href="#">Finances</a></li>
              </ul>
            </li>
            <li class="navigation-secondary__item"><a href="#">Promote IATI</a></li>
            <li class="navigation-secondary__item"><a href="#">Membership</a></li>
            <li class="navigation-secondary__item"><a href="#">TAG - Technical Advisory Group</a></li>
          </ul>
        </nav>
      </div>

    </aside>
    <div class="l-sidebar__body">

      <div class="is-typeset is-typeset--additionals">
        {% if page.content_editor %}
          {% include "home/includes/streamfield.html" with content=page.content_editor %}
        {% endif %}
      </div>
      <div class="l-listing l-listing--people l-listing--no-pagination">
        <div class="section-border">
          {% if page.subheading %}
            {% include "home/includes/streamfield.html" with content=page.subheading %}
          {% endif %}
          {% if page.profile_panel %}
            {% for profile in page.profile_panel %}
              {% image profile.value.profile_picture max-600x600 as profilepicture %}
              {% image profile.value.organisation_logo max-80x30 as organisationlogo %}
              <article class="listing listing--article listing--people">
                <aside class="listing__aside">
                  <div class="listing__media">
                    <img src="{{ profilepicture.url }}" alt="{{ profilepicture.alt }}">
                  </div>
                </aside>
                <div class="listing__body">
                  <header class="listing__header">
                    <h2 class="listing__heading"><span>{{ profile.value.name }}</span></h2>
                    <img class="listing__body-img" src="{{ organisationlogo.url }}" alt="{{ organisationlogo.alt }}">
                    <ul class="listing__metadata">
                      <li class="listing__metadata__item">{{ profile.value.IATI_role }}</li>
                      <li class="listing__metadata__item">{{ profile.value.external_role }}</li>
                    </ul>
                  </header>
                  <div class="listing__excerpt is-typeset">
                    {{ profile.value.description }}
                  </div>
                  <ul class="listing__metadata">
                    <li class="listing__metadata__item">{{ profile.value.IATI_constituency }}</li>
                  </ul>
                </div>
              </article>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
