{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}body body--about{% endblock %}
{% block body_id %}body-about{% endblock %}

{% block content %}
<div class="hero hero--minor">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">Who runs IATI</h1>
                
                    <p class="hero__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
            </div>
            <div class="hero__emblem"></div>
        </div>
    </div>

			
<div class="row">
	<div class="l-sidebar l-sidebar--reverse">
		<aside class="l-sidebar__aside">
			
    <div class="aside-m">
        <div class="aside-m__header fill-sunrise">
            <h3 class="aside-m__heading">In this section</h3>
        </div>
        <button class="navigation-secondary-toggle" type="button" id="navigation-secondary-toggle">pages in this section <i role="presentation" aria-hidden="true" class="ico ico--16 ico-plus-white"></i></button>
        <nav class="navigation-secondary" id="navigation-secondary">
            <ul class="navigation-secondary__list">
                <li class="navigation-secondary__item"><a href="#">Why aid transparency matters</a></li>
                <li class="navigation-secondary__item"><a href="#">How IATI works</a></li>
                <li class="navigation-secondary__item"><a href="#">Who is IATI for?</a></li>
                <li class="navigation-secondary__item"><a href="#">About the standard</a></li>
                <li class="navigation-secondary__item"><a href="#">History of IATI</a></li>
                <li class="navigation-secondary__item"><a href="#">Case studies</a></li>
                <li class="navigation-secondary__item navigation-secondary__item--active"><a href="#">Governance</a>
                    <ul class="navigation-secondary__child">
                        <li class="navigation-secondary__child__item"><a href="#">Annual reports</a></li>
                        <li class="navigation-secondary__child__item"><a href="#">Who runs IATI</a></li>
                        <li class="navigation-secondary__child__item"><a href="#">Finances</a></li>
                    </ul>
                </li>
                <li class="navigation-secondary__item"><a href="#">Promote IATI</a></li>
                <li class="navigation-secondary__item"><a href="#">Membership</a></li>
                <li class="navigation-secondary__item"><a href="#">TAG - Technical Advisory Group</a></li>
            </ul>
        </nav>
    </div>

		</aside>
		<div class="l-sidebar__body">
			
    <div class="is-typeset is-typeset--additionals">
        <p>A small paragraph to <em>emphasis</em> and show <strong>important</strong> bits. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
    <div class="l-listing l-listing--people l-listing--no-pagination">
        <div class="section-border">
            <h2 class="section__heading">Gov Team</h2>
            <p class="type-s">Nunc a tincidunt sapien. Praesent quis velit vel purus sollicitudin suscipit vitae a elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer maximus metus vel leo porta porttitor.</p>
            <blockquote class="as-blockquote listing-quote">
                <p>&ldquo;This is a quote, quisque convallis gravida risus, viverra sollicitudin ante interdum sed.&rdquo;</p>
            </blockquote>
            
                <article class="listing listing--article listing--people">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/portrait.png" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<header class="listing__header">
			<h2 class="listing__heading"><span>Stephen Potter</span></h2>
			<img class="listing__body-img" src="/static/assets/img/logo.png" alt="alt tag">
			<ul class="listing__metadata">
				<li class="listing__metadata__item">IATI Chair</li>
				<li class="listing__metadata__item">Director, Development Policy Planning, Global Affairs Canada</li>
			</ul>
		</header>
		<div class="listing__excerpt is-typeset"><p>Since August 2015, Stephen Potter has been responsible for aid transparency, Agenda 2030, and the creation of a new policy framework for Canadian international assistance. He has worked for over 20 years with Canada's development assistance programme, serving in a variety of positions, including overseas postings in Ukraine (2012-2015), Tanzania (2005-2008), Honduras (2002-2004), and Peru (1999-2002). He began his development career working in the International Development Research Centre's evaluation unit.</p><p>Yohanna Loucheur, Senior Policy Analyst at Global Affairs Canada, is alternate in the role of Chair.</p></div>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">IATI Constituency: Providers of Development Cooperation</li>
		</ul>
	</div>
</article>

            
                <article class="listing listing--article listing--people">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/portrait.png" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<header class="listing__header">
			<h2 class="listing__heading"><span>Kazi Shofiqul Azam</span></h2>
			<img class="listing__body-img" src="/static/assets/img/logo.png" alt="alt tag">
			<ul class="listing__metadata">
				<li class="listing__metadata__item">IATI Vice Chair</li>
				<li class="listing__metadata__item">Secretary, Economic Relations Division in the Ministry of Finance, Bangladesh</li>
			</ul>
		</header>
		<div class="listing__excerpt is-typeset"><p>As Secretary of the Economic Relations Division, Mr. Azam represents the government in different local, regional and global platforms to steer the development effectiveness agenda. He is an Alternate Governor of World Bank Group and Asian Development Bank. Mr. Azam also acts as the National Designated Authority (NDA) to the Green Climate Fund.</p><p>Monowar Ahmed, Chief of Development Effectiveness Wing, Economic Relations Division of the Ministry of Finance, is alternate in the role of Vice Chair.</p></div>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">IATI Constituency: Partner Countries (developing country governments)</li>
		</ul>
	</div>
</article>

            
                <article class="listing listing--article listing--people">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/portrait.png" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<header class="listing__header">
			<h2 class="listing__heading"><span>Joe Bloggs</span></h2>
			<img class="listing__body-img" src="/static/assets/img/logo.png" alt="alt tag">
			<ul class="listing__metadata">
				<li class="listing__metadata__item">COO of IATI</li>
				<li class="listing__metadata__item">Chairman at IATI</li>
			</ul>
		</header>
		<div class="listing__excerpt is-typeset">São Tomé and Príncipe has become the first Portuguese-speaking country to join IATI. They join 86 members of the initiative</div>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">IATI Constituency: </li>
		</ul>
	</div>
</article>

            
                <article class="listing listing--article listing--people">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/portrait.png" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<header class="listing__header">
			<h2 class="listing__heading"><span>Cloe Hill</span></h2>
			<img class="listing__body-img" src="/static/assets/img/logo.png" alt="alt tag">
			<ul class="listing__metadata">
				<li class="listing__metadata__item">MD of IATI</li>
				<li class="listing__metadata__item">Chairman at Oxfam</li>
			</ul>
		</header>
		<div class="listing__excerpt is-typeset">São Tomé and Príncipe has become the first Portuguese-speaking country to join IATI. They join 86 members of the initiative</div>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">IATI Constituency: </li>
		</ul>
	</div>
</article>

            
        </div>
        <div class="section-border">
            <h2 class="section__heading">Tech Team</h2>
            <p class="type-s">Nunc a tincidunt sapien. Praesent quis velit vel purus sollicitudin suscipit vitae a elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer maximus metus vel leo porta porttitor.</p>
            <blockquote class="as-blockquote listing-quote">
                <p>&ldquo;This is a quote, quisque convallis gravida risus, viverra sollicitudin ante interdum sed.&rdquo;</p>
            </blockquote>
            
                <article class="listing listing--article listing--people">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/portrait.png" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<header class="listing__header">
			<h2 class="listing__heading"><span>Stephen Potter</span></h2>
			<img class="listing__body-img" src="/static/assets/img/logo.png" alt="alt tag">
			<ul class="listing__metadata">
				<li class="listing__metadata__item">IATI Chair</li>
				<li class="listing__metadata__item">Director, Development Policy Planning, Global Affairs Canada</li>
			</ul>
		</header>
		<div class="listing__excerpt is-typeset"><p>Since August 2015, Stephen Potter has been responsible for aid transparency, Agenda 2030, and the creation of a new policy framework for Canadian international assistance. He has worked for over 20 years with Canada's development assistance programme, serving in a variety of positions, including overseas postings in Ukraine (2012-2015), Tanzania (2005-2008), Honduras (2002-2004), and Peru (1999-2002). He began his development career working in the International Development Research Centre's evaluation unit.</p><p>Yohanna Loucheur, Senior Policy Analyst at Global Affairs Canada, is alternate in the role of Chair.</p></div>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">IATI Constituency: Providers of Development Cooperation</li>
		</ul>
	</div>
</article>

            
                <article class="listing listing--article listing--people">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/portrait.png" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<header class="listing__header">
			<h2 class="listing__heading"><span>Kazi Shofiqul Azam</span></h2>
			<img class="listing__body-img" src="/static/assets/img/logo.png" alt="alt tag">
			<ul class="listing__metadata">
				<li class="listing__metadata__item">IATI Vice Chair</li>
				<li class="listing__metadata__item">Secretary, Economic Relations Division in the Ministry of Finance, Bangladesh</li>
			</ul>
		</header>
		<div class="listing__excerpt is-typeset"><p>As Secretary of the Economic Relations Division, Mr. Azam represents the government in different local, regional and global platforms to steer the development effectiveness agenda. He is an Alternate Governor of World Bank Group and Asian Development Bank. Mr. Azam also acts as the National Designated Authority (NDA) to the Green Climate Fund.</p><p>Monowar Ahmed, Chief of Development Effectiveness Wing, Economic Relations Division of the Ministry of Finance, is alternate in the role of Vice Chair.</p></div>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">IATI Constituency: Partner Countries (developing country governments)</li>
		</ul>
	</div>
</article>

            
                <article class="listing listing--article listing--people">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/portrait.png" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<header class="listing__header">
			<h2 class="listing__heading"><span>Joe Bloggs</span></h2>
			<img class="listing__body-img" src="/static/assets/img/logo.png" alt="alt tag">
			<ul class="listing__metadata">
				<li class="listing__metadata__item">COO of IATI</li>
				<li class="listing__metadata__item">Chairman at IATI</li>
			</ul>
		</header>
		<div class="listing__excerpt is-typeset">São Tomé and Príncipe has become the first Portuguese-speaking country to join IATI. They join 86 members of the initiative</div>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">IATI Constituency: </li>
		</ul>
	</div>
</article>

            
                <article class="listing listing--article listing--people">
	<aside class="listing__aside">
		<div class="listing__media">
			<img src="/static/assets/img/portrait.png" alt="alt tag">
		</div>
	</aside>
	<div class="listing__body">
		<header class="listing__header">
			<h2 class="listing__heading"><span>Cloe Hill</span></h2>
			<img class="listing__body-img" src="/static/assets/img/logo.png" alt="alt tag">
			<ul class="listing__metadata">
				<li class="listing__metadata__item">MD of IATI</li>
				<li class="listing__metadata__item">Chairman at Oxfam</li>
			</ul>
		</header>
		<div class="listing__excerpt is-typeset">São Tomé and Príncipe has become the first Portuguese-speaking country to join IATI. They join 86 members of the initiative</div>
		<ul class="listing__metadata">
			<li class="listing__metadata__item">IATI Constituency: </li>
		</ul>
	</div>
</article>

            
        </div>
    </div>

		</div>
	</div>
</div>
{% endblock %}