{% load responsive iati_tags i18n %}

{% responsiveimage page.feed_image width-1400 srcset=global.hero_feed_srcs as image %}

<div class="hero hero--image" {{ image | responsive_id }}>
    {{ image | responsive_css }}
    <div class="row">
        <div class="max-meter">
            <div class="hero__caption">
                <h1 class="hero__heading">{{ page.heading }}</h1>
                {% if is_event %}
                    {% if page.date_start|haspassed  %}
                        <span class="badge">{% trans "Past event" %}</span>
                    {% endif %}
                {% endif %}
                {% if page.excerpt %}
                    <p class="hero__{{ para_class|default:'subheading' }}">{{ page.excerpt|default:"" }}</p>
                {% endif %}
                {% if is_event %}
                    <span class="hero__type">{{ page.event_type_concat }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
