{% load i18n %}

<div class="pagination">
    <ul class="pagination pagination__listing">
        {% if children.has_previous %}
			<li class="pagination__item pagination__item--prev">
	    		<a class="pagination__item-prev-link" href="?page={{ children.previous_page_number }}{% for key,value in request.GET.items %}{% if not key == 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">{% trans "Prev" %}</a>
		 	</li>
		{% endif %}
		{% for item in paginator_range %}
			<li class="pagination__item">
				<a href="?page={{ item }}{% for key,value in request.GET.items %}{% if not key == 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}" class="pagination__item-link {% if item == children.number %}pagination__item-link--active{% endif %}">
					{{ item }}
				</a>
			 </li>
		{% endfor %}
        {% if children.has_next %}
			<li class="pagination__item pagination__item--next">
	    		<a class="pagination__item-next-link" href="?page={{ children.next_page_number }}{% for key,value in request.GET.items %}{% if not key == 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">{% trans "Next" %}</a>
		    </li>
		{% endif %}
		<div class="pagination pagination__count">
		    {% if children.paginator.num_pages > 1 %}
				<p class="pagination__item">{{ children.paginator.num_pages }} {% trans "pages" %}</p>
			{% endif %}
		</div>
    </ul>
</div>
