{% load i18n %}

<form class="m-search" action="{{ global.search_page_url }}" method="get">
    <div class="row">
        <div class="form-field">
            <label class="form-label" for="query">{% trans "Search the site" %}</label>
            <input class="form-item" id="query" type="text" name="query" value="{% if search_query %}{{ search_query }}{% endif %}" placeholder="{% trans "Search term..." %}">
        </div>
        <div class="form-field">
            <input class="button button--block" type="submit" value="{% trans "Search" %}">
        </div>
    </div>
</form>
