{% load wagtailcore_tags responsive %}

<div class="is-typeset {% if not notarticle %}is-typeset--article{% endif %} {{ extra_class }}">
    {% for child in content %}
        {% if child.block_type == 'h2' %}
            <h2>{{ child }}</h2>
        {% elif child.block_type == 'h3' %}
            <h3>{{ child }}</h3>
        {% elif child.block_type == 'h4' %}
            <h4>{{ child }}</h4>
        {% elif child.block_type == 'intro' %}
            <div class="intro">{{ child }}</div>
        {% elif child.block_type == 'aligned_html' %}
            {% if child.value.alignment == 'normal' %}
                {{ child.value.bound_blocks.html.render }}
            {% else %}
                {{ child.value.bound_blocks.html.render }}
            {% endif %}
        {% elif child.block_type == 'pullquote' %}
            <blockquote>
                <p>{{ child.value.quote }}</p>
            </blockquote>
        {% elif child.block_type == 'paragraph' %}
            {{ child.value|richtext }}
        {% elif child.block_type == 'image_figure' %}
        <figure class="media-figure {{child.value.alignment}}">
            {% if child.value.alignment == 'media-figure--alignleft' or child.value.alignment == 'media-figure--alignright' %}
                {% responsiveimage child.value.image width-315 srcset=global.media_floated_srcs sizes=global.media_floated_sizes alt=child.value.image.title width='auto' height='auto' %}
            {% elif child.value.alignment == 'media-figure--center' %}
                {% responsiveimage child.value.image width-420 srcset=global.media_centred_srcs sizes=global.media_centred_sizes alt=child.value.image.title width='auto' height='auto' %}
            {% else %}
                {% responsiveimage child.value.image width-700 srcset=global.media_full_srcs sizes=global.media_full_sizes alt=child.value.image.title width='auto' height='auto' %}
            {% endif %}
            {% if child.value.caption.source != "<p></p>" %}
                <figcaption class="media-figure__caption">
                    {{ child.value.caption|richtext }}
                </figcaption>
            {% endif %}
        </figure>
        {% elif child.block_type == 'document_box' %}
        {% regroup child.value by block_type as doc_box_groups %}
        </div>
        <div class="m-additional"
        {% if not forloop.last %}
        style="margin-bottom:4em;"
        {% endif %}
        >
          {% for doc_box_group in doc_box_groups %}
            {% if doc_box_group.grouper == "document_box_heading" %}
              <h4 class="m-additional__heading heading">{{ doc_box_group.list|first }}</h4>
            {% elif doc_box_group.grouper == "document" %}
              <ul class="m-additional__list download-list">
                {% for doc in doc_box_group.list %}
                  <li class="download-list__item">
                    <a class="download-list__item-link" href="{{ doc.value.url }}">
                      <h5 class="download-list__item-link-heading">{{ doc.value.title }}</h5>
                      <span class="download-list__item-link-subheading">({{ doc.value.file_extension|upper }} {{ doc.value.file.size|filesizeformat }})</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
        <div class="is-typeset {% if not notarticle %}is-typeset--article{% endif %}">
        {% elif child.block_type == 'anchor_point' %}
          <a id="{{ child }}"></a>
        {% else %}
            {{ child }}
        {% endif %}
    {% endfor %}
</div>
