{% load i18n static responsive %}

{% if value.page and value.page.live %}
    <div class="l-offset__col">
        <article class="case-study">
        {% if value.image %}
            {% responsiveimage value.image fill-120x250 srcset=global.featured_srcs as image %}
            <div class="case-study__media background-cover" {{ image | responsive_id }}>{{ image | responsive_css }}</div>
        {% elif value.page.specific.header_image %}
            {% responsiveimage value.page.specific.header_image fill-120x250 srcset=global.featured_srcs as image %}
            <div class="case-study__media background-cover" {{ image | responsive_id }}>{{ image | responsive_css }}</div>
        {% elif value.page.specific.feed_image %}
            {% responsiveimage value.page.specific.feed_image fill-120x250 srcset=global.featured_srcs as image %}
            <div class="case-study__media background-cover" {{ image | responsive_id }}>{{ image | responsive_css }}</div>
        {% else %}
            <div class="case-study__media background-cover" style="background-image: url({% static 'img/image-placeholder.svg' %}"></div>
        {% endif %}
            <div class="case-study__panel">
                <h2 class="case-study__heading">
                    <a href="{{ value.page.url }}"><span>{{ value.page.specific.heading }}</span></a>
                </h2>
                <p class="case-study__excerpt">{{ value.description }}</p>
                <a href="{{ value.page.url }}" class="button button--small">{% trans 'Read more' %}</a>
                {% if value.secondary_page %}
                    <a href="{{ value.secondary_page.url }}" class="case-study__text-link">
                        {% if value.link_label %}
                            {{ value.link_label }}
                        {% else %}
                            {{ value.secondary_page.specific.heading }}
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </article>
    </div>
{% endif %}
