<div class="{{ column_class }}">
    {% if col.title or col.description %}
         <div class="m-highlight m-highlight--alt">
            {% if col.title %}
                <h3 class="m-highlight__heading">
                    {{ col.title }}
                </h3>
            {% endif %}
            {% if col.description %}
                <p class="navigation-megamenu__block__copy">{{ col.description }}</p>
            {% endif %}
            <ul class="navigation-megamenu__list">
                {% for item in col.page_list  %}
                    {% if item.page and item.page.live %}
                        <li>
                            <a href="{{ item.page.url }}">{{ item.page.specific.heading }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <ul class="navigation-megamenu__list">
            {% for item in col.page_list %}
                {% if item.page and item.page.live %}
                    <li class="{% if forloop.first and col.use_first_page_as_title %}navigation-megamenu__list-title{% endif %}">
                        <a href="{{ item.page.url }}">{{ item.page.specific.heading }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
