<div class="{{ column_class }}">
    {% if col.title or col.description %}
         <div class="m-highlight m-highlight--alt">
            {% if col.use_first_page_as_title or col.title %}
                <h3 class="m-highlight__heading">
                    {% if col.use_first_page_as_title %}
                        {% with first_page=col.page_list|first %}
                            {% if first_page.page and first_page.page.live and first_page.page.specific.heading %}
                                <a href="{{ first_page.page.url }}">{{ first_page.page.specific.heading }}</a>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {{ col.title }}
                    {% endif %}
                </h3>
            {% endif %}
            {% if col.description %}
                <p class="navigation-megamenu__block__copy">{{ col.description }}</p>
            {% endif %}
            <ul class="navigation-megamenu__list">
                {% for item in col.page_list  %}
                    {% if forloop.first and col.use_first_page_as_title %}
                        {# Do nothing #}
                    {% else %}
                        {% if item.page and item.page.live and item.page.specific.heading %}
                            <li>
                                <a href="{{ item.page.url }}">{{ item.page.specific.heading }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="m-highlight m-highlight--alt">
            <ul class="navigation-megamenu__list">
                {% for item in col.page_list %}
                    {% if item.page and item.page.live and item.page.specific.heading %}
                        <li class="{% if forloop.first and col.use_first_page_as_title %}navigation-megamenu__list-title{% endif %}">
                            <a href="{{ item.page.url }}">{{ item.page.specific.heading }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
