{% load wagtailcore_tags %}

<div class="navigation-megamenu">
    {% if value.num_columns > 3 %}
        {% include_block value.highlight with class='navigation-megamenu__col--small' %}
    {% else %}
        {% include_block value.highlight %}
    {% endif %}

    {% if value.num_columns %}
        <div class="navigation-megamenu__col navigation-megamenu__col--border">
            <div class="{{ value.column_container_class }}">
                {% for column in value.columns %}
                    {% include_block column with col=column.value column_class=value.column_class %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
