{% extends 'patterns.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% set ui_title = "Bems" %}

{% block ui_description %}
	<p>BEM's stands for block/element/modifier and is a front-end naming methodology. You can read more about the whys, the wheres and the whens on <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">CSS Wizardy</a> (a lot of this page is lifted from, or referencing this article). All you need to know right now is we like to write markup in this manner wherever possible, based on a few simple rule sets.</p>
{% endblock %}

{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}
<div class="ui-row">
	
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Naming conventions</h2>
		</div>
		<div class="ui-section__component">
			{% for item in form.input %}
				{% include 'forms/input-types.html' %}
			{% endfor %}
		</div>
		<div class="ui-section__body">
			<div class="ui-section__main">
				<div class="ui-section__code">
<pre><code>.element {}
.element__child {}
.element--modifier {}</code></pre>
				</div>
			</div>
			<div class="ui-section__aside">
				<div class="ui-section__notes">
					<h4>The basics</h4>
					<ul>
						<li><strong>.element</strong> represents the higher level of an abstraction or component.</li>
						<li><strong>.element__child</strong> represents a direct child of '.element'.</li>
						<li><strong>.element--modifier</strong> represents a different state or version of '.element'.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end Duplicate -->
	
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>A simple example</h2>
		</div>
		<div class="ui-section__body">
			<div class="ui-section__main">
			
				<div class="ui-section__code">
<pre><code class=" hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">article</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article"</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-title">header</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article__header"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">header</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article__body"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-title">footer</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article__footer"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">footer</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">article</span>&gt;</span></code></pre>
				</div>
				<div class="ui-section__code">
<pre><code class=" hljs css"><span class="hljs-class">.article</span> <span class="hljs-rules">{
	<span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#333</span></span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-class">.article__header</span> <span class="hljs-rules">{
	<span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#000</span></span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-class">.article__footer</span> <span class="hljs-rules">{
	<span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#fff</span></span></span>;
<span class="hljs-rule">}</span></span>
</code></pre>
				</div>
			</div>
			<div class="ui-section__aside">
				<div class="ui-section__notes">
					<h4>Simple example</h4>
					<p>Here we see a simple article structure with a header, body and footer. The represents the simplest approach to BEM's mark–up.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Keeping your nest(ing) tidy</h2>
		</div>
		<div class="ui-section__body">
			<div class="ui-section__main">

				<div class="ui-section__code">
<pre><code class=" hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"section"</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-title">article</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article"</span>&gt;</span>
		<span class="hljs-tag">&lt;<span class="hljs-title">header</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article__header"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">header</span>&gt;</span>
		<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article__body"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
		<span class="hljs-tag">&lt;<span class="hljs-title">footer</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article__footer"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">footer</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-title">article</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span></code></pre>
				</div>
			</div>
			<div class="ui-section__aside">
				<div class="ui-section__notes">
					<h4>Why no double nest?</h4>
					<p>Logically, the <strong>'.article'</strong> is a direct child of <strong>'.section'</strong>, so BEM's would suggest it should use child markup.</p>
					<p>However, there maybe times where <strong>'.article'</strong> is not a child of <strong>'.section'</strong>, so specifying in this manner makes things, less, not more flexible</p>
					<p>Best approach? Plan your modules, and decide what is a child and what isn't</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Modifiers</h2>
		</div>
		<div class="ui-section__body">
			<div class="ui-section__main">




				<div class="ui-section__code">
<pre><code class=" hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"section section--alternate"</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-title">article</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article"</span>&gt;</span>
		<span class="hljs-tag">&lt;<span class="hljs-title">header</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article__header"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">header</span>&gt;</span>
		<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article__body"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
		<span class="hljs-tag">&lt;<span class="hljs-title">footer</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"article__footer"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">footer</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-title">article</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span></code></pre>
				</div>
				<div class="ui-section__code">
<pre><code class=" hljs css"><span class="hljs-class">.section</span> <span class="hljs-rules">{
	<span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#333</span></span></span>;
	<span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"> <span class="hljs-number">40</span>px</span></span>;
	<span class="hljs-rule"><span class="hljs-attribute">overflow</span>:<span class="hljs-value"> hidden</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-class">.section--alternate</span> <span class="hljs-rules">{
	<span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#fff</span></span></span>;
<span class="hljs-rule">}</span></span>
</code></pre>
				</div>
			</div>
			<div class="ui-section__aside">
				<div class="ui-section__notes">
					<h4>Using modifiers</h4>
					<p>A modifier is use to changed the properties of <strong>'.section'</strong> from their default. It might change a background color, increase padding or changes margins.</p>
					<p>Modifiers are used where a change of some properties is desired, but some of the original properties remain.</p>
					<p>Remember, you can use modifiers to change child elements too, but be careful with how far down this road you go, as you can create too many dependencies. </p>
				</div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}