{% extends 'patterns.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% model 'ptn-forms', as="form" %}

{% set ui_title = "Forms" %}

{% block ui_description %}
	<p>Examples of form types and layout. You can toggle error state examples by changing their variables in the ptn-forms.json file in Models. View source – or refer to provided source code for how to implement.</p>
{% endblock %}

{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}
<div class="ui-row">
	
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Standard form inputs</h2>
		</div>
		<div class="ui-section__component">
			{% for item in form.input %}
				{% include 'forms/partials/input-types.html' %}
			{% endfor %}
		</div>
	</div>
	<!-- end Duplicate -->

	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Select input</h2>
		</div>
		<div class="ui-section__component">
			{% for item in form.select %}
				{% include 'forms/partials/select-type.html' %}
			{% endfor %}
		</div>
	</div>
	<!-- end Duplicate -->
	
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Textarea input</h2>
		</div>
		<div class="ui-section__component">
			{% for item in form.textarea %}
				{% include 'forms/partials/textarea-type.html' %}
			{% endfor %}
		</div>
	</div>
	<!-- end Duplicate -->
	
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Radio input</h2>
		</div>
		<div class="ui-section__component">
			{% for item in form.radio %}
				{% include 'forms/partials/radio-type.html' %}
			{% endfor %}
		</div>
	</div>
	<!-- end Duplicate -->
	
	<!-- Duplicate -->
	<div class="ui-section">
		<div class="ui-section__header">
			<h2>Checkbox input</h2>
		</div>
		<div class="ui-section__component">
			{% for item in form.checkbox %}
				{% include 'forms/partials/checkbox-type.html' %}
			{% endfor %}
		</div>
	</div>
	<!-- end Duplicate -->
	
</div>
{% endblock %}