{% extends 'patterns.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% set ui_title = "Developer guide" %}

{% block ui_description %}
	<p>This guide is designed to help you as a developer, or a development team understand some of the principles behind how pages and modules are constructed.</p>
{% endblock %}

{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}
<div class="ui-row">
	<div class="ui-section">
		<ul class="ui-page-visuals">
		{% set cls = cycler("ui-fill-coleface", "ui-fill-petronas", "ui-fill-yolk", "ui-fill-jaffa", "ui-fill-flamingo", "ui-fill-jaffa", "ui-fill-elephant", "ui-fill-firetruck", "ui-fill-lemongrass", "ui-fill-felt", "ui-fill-petrol") %}
		{% for item in global.pages_developer_guide %}
			<li class="ui-page-visuals__item"><a href="{{ item.url }}" class="{{ cls.next() }}"><span>{{ item.name }}</span></a></li>
		{% endfor %}
		</ul>
	</div>
</div>	
{% endblock %}