// UI Frame
// ------------------------------------------------------------
@import "core/settings";
@import "core/mixins";

// Widths
$ui-switch-layout			: 1000px;

// Colours
$ui-mist 					: #e5edf0;
$ui-coleface 				: #202426;
$ui-elephant 				: #33393c;
$ui-petronas 				: #15ebd4;
$ui-yolk 					: #fff600;
$ui-jaffa 					: #ffa304;
$ui-flamingo 				: #ff04cd;
$ui-firetruck 				: #f25111;
$ui-lemongrass 				: #0edc35;
$ui-felt					: #684b67;
$ui-petrol					: #4b5e68;


// Fonts
$ui-font-family				: 'Roboto', sans-serif;
$ui-font-family-mono		: 'Fira Mono', Consolas, monospace;

// Sizing
$ui-alpha 					: 27px;
$ui-beta	 				: 14px;
$ui-gamma					: 14px;
$ui-delta 					: 12px;

.ui-clearfix				{ &:after { content: ""; display: table; clear: both; *zoom: 1; } }


// Basics
// ------------------------------------------------------------

html {
	border: 0!important;
	&:after,
	&:before { 
		display: none!important; 
	}
}

body { 
	background: $ui-mist!important; 
	padding-left: 0!important; ;
	padding-right: 0!important; ;
}

.ui-wrapper { 
	clear: both; 
	overflow-x: hidden;
}

.ui-row {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 15px 20px;
	position: relative;
	@include respond-to($ui-switch-layout) {
		padding-left: 30px;
		padding-right: 30px;
	}
	.pagecontent & {
		+ .ui-row + .ui-row {
			padding-top: 0;
		}
	}
}

.ui-alert {
	@extend .ui-row;
	color: $ui-coleface;
	background-color: $ui-yolk;
	padding-top: 8px;
	padding-bottom: 10px;
	font-size: $ui-gamma!important;
	font-family: $ui-font-family!important;
	a {
		color: $ui-coleface;
		font-size: $ui-gamma;
		text-decoration: underline;
		@include link-active-styles {
			color: $ui-coleface;
			text-decoration: none;
		}
	}
}

.ui-alert--trailer {
	margin-bottom: 10px;
}

.ui-wrapper {
	.pagecontent {
		min-height: 90vh;
	}
}

// Header
// ------------------------------------------------------------

.ui-header {
	background-color: $ui-coleface;
	font-size: $ui-gamma!important;
	color: #fff;
	position: relative;
	@include respond-to-max($ui-switch-layout) {
		.ui-row {
			padding-bottom: 0;
		}
	}
}

.ui-header__title {
	font-family: $ui-font-family!important;
	font-size: $ui-gamma!important;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;	
		font-size: $ui-gamma!important;
		@include link-active-styles {
			color: $ui-petronas;
		}
	}
}

.ui-navigation {
	transition: max-height ease-in-out 0.15s;
	@include respond-to-max($ui-switch-layout) {
		padding-top: 12px;
		padding-bottom: 9px;
	}
	@include respond-to($ui-switch-layout) {
		position: absolute;
		top: 0;
		right: 30px;
	}
}

.ui-navigation__item {
	font-size: $ui-gamma!important; 
	font-family: $ui-font-family!important; 
	a {
		color: #fff;
		font-size: $ui-gamma!important; 
		@include link-active-styles {
			color: $ui-petronas;
		}
	}
	@include respond-to-max($ui-switch-layout) {
		display: inline;
		margin-right: 12px;
		a {
			padding-bottom: 8px;
			padding-top: 8px;
			display: inline-block;
		}
	}
	@include respond-to($ui-switch-layout) {
		display: inline-block;
		a {
			padding: 15px 12px;
			display: block;
			.ui-navigation-secondary & {
				padding: 2px 20px 2px 0px;
			}
		}
	}
}

.ui-navigation__item--current {
	a {
		@include respond-to($ui-switch-layout) {
			.ui-navigation & {
				color: $ui-petronas;
				background-color: $ui-elephant;
			}
			.ui-navigation-secondary & {
				color: $ui-petronas;
			}
		}
	}
}

.ui-navigation-secondary {
	background-color: $ui-elephant;
	font-family: $ui-font-family!important;
	font-size: $ui-delta!important;
	color: #fff;
	position: relative;
	display: none;
	@include respond-to($ui-switch-layout) {
		display: block;
		.ui-row {
			padding-top: 8px;
			padding-bottom: 11px;		
		} 
	}
}


// Footer
// ------------------------------------------------------------

.ui-footer {
	background-color: #fff;
	margin-top: 20px;
	font-size: $ui-gamma!important;
	p {
		font-size: $ui-gamma!important;
	}
	a {
		border-bottom: 1px solid #777;
		font-size: $ui-gamma!important;
		&:hover, &:focus, &:active {
			border-bottom-color: transparent;
		}
	}
}


// Hero
// ------------------------------------------------------------

.ui-hero {
	background-color: lighten($ui-coleface, 5%);
	@include respond-to($ui-switch-layout) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.ui-hero__heading {
	color: #fff;
	font-size: $ui-alpha!important;
	font-family: $ui-font-family!important; 
	margin-bottom: 8px;
}

.ui-hero__caption {
	color: #fff;
	max-width: 980px;
	font-family: $ui-font-family!important; 
	p {
		color: #fff;
		font-size: $ui-gamma!important;
		line-height: 1.6;
	}
	a {
		text-decoration: underline!important; 
		color: #fff;
		font-size: $ui-gamma!important;
		@include link-active-styles {
			color: $ui-petronas;
		}
	}
}

// Sections
// ------------------------------------------------------------

.ui-section {
	padding-bottom: 39px;
	@extend .ui-clearfix;
	+ .ui-section {
		border-top: 1px solid lighten($ui-elephant, 55%);
	}
	&--normalised {
		padding-bottom: 0;
	}
	&--first {
		margin-top: 19px;
	}
}

.ui-section--highlight {
	background-color: #fff;
	padding: 15px;
	border-bottom: 1px solid $ui-elephant;
	+ .ui-section--highlight {
		margin-top: 14px;
		border-top: 0;
	}
}

.ui-section__header {
	font-family: $ui-font-family!important;
	font-size: ($ui-gamma - 3)!important;
	text-transform: uppercase;
	padding: 8px 8px;
	background-color: $ui-firetruck;
	color: #fff;
	display: inline-block;
	margin-bottom: 15px;
	position: relative;
	top: -1px;
	h1,h2,h3,h4,h5,h6 {
		font-family: $ui-font-family!important;
		color: #fff;
		font-size: ($ui-gamma - 3)!important;
	}
}

.ui-section__header--status-flag {
	font-size: ($ui-alpha - 8px)!important;
	margin-bottom: 10px;
}

.ui-section__component {
	position: relative;
	margin-bottom: 15px;
}

.ui-section__body {
	overflow: hidden;
	margin-bottom: 15px;
}

.ui-section__main {
	margin-bottom: 20px;
	@include respond-to($ui-switch-layout) {
		margin-bottom: 0;
		width: 55%;
		float: left;
		display: inline-block;
	}
}

.ui-section__aside {
	@include respond-to($ui-switch-layout) {
		width: 42.2%;
		margin-left: 2.5%;
		float: left;
		display: inline-block;
	}
}

.ui-section__code {
	background-color: #fff;
}

.ui-section__notes {
	background-color: $ui-elephant;
	color: #fff;
	font-family: $ui-font-family!important;
	padding: 15px;
	h1,h2,h3,h4,h5,h6,p,li,span,strong,b,cite {
		color: #fff;
		font-family: $ui-font-family!important;
		font-size: $ui-delta!important;
		line-height: 1.6;
	}
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 6px;
		font-size: $ui-beta!important;
		line-height: 1.4;
		color: $ui-petronas;
	}
	li {
		margin-bottom: 8px;
		font-size: $ui-gamma!important;
	}
	p {
		margin-bottom: 8px;
		font-size: $ui-gamma!important;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		font-size: inherit;
		@include link-active-styles {
			color: $ui-petronas;
		}
	}
	+ .ui-section__notes {
		margin-top: 4px;
	}
}

.ui-section__body__type {
	h1,h2,h3,h4,h5,h6,p,li,a {
		color: $ui-petrol;
		font-family: $ui-font-family!important;
		font-size: $ui-gamma!important;
		line-height: 1.6;
	}
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 6px;
		font-size: $ui-beta!important;
		line-height: 1.4;
		color: $ui-coleface;
	}
	li {
		margin-bottom: 4px;
		font-size: $ui-gamma!important;
	}
	p {
		margin-bottom: 8px;
		font-size: $ui-gamma!important;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: $ui-flamingo;
		text-decoration: underline;
		@include link-active-styles {
			color: $ui-felt;
		}
	}
}

// Descriptive lists
// ------------------------------------------------------------

.ui-section__descriptive-list {
	overflow: hidden;
}

.ui-section__descriptive-list-dt {
	display: inline-block;
	vertical-align: top;
	font-family: $ui-font-family!important;
	width: 35%;
	clear: left;
	float: left;
	border-top: 1px solid $ui-mist;
	padding-bottom: 6px;
	padding-top: 6px;
	font-size: $ui-gamma!important;
}

.ui-section__descriptive-list-dd {
	@extend .ui-section__descriptive-list-dt;
	font-family: $ui-font-family!important;
	width: 65%;
	padding-left: 5%;
	clear: none;
}

// Swatches
// ------------------------------------------------------------

.ui-swatches {
	overflow: hidden;
	li {
		width: 100%;
		margin-bottom: 10px;
		@include respond-to($ui-switch-layout) {
			width: 150px;
			margin-right: 5px;
		}
		display: block;
		float: left;
		background-color: #fff;
	}
	.swatch {
		display: block;
		height: 80px;
		@include respond-to($ui-switch-layout) {
			height: 130px;
		}
	}
	.swatch-name {
		font-size: $ui-delta!important;
		font-family: $ui-font-family!important;
		padding: 0 8px;
		padding-top: 8px;
		text-transform: capitalize;
		font-weight: 700;
		display: block;
	}
	.swatch-color {
		font-size: $ui-delta!important;
		font-family: $ui-font-family!important;
		padding: 0 8px;
		display: block;
	}
	.swatch-usage {
		font-size: $ui-delta!important;
		font-family: $ui-font-family!important;
		padding: 0 8px;
		display: block;
		&:last-child {
			padding-bottom: 8px;
		}
	}
}

// Waypoints
// ------------------------------------------------------------

.ui-section__list-waypoints {
	
}

.ui-section__list-waypoint {
	font-family: $ui-font-family!important; 
	font-size: $ui-gamma!important; 
	display: block;
	.ui-section__list-waypoints--alt & {
		display: block;
		border-left: none;
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 5px;
	}
	a {
		color: $ui-petrol;
		text-decoration: underline;
		font-size: inherit;
		@include link-active-styles {
			color: darken($ui-petronas, 20%);
		}
	}
}

.ui-section__header--status-flag {
	background-color: transparent;
	color: $ui-coleface;
	padding-left: 0;
	padding-right: 0;
	text-transform: none;
	&:before {
		content: "";
		display: inline-block;
		width: 35px;
		height: 20px;
		background-color: $ui-petrol;
		position: relative;
		top: 3px;
		margin-right: 6px;
		.ui-waypoint-in-progress & {  }
		.ui-waypoint-review & { background-color: $ui-flamingo; }
		.ui-waypoint-signed-off & { background-color: $ui-petronas; }
		.ui-waypoint-tested-approved & { background-color: $ui-jaffa; }
		.ui-waypoint-tested-rejected & { background-color: $ui-firetruck; }
		.ui-waypoint-delivered & { background-color: $ui-lemongrass; }
	}
}


// Sub–page visuals
// ------------------------------------------------------------

.ui-page-visuals {
	display: flex;
	flex-wrap: wrap;
}

.ui-page-visuals__item {
	width: 100%;
	display: flex;
	margin-bottom: 2%;
	font-family: $ui-font-family!important;
	font-size: $ui-beta!important;
	position: relative;
	background-color: lighten($ui-coleface, 5%);
	transition: all ease-in 0.25s;
	@include respond-to(500px) {
		width: 49%;
		margin-left: 2%;
	}
	@include respond-to-max($ui-switch-layout) {
		&:nth-of-type(2n+1) {
			margin-left: 0;
		}
	}
	@include respond-to($ui-switch-layout) {
		width: 24.25%;
		margin-left: 1%;
		margin-bottom: 1%;
		&:nth-of-type(4n+1) {
			margin-left: 0;
			clear: left;
		}
		.ui-page-visuals--2up & {
			width: 49.5%;
			&:nth-of-type(4n+1) {
				margin-left: 1%;
				clear: none;
			}
			&:nth-of-type(2n+1) {
				margin-left: 0;
				clear: left;
			}
		}
		.ui-page-visuals--3up & {
			width: 32.65%;
			&:nth-of-type(4n+1) {
				margin-left: 1%;
				clear: none;
			}
			&:nth-of-type(3n+1) {
				margin-left: 0;
				clear: left;
			}
		}
	}
	a {
		padding: 25px;
		padding-top: 15px;
		min-height: 200px;
		width: 100%;
		display: block;
		line-height: 1.4;
		z-index: 2;
		color: #bbb!important;
		transition: all ease-in 1s;
		padding-bottom: 50px;
		span {
			display: block;
			color: #fff!important;
			font-size: $ui-beta+3!important;
			line-height: 1.4!important;
			margin-bottom: 10px;
		}
		@include link-active-styles {
			background-color: $ui-felt;
		}
	}
}

// Teams
// ------------------------------------------------------------

.ui-section__team {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}

.ui-section__team__member {
	font-family: $ui-font-family!important;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: $ui-gamma!important;
	display: block;
	width: 100%;
	background-color: #fff;
	padding: 20px;
	strong, a {
		display: block;
		font-size: $ui-gamma!important;
	}
	strong {
		font-family: $ui-font-family!important;
	}
	&__image {
		width: 60px;
		height: 60px;
		display: block;
		border-radius: 50%;
		margin-bottom: 5px;
	}
	@include respond-to($ui-switch-layout) {
		width: 23.825%;
		float: left;
		margin-left: 1.5%;
		&:nth-child(4n+1) {
			margin-left: 0;
		}
	}
}

// Roadmap
// ------------------------------------------------------------

.ui-roadmap {
	overflow: hidden;
	position: relative;
	margin-top: 20px;
	&__row {
		overflow: hidden;
		border-bottom: 1px solid #aaa;
		background-color: #fff;
		&:first-of-type {
			border-top: 1px solid #aaa;
		}
		&--review {
			background-color: lighten($ui-flamingo, 35%); 
		}
		&--approved {
			background-color: lighten($ui-petronas, 18%); 
		}
	}
	&__cell {
		float: left;
		width: 50%;
		display: inline-block;
		font-size: 12px;
		padding: 10px;
		color: #1a1a1a;
		@include respond-to($ui-switch-layout) {
			font-size: 14px;
			padding: 10px 15px;
		}
		a {
			color: #1a1a1a;
			text-decoration: underline;
			display: block;
		}
		&--type1 {
			text-transform: capitalize;
			width: 70%;
			background-color: rgba(255,255,255,0.7);
			@include respond-to($ui-switch-layout) {
				width: 90%;
			}
		}
		&--type2 {
			border-left: 1px solid #aaa;
			text-transform: capitalize;
			font-weight: 600;
			width: 30%;
			@include respond-to($ui-switch-layout) {
				width: 10%;
			}
		}
	}
}

// Code highlighting
// ------------------------------------------------------------

.hljs-comment,.hljs-title {
	color: #999;
}

.hljs-variable,.hljs-attribute,.hljs-tag,.hljs-regexp,.ruby .hljs-constant,.xml .hljs-tag .hljs-title,.xml .hljs-pi,.xml .hljs-doctype,.html .hljs-doctype,.css .hljs-id,.css .hljs-class,.css .hljs-pseudo {
	color: $ui-flamingo;
}

.hljs-number,.hljs-preprocessor,.hljs-pragma,.hljs-built_in,.hljs-literal,.hljs-params,.hljs-constant {
	color: $ui-petrol;
}

.ruby .hljs-class .hljs-title,.css .hljs-rules .hljs-attribute { 
	color: $ui-felt; 
}

.hljs-string,.hljs-value,.hljs-inheritance,.hljs-header,.ruby .hljs-symbol,.xml .hljs-cdata { 
	color: darken($ui-petronas, 20%);
}

.css .hljs-hexcolor { 
	color: #6cc; 
}

.hljs-function,.python .hljs-decorator,.python .hljs-title,.ruby .hljs-function .hljs-title,.ruby .hljs-title .hljs-keyword,.perl .hljs-sub,.javascript .hljs-title,.coffeescript .hljs-title { 
	color: #69c; 
}

.hljs-keyword,.javascript .hljs-function { 
	color: #c9c; 
}

.hljs { 
	display: block;
	background: #fff;
	color: $ui-elephant;
	padding: 0.5em; 
	font-size: $ui-gamma;
	font-family: "Fira Mono", monospace!important;
	overflow: scroll;
	font-size: 12px;
}
	
.coffeescript .javascript,.javascript .xml,.tex .hljs-formula,.xml .javascript,.xml .vbscript,.xml .css,.xml .hljs-cdata {
	opacity:.5; 
}

.hljs-tag,
.hljs-class,
.hljs-rule {
	font-size: 12px;
	span {
		font-size: inherit;
	}
}
