{% load responsive %}

<div class="section">
    <div class="row">
        <h2 class="section__heading">{{ page.getting_started_title }}</h2>
        <div class="l-3up">
            {% for item in page.getting_started %}
                <div class="l-3up__col">
                    <div class="help">
                        {% responsiveimage item.image max-360x200 srcset=global.getting_started_srcs as image %}
                        <div class="help__header background-cover" {{ image | responsive_id }}>
                            {{ image | responsive_css }}
                            <div class="help__panel fill-wind">
                                <h3 class="help__heading">{{ item.title }}</h3>
                            </div>
                        </div>
                        <div class="help__body">
                            <div class="help__body-copy">
                                {{ item.description|linebreaks }}
                            </div>
                            <a class="button" href="{{ item.page.url }}">{{ item.link_label }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
