{% extends "base.html" %}
{% load wagtailcore_tags iati_tags i18n %}

{% block body_class %}body body--standard{% endblock %}
{% block body_id %}body-standard{% endblock %}

{% block content %}
  <div class="hero hero--minor">
    {% include "home/includes/hero_heading.html" %}
  </div>

  {% if self.version != "203" and self.version != "guidance" and self.version != "developer-documentation" %}
  <div class="hero-notice">
      <div class="row">
          <p class="hero-notice__copy"><i role="presentation" aria-hidden="true" class="ico ico--18 ico-warning-warning"></i>This version is DEPRECATED, <a href="#">v2.03</a> is the latest version</p>
      </div>
  </div>
  {% endif %}

  <div class="row">
  	<div class="l-sidebar l-sidebar--reverse l-sidebar--wide">
      {% reference_menu calling_page=self %}

  		<div class="l-sidebar__body">
        <section>
          <div class="is-typeset">
            {{ self.data|safe }}
          </div>
        </section>
  		</div>
  	</div>
  </div>
{% endblock %}
