{% extends "base.html" %}
{% load wagtailcore_tags iati_tags i18n %}

{% block body_class %}body body--standard{% endblock %}
{% block body_id %}body-standard{% endblock %}

{% block hero %}
    {% include "home/includes/hero_heading.html" %}
    {% include "notices/page-notice.html" %}
{% endblock %}

{% block content %}

    {% if self.static %}
        {% include "iati_standard/includes/iati_standard_page_static.html" %}
    {% else %}
        <div class="row">
            <div class="l-sidebar">
                <div class="l-sidebar__body">
                    {% if page.content_editor %}
                        {% include "home/includes/streamfield.html" with content=page.content_editor %}
                    {% endif %}
                </div>
                <aside class="l-sidebar__aside">
                    {% if self.how_to_use_page %}
                        <div class="aside-m">
                            <div class="aside-m__header fill-sunset">
                                <h3 class="aside-m__heading">{% trans "How to use the IATI Reference" %}</h3>
                                <a class="button" href="{% pageurl self.how_to_use_page %}">{% trans "Visit our guidance" %}</a>
                            </div>
                        </div>
                    {% endif %}
                </aside>
            </div>
        </div>
        <div class="space-section-bottom">
            <div class="row">
                <div class="l-4up">
                    {% for reference_card in self.reference_cards %}
                        {{ reference_card }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
