{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}body body--support{% endblock %}
{% block body_id %}body-support{% endblock %}

{% block content %}
<div class="hero hero--minor">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">Knowledgebase</h1>

                    <p class="hero__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

            </div>
            <div class="hero__emblem"></div>
        </div>
    </div>
    <form class="m-search">
    <div class="row">
        <div class="form-field">
            <label class="form-label" for="search">Search knowledgebase</label>
            <input class="form-item" id="search" type="text" name="search" value="Search term...">
        </div>
        <div class="form-field">
            <input class="button button--block" type="submit" value="Search">
        </div>
    </div>
</form>



<div class="row">
	<div class="l-sidebar">
		<div class="l-sidebar__body">

    <h2 class="type-l type-l--trailer heading">Most frequently viewed articles</h2>
    <div class="l-cards-block">

            <div class="card card--knowledge card--block">
    <h2 class="card__heading"><a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</span></a></h2>
</div>


            <div class="card card--knowledge card--block">
    <h2 class="card__heading"><a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipisicing.</span></a></h2>
</div>


            <div class="card card--knowledge card--block">
    <h2 class="card__heading"><a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</span></a></h2>
</div>


            <div class="card card--knowledge card--block">
    <h2 class="card__heading"><a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</span></a></h2>
</div>


            <div class="card card--knowledge card--block">
    <h2 class="card__heading"><a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</span></a></h2>
</div>


            <div class="card card--knowledge card--block">
    <h2 class="card__heading"><a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</span></a></h2>
</div>


    </div>

		</div>
		<aside class="l-sidebar__aside">

    <div class="aside-m">
        <div class="aside-m__header fill-sunset">
            <h3 class="aside-m__heading">Contact support</h3>
        </div>
        <div class="aside-m__body">
            <p class="aside-m__copy">Our technical team are ready to help you.</p>
            <a class="button js-move" data-target="support" href="#support">Get help</a>
        </div>
    </div>

		</aside>
	</div>
</div>


    <a id="support"></a>
    <div class="section">
        <div class="row">
            <h2 class="section__heading">Contact support</h2>
            <p class="para para--typeset">Please complete the form below and our team will be able to help you</p>
            <form class="form form--support">
                <div class="l-2up">
                    <div class="l-2up__col">


<div class="form-field ">

	<label for="name" id="" class="form-label ">Name</label>
	<input id="name" class="form-item" name="name"  type="text" placeholder="Text placeholder">


</div>


<div class="form-field form-field--spaced ">

	<label for="email" id="" class="form-label ">Email</label>
	<input id="email" class="form-item" name="email"  type="email" placeholder="Email placeholder">


</div>

                        <div class="form-field form-field--spaced">
                            <label class="form-label" for=file>Attachment</label>
                            <div class="form-item-inline">
                                <input class="form-file" type="file" name="file">
                            </div>
                        </div>
                    </div>
                    <div class="l-2up__col">


<div class="form-field ">

	<label for="textarea" class="form-label ">Textarea</label>
	<textarea id="textarea" class="form-item" name="textarea" ></textarea>


</div>

                    </div>
                </div>
                <div class="form-field form-field--spaced">
                    <button type="submit" class="button">Submit request</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
