
.ico-arrow-ash {
	background-image: url('png/arrow-ash.png');
	background-repeat: no-repeat;
}



.ico-arrow-black {
	background-image: url('png/arrow-black.png');
	background-repeat: no-repeat;
}



.ico-arrow-ocean {
	background-image: url('png/arrow-ocean.png');
	background-repeat: no-repeat;
}



.ico-arrow-sunrise {
	background-image: url('png/arrow-sunrise.png');
	background-repeat: no-repeat;
}



.ico-arrow-white {
	background-image: url('png/arrow-white.png');
	background-repeat: no-repeat;
}



.ico-bookmark-ash {
	background-image: url('png/bookmark-ash.png');
	background-repeat: no-repeat;
}



.ico-bookmark-black {
	background-image: url('png/bookmark-black.png');
	background-repeat: no-repeat;
}



.ico-bookmark-ocean {
	background-image: url('png/bookmark-ocean.png');
	background-repeat: no-repeat;
}



.ico-bookmark-white {
	background-image: url('png/bookmark-white.png');
	background-repeat: no-repeat;
}



.ico-calendar-ash {
	background-image: url('png/calendar-ash.png');
	background-repeat: no-repeat;
}



.ico-calendar-black {
	background-image: url('png/calendar-black.png');
	background-repeat: no-repeat;
}



.ico-calendar-ocean {
	background-image: url('png/calendar-ocean.png');
	background-repeat: no-repeat;
}



.ico-calendar-white {
	background-image: url('png/calendar-white.png');
	background-repeat: no-repeat;
}



.ico-cross-ash {
	background-image: url('png/cross-ash.png');
	background-repeat: no-repeat;
}



.ico-cross-black {
	background-image: url('png/cross-black.png');
	background-repeat: no-repeat;
}



.ico-cross-ocean {
	background-image: url('png/cross-ocean.png');
	background-repeat: no-repeat;
}



.ico-cross-white {
	background-image: url('png/cross-white.png');
	background-repeat: no-repeat;
}



.ico-error-error {
	background-image: url('png/error-error.png');
	background-repeat: no-repeat;
}



.ico-location-ash {
	background-image: url('png/location-ash.png');
	background-repeat: no-repeat;
}



.ico-location-black {
	background-image: url('png/location-black.png');
	background-repeat: no-repeat;
}



.ico-location-ocean {
	background-image: url('png/location-ocean.png');
	background-repeat: no-repeat;
}



.ico-location-white {
	background-image: url('png/location-white.png');
	background-repeat: no-repeat;
}



.ico-play-ash {
	background-image: url('png/play-ash.png');
	background-repeat: no-repeat;
}



.ico-play-black {
	background-image: url('png/play-black.png');
	background-repeat: no-repeat;
}



.ico-play-ocean {
	background-image: url('png/play-ocean.png');
	background-repeat: no-repeat;
}



.ico-play-white {
	background-image: url('png/play-white.png');
	background-repeat: no-repeat;
}



.ico-plus-ash {
	background-image: url('png/plus-ash.png');
	background-repeat: no-repeat;
}



.ico-plus-black {
	background-image: url('png/plus-black.png');
	background-repeat: no-repeat;
}



.ico-plus-ocean {
	background-image: url('png/plus-ocean.png');
	background-repeat: no-repeat;
}



.ico-plus-sunrise {
	background-image: url('png/plus-sunrise.png');
	background-repeat: no-repeat;
}



.ico-plus-white {
	background-image: url('png/plus-white.png');
	background-repeat: no-repeat;
}



.ico-search-ash {
	background-image: url('png/search-ash.png');
	background-repeat: no-repeat;
}



.ico-search-black {
	background-image: url('png/search-black.png');
	background-repeat: no-repeat;
}



.ico-search-ocean {
	background-image: url('png/search-ocean.png');
	background-repeat: no-repeat;
}



.ico-search-white {
	background-image: url('png/search-white.png');
	background-repeat: no-repeat;
}



.ico-success-success {
	background-image: url('png/success-success.png');
	background-repeat: no-repeat;
}



.ico-test {
	background-image: url('png/test.png');
	background-repeat: no-repeat;
}



.ico-time-ash {
	background-image: url('png/time-ash.png');
	background-repeat: no-repeat;
}



.ico-time-black {
	background-image: url('png/time-black.png');
	background-repeat: no-repeat;
}



.ico-time-ocean {
	background-image: url('png/time-ocean.png');
	background-repeat: no-repeat;
}



.ico-time-white {
	background-image: url('png/time-white.png');
	background-repeat: no-repeat;
}



.ico-user-ash {
	background-image: url('png/user-ash.png');
	background-repeat: no-repeat;
}



.ico-user-black {
	background-image: url('png/user-black.png');
	background-repeat: no-repeat;
}



.ico-user-ocean {
	background-image: url('png/user-ocean.png');
	background-repeat: no-repeat;
}



.ico-user-white {
	background-image: url('png/user-white.png');
	background-repeat: no-repeat;
}



.ico-warning-warning {
	background-image: url('png/warning-warning.png');
	background-repeat: no-repeat;
}



.ico-warning-white {
	background-image: url('png/warning-white.png');
	background-repeat: no-repeat;
}


