// ------------------------------------------------------------
// Sizing
// ------------------------------------------------------------

// 'xl' for Extra large
.type-xl {
	@include font-size($alpha);
	@include leading($alpha/1.25);
	&--leader {
		@include leader($alpha/1.25);
	}
	&--trailer {
		@include trailer($alpha/2);
	}
	&.heading {

	}
}

// 'l' for Large
.type-l {
	@include font-size($beta);
	&--leader {
		@include leader($beta);
	}
	&--trailer {
		@include trailer($beta/2);
	}
	&.heading {

	}
}

// 'm' stands for Median not Medium
// This should be the middle typesize
.type-m {
	@include font-size($gamma);
	&--leader {
		@include leader($gamma);
	}
	&--trailer {
		@include trailer($gamma/2);
	}
	&.heading {

	}
}

// 's' for Small
.type-s {
	@include font-size($delta);
	&--leader {
		@include leader($delta);
	}
	&--trailer {
		@include trailer($delta/2);
	}
	&.heading {

	}
}

// 'xs' for Extra small
.type-xs {
	@include font-size($epsilon);
	&--leader {
		@include leader($epsilon);
	}
	&--trailer {
		@include trailer($epsilon/2);
	}
	&.heading {

	}
}


// ------------------------------------------------------------
// Headings
// ------------------------------------------------------------

.heading {
	@extend %font-heading;
}

// ------------------------------------------------------------
// Assignments for commonly used text
// ------------------------------------------------------------

// Paragraphs
.para 							{ @include font-size($para); }
.para--typeset 					{ @include trailer($para); }

// List items
.list-item						{ @include font-size($para); }
.list-item--typeset 			{ @include trailer($para/2); }

// Lists
.unordered-list 	{
	@include unordered;
	padding-left: 3em;
	li {
		@extend .list-item;
		@extend .list-item--typeset;
	}
}

.ordered-list 	{
	@include ordered;
	padding-left: 3.5em;
	li {
		@extend .list-item;
		@extend .list-item--typeset;
	}
}

.nobullet-list 	{
	@include nobullet;
	li {
		@extend .list-item;
		@extend .list-item--typeset;
	}
}

.list--typeset 					{ @include trailer($para); @include leader($para); }
.unordered-list--typeset 		{ @extend .list--typeset; }
.ordered-list--typeset 			{ @extend .list--typeset; }


// ------------------------------------------------------------
// Use on parent element to style elements within. E.g an article page
// ------------------------------------------------------------

.is-typeset {

	h1 {
		@extend .type-l;
		@extend .type-l--leader;
		@extend .type-l--trailer;
		@extend .heading;
		&:hover > a.m-header-link {
			visibility: visible;
		}
	}

	h2 {
		@extend .type-m;
		@extend .type-m--leader;
		@extend .type-m--trailer;
		@extend .heading;
		&:hover > a.m-header-link {
			visibility: visible;
		}
	}

	h3 {
		@extend .type-s;
		@extend .type-s--leader;
		//@extend .type-s--trailer;
		@extend .heading;
		&:hover > a.m-header-link {
			visibility: visible;
		}
	}

	h4, h5, h6 {
		@extend .type-xs;
		@extend .type-xs--leader;
		//@extend .type-xs--trailer;
		@extend .heading;
		&:hover > a.m-header-link {
			visibility: visible;
		}
	}

	ol {
		@extend .ordered-list;
	}

	ul {
		@extend .unordered-list;
		margin-bottom: 2em;
		li ul {
			list-style-type: circle;
		}
	}

	p {
		@extend .para;
		@extend .para--typeset;
	}

	strong {
		@extend %font-heading;
	}

	a:not(.button) {
		border-bottom: 2px solid $action-respond;
	}

	img {
		@extend %max-width;
		margin: ($para/$rembase) + em 0;
		&.alignleft, &.left {
			@include respond-to($c-vp) {
				float: left;
				max-width: 50%;
				margin-right: 4em;
			}
		}
		&.alignright, &.right {
			@include respond-to($c-vp) {
				float: right;
				max-width: 50%;
				margin-left: 4em;
			}
		}
	}

	code {
		background-color: #fff;
		padding: 0.1em 0.25em;
		border: 1px solid darken(#fff, 10%);
		font-family: 'Courier', sans-serif;
		@include font-size($para);
		display: inline-block;
		border-radius: 3px;
		color: $iati-rain;
		margin-bottom: 1em;
		pre {
			display: inline-block;
			overflow-x: auto;
	        white-space: pre-wrap;
	        word-wrap: break-word;
			word-break: break-word;
			vertical-align: middle;
		}
	}

	pre code {
		display: inline-block;
		overflow-x: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
	}

	dl {
		dt {
			@extend %font-heading;
			@include font-size($para + 1);
			margin-bottom: 0.5em;
		}
		dd {
			@extend .para;
		}
	}

	// Tear out the initial top margin to allow things to flush together
	> h1:first-child,
	> h2:first-child,
	> h3:first-child,
	> h4:first-child,
	> h5:first-child,
	> h6:first-child,
	> img:first-child,
	> media-video-wrapper:first-child  {
		margin-top: 0;
	}

	// Stop it with your spacing with empty tags madness
	br + br,
	h1:empty,
	h2:empty,
	h3:empty,
	h4:empty,
	h5:empty,
	h6:empty,
	p:empty,
	ul:empty,
	ol:empty,
	span:empty,
	cite:empty,
	div:empty {
		display: none;
	}


	// For SSOT html output
	&--data {
		div {
			@extend .para;
			@extend .para--typeset;
		}
		div.highlight {
			background-color: #fff;
			padding: 0.1em 0.25em;
			border: 1px solid darken(#fff, 10%);
			font-family: 'Courier', sans-serif;
			@include font-size($para);
			display: inline-block;
			border-radius: 3px;
			color: $iati-rain;
			margin-bottom: 1em;
			pre {
				display: block;
				overflow-x: auto;
		        white-space: pre-wrap;
		        word-wrap: break-word;
			}
		}
		strong {
			@extend %font-heading;
		}
		em {
			text-decoration: underline;
		}
	}
}

// No bottom. Like a reverse Kim Kardashian
.is-typeset--no-trailing {
	p, li, ul, ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
